openapi: 3.2.0
info:
  title: DigitalOcean Monitoring API
  version: '2.0'
  description: '# Introduction


    The DigitalOcean API allows you to manage Droplets and resources within the

    DigitalOcean cloud in a simple, programmatic way using conventional HTTP requests.'
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  contact:
    name: DigitalOcean API Team
    email: api-engineering@digitalocean.com
  termsOfService: https://www.digitalocean.com/legal/terms-of-service-agreement/
servers:
- url: https://api.digitalocean.com
  description: production
security:
- bearer_auth: []
tags:
- name: Monitoring
  description: 'The DigitalOcean Monitoring API makes it possible to programmatically retrieve metrics as well as configure alert

    policies based on these metrics. The Monitoring API can help you gain insight into how your apps are performing

    and consuming resources.'
paths:
  /v2/monitoring/alerts:
    get:
      operationId: monitoring_list_alertPolicy
      summary: List Alert Policies
      description: Returns all alert policies that are configured for the given account. To List all alert policies, send a GET request to `/v2/monitoring/alerts`.
      tags:
      - Monitoring
      parameters:
      - $ref: '#/components/parameters/per_page'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          $ref: '#/components/responses/list_alert_policy_response'
        '401':
          $ref: '#/components/responses/unauthorized'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  \"https://api.digitalocean.com/v2/monitoring/alerts\""
      - lang: Python
        source: 'import os

          from pydo import Client


          client = Client(token=os.environ.get("DIGITALOCEAN_TOKEN"))


          resp = client.monitoring.list_alert_policy()'
      security:
      - bearer_auth:
        - monitoring:read
    post:
      operationId: monitoring_create_alertPolicy
      summary: Create Alert Policy
      description: To create a new alert, send a POST request to `/v2/monitoring/alerts`.
      tags:
      - Monitoring
      responses:
        '200':
          $ref: '#/components/responses/alert_policy_response'
        '401':
          $ref: '#/components/responses/unauthorized'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      requestBody:
        description: 'The `type` field dictates what type of entity that the alert policy applies to and hence what type of entity is passed in the `entities` array. If both the `tags` array and `entities` array are empty the alert policy applies to all entities of the relevant type that are owned by the user account. Otherwise the following table shows the valid entity types for each type of alert policy:


          Type | Description | Valid Entity Type

          -----|-------------|--------------------

          `v1/insights/droplet/memory_utilization_percent` | alert on the percent of memory utilization | Droplet ID

          `v1/insights/droplet/disk_read` | alert on the rate of disk read I/O in MBps | Droplet ID

          `v1/insights/droplet/load_5` | alert on the 5 minute load average | Droplet ID

          `v1/insights/droplet/load_15` | alert on the 15 minute load average | Droplet ID

          `v1/insights/droplet/disk_utilization_percent` | alert on the percent of disk utilization | Droplet ID

          `v1/insights/droplet/cpu` | alert on the percent of CPU utilization | Droplet ID

          `v1/insights/droplet/disk_write` | alert on the rate of disk write I/O in MBps | Droplet ID

          `v1/insights/droplet/public_outbound_bandwidth` | alert on the rate of public outbound bandwidth in Mbps | Droplet ID

          `v1/insights/droplet/public_inbound_bandwidth` | alert on the rate of public inbound bandwidth in Mbps | Droplet ID

          `v1/insights/droplet/private_outbound_bandwidth` | alert on the rate of private outbound bandwidth in Mbps | Droplet ID

          `v1/insights/droplet/private_inbound_bandwidth` | alert on the rate of private inbound bandwidth in Mbps | Droplet ID

          `v1/insights/droplet/load_1` | alert on the 1 minute load average | Droplet ID

          `v1/insights/lbaas/avg_cpu_utilization_percent`|alert on the percent of CPU utilization|load balancer ID

          `v1/insights/lbaas/connection_utilization_percent`|alert on the percent of connection utilization|load balancer ID

          `v1/insights/lbaas/droplet_health`|alert on Droplet health status changes|load balancer ID

          `v1/insights/lbaas/tls_connections_per_second_utilization_percent`|alert on the percent of TLS connections per second utilization (requires at least one HTTPS forwarding rule)|load balancer ID

          `v1/insights/lbaas/increase_in_http_error_rate_percentage_5xx`|alert on the percent increase of 5xx level http errors over 5m|load balancer ID

          `v1/insights/lbaas/increase_in_http_error_rate_percentage_4xx`|alert on the percent increase of 4xx level http errors over 5m|load balancer ID

          `v1/insights/lbaas/increase_in_http_error_rate_count_5xx`|alert on the count of 5xx level http errors over 5m|load balancer ID

          `v1/insights/lbaas/increase_in_http_error_rate_count_4xx`|alert on the count of 4xx level http errors over 5m|load balancer ID

          `v1/insights/lbaas/high_http_request_response_time`|alert on high average http response time|load balancer ID

          `v1/insights/lbaas/high_http_request_response_time_50p`|alert on high 50th percentile http response time|load balancer ID

          `v1/insights/lbaas/high_http_request_response_time_95p`|alert on high 95th percentile http response time|load balancer ID

          `v1/insights/lbaas/high_http_request_response_time_99p`|alert on high 99th percentile http response time|load balancer ID

          `v1/dbaas/alerts/load_15_alerts` | alert on 15 minute load average across the database cluster | database cluster UUID

          `v1/dbaas/alerts/memory_utilization_alerts` | alert on the percent memory utilization average across the database cluster | database cluster UUID

          `v1/dbaas/alerts/disk_utilization_alerts` | alert on the percent disk utilization average across the database cluster | database cluster UUID

          `v1/dbaas/alerts/cpu_alerts` | alert on the percent CPU usage average across the database cluster | database cluster UUID

          '
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/alert_policy_request'
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST \\                                                                                                                              \n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  \"https://api.digitalocean.com/v2/monitoring/alerts\" \\\n  --data '{\"alerts\":{\"email\":[\"alerts@example.com\"]},\"compare\":\"GreaterThan\",\"description\":\"CPU Alert\",\"enabled\":true,\"entities\":[\"12345678\"],\"tags\":[\"droplet_tag\"],\"type\":\"v1/insights/droplet/cpu\",\"value\":80,\"window\":\"5m\"}'"
      - lang: Python
        source: "import os\nfrom pydo import Client\n\nclient = Client(token=os.environ.get(\"DIGITALOCEAN_TOKEN\"))\n\nreq = {\n  \"alerts\": {\n    \"email\": [\n      \"bob@exmaple.com\"\n    ],\n    \"slack\": [\n      {\n        \"channel\": \"Production Alerts\",\n        \"url\": \"https://hooks.slack.com/services/REDACTED\"\n      }\n    ]\n  },\n  \"compare\": \"GreaterThan\",\n  \"description\": \"CPU Alert\",\n  \"enabled\": True,\n  \"entities\": [\n    \"192018292\"\n  ],\n  \"tags\": [\n    \"droplet_tag\"\n  ],\n  \"type\": \"v1/insights/droplet/cpu\",\n  \"value\": 80,\n  \"window\": \"5m\"\n}\n\nresp = client.monitoring.create_alert_policy(body=req)"
      security:
      - bearer_auth:
        - monitoring:create
  /v2/monitoring/alerts/{alert_uuid}:
    get:
      operationId: monitoring_get_alertPolicy
      summary: Retrieve an Existing Alert Policy
      description: To retrieve a given alert policy, send a GET request to `/v2/monitoring/alerts/{alert_uuid}`
      tags:
      - Monitoring
      responses:
        '200':
          $ref: '#/components/responses/alert_policy_response'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      parameters:
      - $ref: '#/components/parameters/alert_uuid'
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  \"https://api.digitalocean.com/v2/monitoring/alerts/78b3da62-27e5-49ba-ac70-5db0b5935c64\""
      - lang: Python
        source: 'import os

          from pydo import Client


          client = Client(token=os.environ.get("DIGITALOCEAN_TOKEN"))


          resp = client.monitoring.get_alert_policy(alert_uuid="dfa8da")'
      security:
      - bearer_auth:
        - monitoring:read
    put:
      operationId: monitoring_update_alertPolicy
      summary: Update an Alert Policy
      description: To update en existing policy, send a PUT request to `v2/monitoring/alerts/{alert_uuid}`.
      tags:
      - Monitoring
      responses:
        '200':
          $ref: '#/components/responses/alert_policy_response'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      parameters:
      - $ref: '#/components/parameters/alert_uuid'
      requestBody:
        description: 'The `type` field dictates what type of entity that the alert policy applies to and hence what type of entity is passed in the `entities` array. If both the `tags` array and `entities` array are empty the alert policy applies to all entities of the relevant type that are owned by the user account. Otherwise the following table shows the valid entity types for each type of alert policy:


          Type | Description | Valid Entity Type

          -----|-------------|--------------------

          `v1/insights/droplet/memory_utilization_percent` | alert on the percent of memory utilization | Droplet ID

          `v1/insights/droplet/disk_read` | alert on the rate of disk read I/O in MBps | Droplet ID

          `v1/insights/droplet/load_5` | alert on the 5 minute load average | Droplet ID

          `v1/insights/droplet/load_15` | alert on the 15 minute load average | Droplet ID

          `v1/insights/droplet/disk_utilization_percent` | alert on the percent of disk utilization | Droplet ID

          `v1/insights/droplet/cpu` | alert on the percent of CPU utilization | Droplet ID

          `v1/insights/droplet/disk_write` | alert on the rate of disk write I/O in MBps | Droplet ID

          `v1/insights/droplet/public_outbound_bandwidth` | alert on the rate of public outbound bandwidth in Mbps | Droplet ID

          `v1/insights/droplet/public_inbound_bandwidth` | alert on the rate of public inbound bandwidth in Mbps | Droplet ID

          `v1/insights/droplet/private_outbound_bandwidth` | alert on the rate of private outbound bandwidth in Mbps | Droplet ID

          `v1/insights/droplet/private_inbound_bandwidth` | alert on the rate of private inbound bandwidth in Mbps | Droplet ID

          `v1/insights/droplet/load_1` | alert on the 1 minute load average | Droplet ID

          `v1/insights/lbaas/avg_cpu_utilization_percent`|alert on the percent of CPU utilization|load balancer ID

          `v1/insights/lbaas/connection_utilization_percent`|alert on the percent of connection utilization|load balancer ID

          `v1/insights/lbaas/droplet_health`|alert on Droplet health status changes|load balancer ID

          `v1/insights/lbaas/tls_connections_per_second_utilization_percent`|alert on the percent of TLS connections per second utilization (requires at least one HTTPS forwarding rule)|load balancer ID

          `v1/insights/lbaas/increase_in_http_error_rate_percentage_5xx`|alert on the percent increase of 5xx level http errors over 5m|load balancer ID

          `v1/insights/lbaas/increase_in_http_error_rate_percentage_4xx`|alert on the percent increase of 4xx level http errors over 5m|load balancer ID

          `v1/insights/lbaas/increase_in_http_error_rate_count_5xx`|alert on the count of 5xx level http errors over 5m|load balancer ID

          `v1/insights/lbaas/increase_in_http_error_rate_count_4xx`|alert on the count of 4xx level http errors over 5m|load balancer ID

          `v1/insights/lbaas/high_http_request_response_time`|alert on high average http response time|load balancer ID

          `v1/insights/lbaas/high_http_request_response_time_50p`|alert on high 50th percentile http response time|load balancer ID

          `v1/insights/lbaas/high_http_request_response_time_95p`|alert on high 95th percentile http response time|load balancer ID

          `v1/insights/lbaas/high_http_request_response_time_99p`|alert on high 99th percentile http response time|load balancer ID

          `v1/dbaas/alerts/load_15_alerts` | alert on 15 minute load average across the database cluster | database cluster UUID

          `v1/dbaas/alerts/memory_utilization_alerts` | alert on the percent memory utilization average across the database cluster | database cluster UUID

          `v1/dbaas/alerts/disk_utilization_alerts` | alert on the percent disk utilization average across the database cluster | database cluster UUID

          `v1/dbaas/alerts/cpu_alerts` | alert on the percent CPU usage average across the database cluster | database cluster UUID

          '
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/alert_policy_request'
      x-codeSamples:
      - lang: cURL
        source: "curl -X PUT \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  \"https://api.digitalocean.com/v2/monitoring/alerts/78b3da62-27e5-49ba-ac70-5db0b5935c64\" \\\n  --data '{\"alerts\":{\"email\":[\"alerts@example.com\"]},\"compare\":\"GreaterThan\",\"description\":\"CPU Alert\",\"enabled\":true,\"entities\":[\"12345678\"],\"tags\":[\"droplet_tag\"],\"type\":\"v1/insights/droplet/cpu\",\"value\":80,\"window\":\"5m\"}'"
      - lang: Python
        source: "import os\nfrom pydo import Client\n\nclient = Client(token=os.environ.get(\"DIGITALOCEAN_TOKEN\"))\n\nreq = {\n  \"alerts\": {\n    \"email\": [\n      \"bob@exmaple.com\"\n    ],\n    \"slack\": [\n      {\n        \"channel\": \"Production Alerts\",\n        \"url\": \"https://hooks.slack.com/services/REDACTED\"\n      }\n    ]\n  },\n  \"compare\": \"GreaterThan\",\n  \"description\": \"CPU Alert\",\n  \"enabled\": True,\n  \"entities\": [\n    \"192018292\"\n  ],\n  \"tags\": [\n    \"droplet_tag\"\n  ],\n  \"type\": \"v1/insights/droplet/cpu\",\n  \"value\": 80,\n  \"window\": \"5m\"\n}\n\nresp = client.monitoring.update_alert_policy(alert_uuid=\"fda9da\", body=req)"
      security:
      - bearer_auth:
        - monitoring:update
    delete:
      operationId: monitoring_delete_alertPolicy
      summary: Delete an Alert Policy
      description: To delete an alert policy, send a DELETE request to `/v2/monitoring/alerts/{alert_uuid}`
      tags:
      - Monitoring
      responses:
        '204':
          $ref: '#/components/responses/no_content'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      parameters:
      - $ref: '#/components/parameters/alert_uuid'
      x-codeSamples:
      - lang: cURL
        source: "curl -X DELETE \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  \"https://api.digitalocean.com/v2/monitoring/alerts/{alert_uuid}\""
      - lang: Python
        source: 'import os

          from pydo import Client


          client = Client(token=os.environ.get("DIGITALOCEAN_TOKEN"))


          resp = client.monitoring.delete_alert_policy(alert_uuid="dfa8da")'
      security:
      - bearer_auth:
        - monitoring:delete
  /v2/monitoring/metrics/droplet/bandwidth:
    get:
      operationId: monitoring_get_dropletBandwidthMetrics
      summary: Get Droplet Bandwidth Metrics
      description: 'To retrieve bandwidth metrics for a given Droplet, send a GET request to `/v2/monitoring/metrics/droplet/bandwidth`. Use the `interface` query parameter to specify if the results should be for the `private` or `public` interface. Use the `direction` query parameter to specify if the results should be for `inbound` or `outbound` traffic.

        The metrics in the response body are in megabits per second (Mbps).'
      tags:
      - Monitoring
      responses:
        '200':
          $ref: '#/components/responses/droplet_bandwidth_metric_response'
        '401':
          $ref: '#/components/responses/unauthorized'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      parameters:
      - $ref: '#/components/parameters/parameters_droplet_id'
      - $ref: '#/components/parameters/network_interface'
      - $ref: '#/components/parameters/network_direction'
      - $ref: '#/components/parameters/metric_timestamp_start'
      - $ref: '#/components/parameters/metric_timestamp_end'
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  \"https://api.digitalocean.com/v2/monitoring/metrics/droplet/bandwidth?host_id=222651441&interface=public&direction=outbound&start=1636051668&end=1636051668\""
      - lang: Python
        source: 'import os

          from pydo import Client


          client = Client(token=os.environ.get("DIGITALOCEAN_TOKEN"))


          resp = client.monitoring.get_droplet_bandwidth_metrics(alert_uuid="dfa8da", host_id="17209102", interface="private", direction="inbound", start="1620683817", end="1620705417")'
      security:
      - bearer_auth:
        - monitoring:read
  /v2/monitoring/metrics/droplet/cpu:
    get:
      operationId: monitoring_get_DropletCpuMetrics
      summary: Get Droplet CPU Metrics
      description: To retrieve CPU metrics for a given droplet, send a GET request to `/v2/monitoring/metrics/droplet/cpu`.
      tags:
      - Monitoring
      responses:
        '200':
          $ref: '#/components/responses/droplet_cpu_metric_response'
        '401':
          $ref: '#/components/responses/unauthorized'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      parameters:
      - $ref: '#/components/parameters/parameters_droplet_id'
      - $ref: '#/components/parameters/metric_timestamp_start'
      - $ref: '#/components/parameters/metric_timestamp_end'
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  \"https://api.digitalocean.com/v2/monitoring/metrics/droplet/cpu?host_id=222651441&start=1636051668&end=1636051668\""
      - lang: Python
        source: 'import os

          from pydo import Client


          client = Client(token=os.environ.get("DIGITALOCEAN_TOKEN"))


          resp = client.monitoring.get_droplet_cpu_metrics(host_id="17209102", start="1620683817", end="1620705417")'
      security:
      - bearer_auth:
        - monitoring:read
  /v2/monitoring/metrics/droplet/filesystem_free:
    get:
      operationId: monitoring_get_dropletFilesystemFreeMetrics
      summary: Get Droplet Filesystem Free Metrics
      description: To retrieve filesystem free metrics for a given droplet, send a GET request to `/v2/monitoring/metrics/droplet/filesystem_free`.
      tags:
      - Monitoring
      responses:
        '200':
          $ref: '#/components/responses/droplet_filesystem_metric_response'
        '401':
          $ref: '#/components/responses/unauthorized'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      parameters:
      - $ref: '#/components/parameters/parameters_droplet_id'
      - $ref: '#/components/parameters/metric_timestamp_start'
      - $ref: '#/components/parameters/metric_timestamp_end'
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  \"https://api.digitalocean.com/v2/monitoring/metrics/droplet/filesystem_free?host_id=222651441&start=1636051668&end=1636051668\""
      - lang: Python
        source: 'import os

          from pydo import Client


          client = Client(token=os.environ.get("DIGITALOCEAN_TOKEN"))


          resp = client.monitoring.get_droplet_filesystem_free_metrics(host_id="17209102", start="1620683817", end="1620705417")'
      security:
      - bearer_auth:
        - monitoring:read
  /v2/monitoring/metrics/droplet/filesystem_size:
    get:
      operationId: monitoring_get_dropletFilesystemSizeMetrics
      summary: Get Droplet Filesystem Size Metrics
      description: To retrieve filesystem size metrics for a given droplet, send a GET request to `/v2/monitoring/metrics/droplet/filesystem_size`.
      tags:
      - Monitoring
      responses:
        '200':
          $ref: '#/components/responses/droplet_filesystem_metric_response'
        '401':
          $ref: '#/components/responses/unauthorized'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      parameters:
      - $ref: '#/components/parameters/parameters_droplet_id'
      - $ref: '#/components/parameters/metric_timestamp_start'
      - $ref: '#/components/parameters/metric_timestamp_end'
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  \"https://api.digitalocean.com/v2/monitoring/metrics/droplet/filesystem_size?host_id=222651441&interface=public&direction=outbound&start=1636051668&end=1636051668\""
      - lang: Python
        source: 'import os

          from pydo import Client


          client = Client(token=os.environ.get("DIGITALOCEAN_TOKEN"))


          resp = client.monitoring.get_droplet_filesystem_size_metrics(host_id="17209102", start="1620683817", end="1620705417")'
      security:
      - bearer_auth:
        - monitoring:read
  /v2/monitoring/metrics/droplet/load_1:
    get:
      operationId: monitoring_get_dropletLoad1Metrics
      summary: Get Droplet Load1 Metrics
      description: To retrieve 1 minute load average metrics for a given droplet, send a GET request to `/v2/monitoring/metrics/droplet/load_1`.
      tags:
      - Monitoring
      responses:
        '200':
          $ref: '#/components/responses/metric_response'
        '401':
          $ref: '#/components/responses/unauthorized'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      parameters:
      - $ref: '#/components/parameters/parameters_droplet_id'
      - $ref: '#/components/parameters/metric_timestamp_start'
      - $ref: '#/components/parameters/metric_timestamp_end'
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  \"https://api.digitalocean.com/v2/monitoring/metrics/droplet/load_1?host_id=222651441&start=1636051668&end=1636051668\""
      - lang: Python
        source: 'import os

          from pydo import Client


          client = Client(token=os.environ.get("DIGITALOCEAN_TOKEN"))


          resp = client.monitoring.get_droplet_load1_metrics(host_id="17209102", start="1620683817", end="1620705417")'
      security:
      - bearer_auth:
        - monitoring:read
  /v2/monitoring/metrics/droplet/load_5:
    get:
      operationId: monitoring_get_dropletLoad5Metrics
      summary: Get Droplet Load5 Metrics
      description: To retrieve 5 minute load average metrics for a given droplet, send a GET request to `/v2/monitoring/metrics/droplet/load_5`.
      tags:
      - Monitoring
      responses:
        '200':
          $ref: '#/components/responses/metric_response'
        '401':
          $ref: '#/components/responses/unauthorized'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      parameters:
      - $ref: '#/components/parameters/parameters_droplet_id'
      - $ref: '#/components/parameters/metric_timestamp_start'
      - $ref: '#/components/parameters/metric_timestamp_end'
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  \"https://api.digitalocean.com/v2/monitoring/metrics/droplet/load_5?host_id=222651441&start=1636051668&end=1636051668\""
      - lang: Python
        source: 'import os

          from pydo import Client


          client = Client(token=os.environ.get("DIGITALOCEAN_TOKEN"))


          resp = client.monitoring.get_droplet_load5_metrics(host_id="17209102", start="1620683817", end="1620705417")'
      security:
      - bearer_auth:
        - monitoring:read
  /v2/monitoring/metrics/droplet/load_15:
    get:
      operationId: monitoring_get_dropletLoad15Metrics
      summary: Get Droplet Load15 Metrics
      description: To retrieve 15 minute load average metrics for a given droplet, send a GET request to `/v2/monitoring/metrics/droplet/load_15`.
      tags:
      - Monitoring
      responses:
        '200':
          $ref: '#/components/responses/metric_response'
        '401':
          $ref: '#/components/responses/unauthorized'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      parameters:
      - $ref: '#/components/parameters/parameters_droplet_id'
      - $ref: '#/components/parameters/metric_timestamp_start'
      - $ref: '#/components/parameters/metric_timestamp_end'
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  \"https://api.digitalocean.com/v2/monitoring/metrics/droplet/load_15?host_id=222651441&start=1636051668&end=1636051668\""
      - lang: Python
        source: 'import os

          from pydo import Client


          client = Client(token=os.environ.get("DIGITALOCEAN_TOKEN"))


          resp = client.monitoring.get_droplet_load15_metrics(host_id="17209102", start="1620683817", end="1620705417")'
      security:
      - bearer_auth:
        - monitoring:read
  /v2/monitoring/metrics/droplet/memory_cached:
    get:
      operationId: monitoring_get_dropletMemoryCachedMetrics
      summary: Get Droplet Cached Memory Metrics
      description: To retrieve cached memory metrics for a given droplet, send a GET request to `/v2/monitoring/metrics/droplet/memory_cached`.
      tags:
      - Monitoring
      responses:
        '200':
          $ref: '#/components/responses/metric_response'
        '401':
          $ref: '#/components/responses/unauthorized'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      parameters:
      - $ref: '#/components/parameters/parameters_droplet_id'
      - $ref: '#/components/parameters/metric_timestamp_start'
      - $ref: '#/components/parameters/metric_timestamp_end'
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  \"https://api.digitalocean.com/v2/monitoring/metrics/droplet/memory_cached?host_id=222651441&start=1636051668&end=1636051668\""
      - lang: Python
        source: 'import os

          from pydo import Client


          client = Client(token=os.environ.get("DIGITALOCEAN_TOKEN"))


          resp = client.monitoring.get_droplet_memory_cached_metrics(host_id="17209102", start="1620683817", end="1620705417")'
      security:
      - bearer_auth:
        - monitoring:read
  /v2/monitoring/metrics/droplet/memory_free:
    get:
      operationId: monitoring_get_dropletMemoryFreeMetrics
      summary: Get Droplet Free Memory Metrics
      description: To retrieve free memory metrics for a given droplet, send a GET request to `/v2/monitoring/metrics/droplet/memory_free`.
      tags:
      - Monitoring
      responses:
        '200':
          $ref: '#/components/responses/metric_response'
        '401':
          $ref: '#/components/responses/unauthorized'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      parameters:
      - $ref: '#/components/parameters/parameters_droplet_id'
      - $ref: '#/components/parameters/metric_timestamp_start'
      - $ref: '#/components/parameters/metric_timestamp_end'
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  \"https://api.digitalocean.com/v2/monitoring/metrics/droplet/memory_free?host_id=222651441&start=1636051668&end=1636051668\""
      - lang: Python
        source: 'import os

          from pydo import Client


          client = Client(token=os.environ.get("DIGITALOCEAN_TOKEN"))


          resp = client.monitoring.get_droplet_memory_free_metrics(host_id="17209102", start="1620683817", end="1620705417")'
      security:
      - bearer_auth:
        - monitoring:read
  /v2/monitoring/metrics/droplet/memory_total:
    get:
      operationId: monitoring_get_dropletMemoryTotalMetrics
      summary: Get Droplet Total Memory Metrics
      description: To retrieve total memory metrics for a given droplet, send a GET request to `/v2/monitoring/metrics/droplet/memory_total`.
      tags:
      - Monitoring
      responses:
        '200':
          $ref: '#/components/responses/metric_response'
        '401':
          $ref: '#/components/responses/unauthorized'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      parameters:
      - $ref: '#/components/parameters/parameters_droplet_id'
      - $ref: '#/components/parameters/metric_timestamp_start'
      - $ref: '#/components/parameters/metric_timestamp_end'
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  \"https://api.digitalocean.com/v2/monitoring/metrics/droplet/memory_total?host_id=222651441&start=1636051668&end=1636051668\""
      - lang: Python
        source: 'import os

          from pydo import Client


          client = Client(token=os.environ.get("DIGITALOCEAN_TOKEN"))


          resp = client.monitoring.get_droplet_memory_total_metrics(host_id="17209102", start="1620683817", end="1620705417")'
      security:
      - bearer_auth:
        - monitoring:read
  /v2/monitoring/metrics/droplet/memory_available:
    get:
      operationId: monitoring_get_dropletMemoryAvailableMetrics
      summary: Get Droplet Available Memory Metrics
      description: To retrieve available memory metrics for a given droplet, send a GET request to `/v2/monitoring/metrics/droplet/memory_available`.
      tags:
      - Monitoring
      responses:
        '200':
          $ref: '#/components/responses/metric_response'
        '401':
          $ref: '#/components/responses/unauthorized'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      parameters:
      - $ref: '#/components/parameters/parameters_droplet_id'
      - $ref: '#/components/parameters/metric_timestamp_start'
      - $ref: '#/components/parameters/metric_timestamp_end'
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  \"https://api.digitalocean.com/v2/monitoring/metrics/droplet/memory_available?host_id=222651441&start=1636051668&end=1636051668\""
      - lang: Python
        source: 'import os

          from pydo import Client


          client = Client(token=os.environ.get("DIGITALOCEAN_TOKEN"))


          resp = client.monitoring.get_droplet_memory_available_metrics(host_id="17209102", start="1620683817", end="1620705417")'
      security:
      - bearer_auth:
        - monitoring:read
  /v2/monitoring/metrics/apps/memory_percentage:
    get:
      operationId: monitoring_get_appMemoryPercentageMetrics
      summary: Get App Memory Percentage Metrics
      description: To retrieve memory percentage metrics for a given app, send a GET request to `/v2/monitoring/metrics/apps/memory_percentage`.
      tags:
      - Monitoring
      responses:
        '200':
          $ref: '#/components/responses/app_metric_response'
        '401':
          $ref: '#/components/responses/unauthorized'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      parameters:
      - $ref: '#/components/parameters/parameters_app_id'
      - $ref: '#/components/parameters/app_component'
      - $ref: '#/components/parameters/metric_timestamp_start'
      - $ref: '#/components/parameters/metric_timestamp_end'
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  \"https://api.digitalocean.com/v2/monitoring/metrics/apps/memory_percentage?app_id=2db3c021-15ad-4088-bfe8-99dc972b9cf6&app_component=sample-application&start=1636051668&end=1636051668\""
      security:
      - bearer_auth:
        - monitoring:read
  /v2/monitoring/metrics/apps/cpu_percentage:
    get:
      operationId: monitoring_get_appCPUPercentageMetrics
      summary: Get App CPU Percentage Metrics
      description: To retrieve cpu percentage metrics for a given app, send a GET request to `/v2/monitoring/metrics/apps/cpu_percentage`.
      tags:
      - Monitoring
      responses:
        '200':
          $ref: '#/components/responses/app_metric_response'
        '401':
          $ref: '#/components/responses/unauthorized'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      parameters:
      - $ref: '#/components/parameters/parameters_app_id'
      - $ref: '#/components/parameters/app_component'
      - $ref: '#/components/parameters/metric_timestamp_start'
      - $ref: '#/components/parameters/metric_timestamp_end'
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  \"https://api.digitalocean.com/v2/monitoring/metrics/apps/cpu_percentage?app_id=2db3c021-15ad-4088-bfe8-99dc972b9cf6&app_component=sample-application&start=1636051668&end=1636051668\""
      security:
      - bearer_auth:
        - monitoring:read
  /v2/monitoring/metrics/apps/restart_count:
    get:
      operationId: monitoring_get_appRestartCountMetrics.yml
      summary: Get App Restart Count Metrics
      description: To retrieve restart count metrics for a given app, send a GET request to `/v2/monitoring/metrics/apps/restart_count`.
      tags:
      - Monitoring
      responses:
        '200':
          $ref: '#/components/responses/app_metric_response'
        '401':
          $ref: '#/components/responses/unauthorized'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      parameters:
      - $ref: '#/components/parameters/parameters_app_id'
      - $ref: '#/components/parameters/app_component'
      - $ref: '#/components/parameters/metric_timestamp_start'
      - $ref: '#/components/parameters/metric_timestamp_end'
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  \"https://api.digitalocean.com/v2/monitoring/metrics/apps/restart_count?app_id=2db3c021-15ad-4088-bfe8-99dc972b9cf6&app_component=sample-application&start=1636051668&end=1636051668\""
      security:
      - bearer_auth:
        - monitoring:read
  /v2/monitoring/metrics/load_balancer/frontend_connections_current:
    get:
      operationId: monitoring_get_lb_frontend_connections_current
      summary: Get Load Balancer Frontend Total Current Active Connections Metrics
      description: To retrieve frontend total current active connections for a given load balancer, send a GET request to `/v2/monitoring/metrics/load_balancer/frontend_connections_current`.
      tags:
      - Monitoring
      responses:
        '200':
          $ref: '#/components/responses/metric_response'
        '401':
          $ref: '#/components/responses/unauthorized'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      parameters:
      - $ref: '#/components/parameters/parameters_load_balancer_id'
      - $ref: '#/components/parameters/metric_timestamp_start'
      - $ref: '#/components/parameters/metric_timestamp_end'
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  \"https://api.digitalocean.com/v2/monitoring/metrics/load_balancer/frontend_connections_current?lb_id=4de7ac8b-495b-4884-9a69-1050c6793cd6&start=1636051668&end=1636051668\""
      security:
      - bearer_auth:
        - monitoring:read
  /v2/monitoring/metrics/load_balancer/frontend_connections_limit:
    get:
      operationId: monitoring_get_lb_frontend_connections_limit
      summary: Get Load Balancer Frontend Max Connections Limit Metrics
      description: To retrieve frontend max connections limit for a given load balancer, send a GET request to `/v2/monitoring/metrics/load_balancer/frontend_connections_limit`.
      tags:
      - Monitoring
      responses:
        '200':
          $ref: '#/components/responses/metric_response'
        '401':
          $ref: '#/components/responses/unauthorized'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      parameters:
      - $ref: '#/components/parameters/parameters_load_balancer_id'
      - $ref: '#/components/parameters/metric_timestamp_start'
      - $ref: '#/components/parameters/metric_timestamp_end'
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  \"https://api.digitalocean.com/v2/monitoring/metrics/load_balancer/frontend_connections_limit?lb_id=4de7ac8b-495b-4884-9a69-1050c6793cd6&start=1636051668&end=1636051668\""
      security:
      - bearer_auth:
        - monitoring:read
  /v2/monitoring/metrics/load_balancer/frontend_cpu_utilization:
    get:
      operationId: monitoring_get_lb_frontend_cpu_utilization
      summary: Get Load Balancer Frontend Average Percentage CPU Utilization Metrics
      description: To retrieve frontend average percentage CPU utilization for a given load balancer, send a GET request to `/v2/monitoring/metrics/load_balancer/frontend_cpu_utilization`.
      tags:
      - Monitoring
      responses:
        '200':
          $ref: '#/components/responses/metric_response'
        '401':
          $ref: '#/components/responses/unauthorized'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      parameters:
      - $ref: '#/components/parameters/parameters_load_balancer_id'
      - $ref: '#/components/parameters/metric_timestamp_start'
      - $ref: '#/components/parameters/metric_timestamp_end'
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  \"https://api.digitalocean.com/v2/monitoring/metrics/load_balancer/frontend_cpu_utilization?lb_id=4de7ac8b-495b-4884-9a69-1050c6793cd6&start=1636051668&end=1636051668\""
      security:
      - bearer_auth:
        - monitoring:read
  /v2/monitoring/metrics/load_balancer/frontend_firewall_dropped_bytes:
    get:
      operationId: monitoring_get_lb_frontend_firewall_dropped_bytes
      summary: Get Load Balancer Frontend Firewall Dropped Bytes Metrics
      description: To retrieve firewall dropped bytes for a given load balancer, send a GET request to `/v2/monitoring/metrics/load_balancer/frontend_firewall_dropped_bytes`. This is currently only supported for network load balancers.
      tags:
      - Monitoring
      responses:
        '200':
          $ref: '#/components/responses/metric_response'
        '401':
          $ref: '#/components/responses/unauthorized'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      parameters:
      - $ref: '#/components/parameters/parameters_load_balancer_id'
      - $ref: '#/components/parameters/metric_timestamp_start'
      - $ref: '#/components/parameters/metric_timestamp_end'
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  \"https://api.digitalocean.com/v2/monitoring/metrics/load_balancer/frontend_firewall_dropped_bytes?lb_id=4de7ac8b-495b-4884-9a69-1050c6793cd6&start=1636051668&end=1636051668\""
      security:
      - bearer_auth:
        - monitoring:read
  /v2/monitoring/metrics/load_balancer/frontend_firewall_dropped_packets:
    get:
      operationId: monitoring_get_lb_frontend_firewall_dropped_packets
      summary: Get Load Balancer Frontend Firewall Dropped Packets Metrics
      description: To retrieve firewall dropped packets per second for a given load balancer, send a GET request to `/v2/monitoring/metrics/load_balancer/frontend_firewall_dropped_packets`. This is currently only supported for network load balancers.
      tags:
      - Monitoring
      responses:
        '200':
          $ref: '#/components/responses/metric_response'
        '401':
          $ref: '#/components/responses/unauthorized'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      parameters:
      - $ref: '#/components/parameters/parameters_load_balancer_id'
      - $ref: '#/components/parameters/metric_timestamp_start'
      - $ref: '#/components/parameters/metric_timestamp_end'
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  \"https://api.digitalocean.com/v2/monitoring/metrics/load_balancer/frontend_firewall_dropped_packets?lb_id=4de7ac8b-495b-4884-9a69-1050c6793cd6&start=1636051668&end=1636051668\""
      security:
      - bearer_auth:
        - monitoring:read
  /v2/monitoring/metrics/load_balancer/frontend_http_responses:
    get:
      operationId: monitoring_get_lb_frontend_http_responses
      summary: Get Load Balancer Frontend HTTP Rate Of Response Code Metrics
      description: To retrieve frontend HTTP rate of response code for a given load balancer, send a GET request to `/v2/monitoring/metrics/load_balancer/frontend_http_responses`.
      tags:
      - Monitoring
      responses:
        '200':
          $ref: '#/components/responses/metric_response'
        '401':
          $ref: '#/components/responses/unauthorized'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      parameters:
      - $ref: '#/components/parameters/parameters_load_balancer_id'
      - $ref: '#/components/parameters/metric_timestamp_start'
      - $ref: '#/components/parameters/metric_timestamp_end'
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  \"https://api.digitalocean.com/v2/monitoring/metrics/load_balancer/frontend_http_responses?lb_id=4de7ac8b-495b-4884-9a69-1050c6793cd6&start=1636051668&end=1636051668\""
      security:
      - bearer_auth:
        - monitoring:read
  /v2/monitoring/metrics/load_balancer/frontend_http_requests_per_second:
    get:
      operationId: monitoring_get_lb_frontend_http_requests_per_second
      summary: Get Load Balancer Frontend HTTP Requests Metrics
      description: To retrieve frontend HTTP requests per second for a given load balancer, send a GET request to `/v2/monitoring/metrics/load_balancer/frontend_http_requests_per_second`.
      tags:
      - Monitoring
      responses:
        '200':
          $ref: '#/components/responses/metric_response'
        '401':
          $ref: '#/components/responses/unauthorized'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      parameters:
      - $ref: '#/components/parameters/parameters_load_balancer_id'
      - $ref: '#/components/parameters/metric_timestamp_start'
      - $ref: '#/components/parameters/metric_timestamp_end'
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  \"https://api.digitalocean.com/v2/monitoring/metrics/load_balancer/frontend_http_requests_per_second?lb_id=4de7ac8b-495b-4884-9a69-1050c6793cd6&start=1636051668&end=1636051668\""
      security:
      - bearer_auth:
        - monitoring:read
  /v2/monitoring/metrics/load_balancer/frontend_network_throughput_http:
    get:
      operationId: monitoring_get_lb_frontend_network_throughput_http
      summary: Get Load Balancer Frontend HTTP Throughput Metrics
      description: To retrieve frontend HTTP throughput in bytes per second for a given load balancer, send a GET request to `/v2/monitoring/metrics/load_balancer/frontend_network_throughput_http`.
      tags:
      - Monitoring
      responses:
        '200':
          $ref: '#/components/responses/metric_response'
        '401':
          $ref: '#/components/responses/unauthorized'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      parameters:
      - $ref: '#/components/parameters/parameters_load_balancer_id'
      - $ref: '#/components/parameters/metric_timestamp_start'
      - $ref: '#/components/parameters/metric_timestamp_end'
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  \"https://api.digitalocean.com/v2/monitoring/metrics/load_balancer/frontend_network_throughput_http?lb_id=4de7ac8b-495b-4884-9a69-1050c6793cd6&start=1636051668&end=1636051668\""
      security:
      - bearer_auth:
        - monitoring:read
  /v2/monitoring/metrics/load_balancer/frontend_network_throughput_udp:
    get:
      operationId: monitoring_get_lb_frontend_network_throughput_udp
      summary: Get Load Balancer Frontend UDP Throughput Metrics
      description: To retrieve frontend UDP throughput in bytes per second for a given load balancer, send a GET request to `/v2/monitoring/metrics/load_balancer/frontend_network_throughput_udp`.
      tags:
      - Monitoring
      responses:
        '200':
          $ref: '#/components/responses/metric_response'
        '401':
          $ref: '#/components/responses/unauthorized'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      parameters:
      - $ref: '#/components/parameters/parameters_load_balancer_id'
      - $ref: '#/components/parameters/metric_timestamp_start'
      - $ref: '#/components/parameters/metric_timestamp_end'
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  \"https://api.digitalocean.com/v2/monitoring/metrics/load_balancer/frontend_network_throughput_udp?lb_id=4de7ac8b-495b-4884-9a69-1050c6793cd6&start=1636051668&end=1636051668\""
      security:
      - bearer_auth:
        - monitoring:read
  /v2/monitoring/metrics/load_balancer/frontend_network_throughput_tcp:
    get:
      operationId: monitoring_get_lb_frontend_network_throughput_tcp
      summary: Get Load Balancer Frontend TCP Throughput Metrics
      description: To retrieve frontend TCP throughput in bytes per second for a given load balancer, send a GET request to `/v2/monitoring/metrics/load_balancer/frontend_network_throughput_tcp`.
      tags:
      - Monitoring
      responses:
        '200':
          $ref: '#/components/responses/metric_response'
        '401':
          $ref: '#/components/responses/unauthorized'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      parameters:
      - $ref: '#/components/parameters/parameters_load_balancer_id'
      - $ref: '#/components/parameters/metric_timestamp_start'
      - $ref: '#/components/parameters/metric_timestamp_end'
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  \"https://api.digitalocean.com/v2/monitoring/metrics/load_balancer/frontend_network_throughput_tcp?lb_id=4de7ac8b-495b-4884-9a69-1050c6793cd6&start=1636051668&end=1636051668\""
      security:
      - bearer_auth:
        - monitoring:read
  /v2/monitoring/metrics/load_balancer/frontend_nlb_tcp_network_throughput:
    get:
      operationId: monitoring_get_lb_frontend_nlb_tcp_network_throughput
      summary: Get Network Load Balancer Frontend TCP Throughput Metrics
      description: To retrieve frontend TCP throughput in bytes per second for a given load balancer, send a GET request to `/v2/monitoring/metrics/load_balancer/frontend_nlb_tcp_network_throughput`.
      tags:
      - Monitoring
      responses:
        '200':
          $ref: '#/components/responses/metric_response'
        '401':
          $ref: '#/components/responses/unauthorized'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      parameters:
      - $ref: '#/components/parameters/parameters_load_balancer_id'
      - $ref: '#/components/parameters/metric_timestamp_start'
      - $ref: '#/components/parameters/metric_timestamp_end'
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  \"https://api.digitalocean.com/v2/monitoring/metrics/load_balancer/frontend_nlb_tcp_network_throughput?lb_id=4de7ac8b-495b-4884-9a69-1050c6793cd6&start=1636051668&end=1636051668\""
      security:
      - bearer_auth:
        - monitoring:read
  /v2/monitoring/metrics/load_balancer/frontend_nlb_udp_network_throughput:
    get:
      operationId: monitoring_get_lb_frontend_nlb_udp_network_throughput
      summary: Get Network Load Balancer Frontend UDP Throughput Metrics
      description: To retrieve frontend UDP throughput in bytes per second for a given load balancer, send a GET request to `/v2/monitoring/metrics/load_balancer/frontend_nlb_udp_network_throughput`.
      tags:
      - Monitoring
      responses:
        '200':
          $ref: '#/components/responses/metric_response'
        '401':
          $ref: '#/components/responses/unauthorized'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      parameters:
      - $ref: '#/components/parameters/parameters_load_balancer_id'
      - $ref: '#/components/parameters/metric_timestamp_start'
      - $ref: '#/components/parameters/metric_timestamp_end'
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  \"https://api.digitalocean.com/v2/monitoring/metrics/load_balancer/frontend_nlb_udp_network_throughput?lb_id=4de7ac8b-495b-4884-9a69-1050c6793cd6&start=1636051668&end=1636051668\""
      security:
      - bearer_auth:
        - monitoring:read
  /v2/monitoring/metrics/load_balancer/frontend_tls_connections_current:
    get:
      operationId: monitoring_get_lb_frontend_tls_connections_current
      summary: Get Load Balancer Frontend Current TLS Connections Rate Metrics
      description: To retrieve frontend current TLS connections rate for a given load balancer, send a GET request to `/v2/monitoring/metrics/load_balancer/frontend_tls_connections_current`.
      tags:
      - Monitoring
      responses:
        '200':
          $ref: '#/components/responses/metric_response'
        '401':
          $ref: '#/components/responses/unauthorized'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      parameters:
      - $ref: '#/components/parameters/parameters_load_balancer_id'
      - $ref: '#/components/parameters/metric_timestamp_start'
      - $ref: '#/components/parameters/metric_timestamp_end'
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  \"https://api.digitalocean.com/v2/monitoring/metrics/load_balancer/frontend_tls_connections_current?lb_id=4de7ac8b-495b-4884-9a69-1050c6793cd6&start=1636051668&end=1636051668\""
      security:
      - bearer_auth:
        - monitoring:read
  /v2/monitoring/metrics/load_balancer/frontend_tls_connections_limit:
    get:
      operationId: monitoring_get_lb_frontend_tls_connections_limit
      summary: Get Load Balancer Frontend Max TLS Connections Limit Metrics
      description: To retrieve frontend max TLS connections limit for a given load balancer, send a GET request to `/v2/monitoring/metrics/load_balancer/frontend_tls_connections_limit`.
      tags:
      - Monitoring
      responses:
        '200':
          $ref: '#/components/responses/metric_response'
        '401':
          $ref: '#/components/responses/unauthorized'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      parameters:
      - $ref: '#/components/parameters/parameters_load_balancer_id'
      - $ref: '#/components/parameters/metric_timestamp_start'
      - $ref: '#/components/parameters/metric_timestamp_end'
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  \"https://api.digitalocean.com/v2/monitoring/metrics/load_balancer/frontend_tls_connections_limit?lb_id=4de7ac8b-495b-4884-9a69-1050c6793cd6&start=1636051668&end=1636051668\""
      security:
      - bearer_auth:
        - monitoring:read
  /v2/monitoring/metrics/load_balancer/frontend_tls_connections_exceeding_rate_limit:
    get:
      operationId: monitoring_get_lb_frontend_tls_connections_exceeding_rate_limit
      summary: Get Load Balancer Frontend Closed TLS Connections For Exceeded Rate Limit…
      description: To retrieve frontend closed TLS connections for exceeded rate limit for a given load balancer, send a GET request to `/v2/monitoring/metrics/load_balancer/frontend_tls_connections_exceeding_rate_limit`.
      tags:
      - Monitoring
      responses:
        '200':
          $ref: '#/components/responses/metric_response'
        '401':
          $ref: '#/components/responses/unauthorized'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      parameters:
      - $ref: '#/components/parameters/parameters_load_balancer_id'
      - $ref: '#/components/parameters/metric_timestamp_start'
      - $ref: '#/components/parameters/metric_timestamp_end'
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  \"https://api.digitalocean.com/v2/monitoring/metrics/load_balancer/frontend_tls_connections_exceeding_rate_limit?lb_id=4de7ac8b-495b-4884-9a69-1050c6793cd6&start=1636051668&end=1636051668\""
      security:
      - bearer_auth:
        - monitoring:read
  /v2/monitoring/metrics/load_balancer/droplets_http_session_duration_avg:
    get:
      operationId: monitoring_get_lb_droplets_http_session_duration_avg
      summary: Get Load Balancer Droplets Average HTTP Session Duration Metrics
      description: To retrieve Droplets average HTTP session duration in seconds for a given load balancer, send a GET request to `/v2/monitoring/metrics/load_balancer/droplets_http_session_duration_avg`.
      tags:
      - Monitoring
      responses:
        '200':
          $ref: '#/components/responses/metric_response'
        '401':
          $ref: '#/components/responses/unauthorized'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      parameters:
      - $ref: '#/components/parameters/parameters_load_balancer_id'
      - $ref: '#/components/parameters/metric_timestamp_start'
      - $ref: '#/components/parameters/metric_timestamp_end'
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  \"https://api.digitalocean.com/v2/monitoring/metrics/load_balancer/droplets_http_session_duration_avg?lb_id=4de7ac8b-495b-4884-9a69-1050c6793cd6&start=1636051668&end=1636051668\""
      security:
      - bearer_auth:
        - monitoring:read
  /v2/monitoring/metrics/load_balancer/droplets_http_session_duration_50p:
    get:
      operationId: monitoring_get_lb_droplets_http_session_duration_50p
      summary: Get Load Balancer Droplets 50th Percentile HTTP Session Duration Metrics
      description: To retrieve Droplets 50th percentile HTTP session duration in seconds for a given load balancer, send a GET request to `/v2/monitoring/metrics/load_balancer/droplets_http_session_duration_50p`.
      tags:
      - Monitoring
      responses:
        '200':
          $ref: '#/components/responses/metric_response'
        '401':
          $ref: '#/components/responses/unauthorized'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      parameters:
      - $ref: '#/components/parameters/parameters_load_balancer_id'
      - $ref: '#/components/parameters/metric_timestamp_start'
      - $ref: '#/components/parameters/metric_timestamp_end'
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  \"https://api.digitalocean.com/v2/monitoring/metrics/load_balancer/droplets_http_session_duration_50p?lb_id=4de7ac8b-495b-4884-9a69-1050c6793cd6&start=1636051668&end=1636051668\""
      security:
      - bearer_auth:
        - monitoring:read
  /v2/monitoring/metrics/load_balancer/droplets_http_session_duration_95p:
    get:
      operationId: monitoring_get_lb_droplets_http_session_duration_95p
      summary: Get Load Balancer Droplets 95th Percentile HTTP Session Duration Metrics
      description: To retrieve Droplets 95th percentile HTTP session duration in seconds for a given load balancer, send a GET request to `/v2/monitoring/metrics/load_balancer/droplets_http_session_duration_95p`.
      tags:
      - Monitoring
      responses:
        '200':
          $ref: '#/components/responses/metric_response'
        '401':
          $ref: '#/components/responses/unauthorized'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      parameters:
      - $ref: '#/components/parameters/parameters_load_balancer_id'
      - $ref: '#/components/parameters/metric_timestamp_start'
      - $ref: '#/components/parameters/metric_timestamp_end'
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  \"https://api.digitalocean.com/v2/monitoring/metrics/load_balancer/droplets_http_session_duration_95p?lb_id=4de7ac8b-495b-4884-9a69-1050c6793cd6&start=1636051668&end=1636051668\""
      security:
      - bearer_auth:
        - monitoring:read
  /v2/monitoring/metrics/load_balancer/droplets_http_response_time_avg:
    get:
      operationId: monitoring_get_lb_droplets_http_response_time_avg
      summary: Get Load Balancer Droplets Average HTTP Response Time Metrics
      description: To retrieve Droplets average HTTP response time in seconds for a given load balancer, send a GET request to `/v2/monitoring/metrics/load_balancer/droplets_http_response_time_avg`.
      tags:
      - Monitoring
      responses:
        '200':
          $ref: '#/components/responses/metric_response'
        '401':
          $ref: '#/components/responses/unauthorized'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      parameters:
      - $ref: '#/components/parameters/parameters_load_balancer_id'
      - $ref: '#/components/parameters/metric_timestamp_start'
      - $ref: '#/components/parameters/metric_timestamp_end'
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  \"https://api.digitalocean.com/v2/monitoring/metrics/load_balancer/droplets_http_response_time_avg?lb_id=4de7ac8b-495b-4884-9a69-1050c6793cd6&start=1636051668&end=1636051668\""
      security:
      - bearer_auth:
        - monitoring:read
  /v2/monitoring/metrics/load_balancer/droplets_http_response_time_50p:
    get:
      operationId: monitoring_get_lb_droplets_http_response_time_50p
      summary: Get Load Balancer Droplets 50th Percentile HTTP Response Time Metrics
      description: To retrieve Droplets 50th percentile HTTP response time in seconds for a given load balancer, send a GET request to `/v2/monitoring/metrics/load_balancer/droplets_http_response_time_50p`.
      tags:
      - Monitoring
      responses:
        '200':
          $ref: '#/components/responses/metric_response'
        '401':
          $ref: '#/components/responses/unauthorized'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      parameters:
      - $ref: '#/components/parameters/parameters_load_balancer_id'
      - $ref: '#/components/parameters/metric_timestamp_start'
      - $ref: '#/components/parameters/metric_timestamp_end'
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  \"https://api.digitalocean.com/v2/monitoring/metrics/load_balancer/droplets_http_response_time_50p?lb_id=4de7ac8b-495b-4884-9a69-1050c6793cd6&start=1636051668&end=1636051668\""
      security:
      - bearer_auth:
        - monitoring:read
  /v2/monitoring/metrics/load_balancer/droplets_http_response_time_95p:
    get:
      operationId: monitoring_get_lb_droplets_http_response_time_95p
      summary: Get Load Balancer Droplets 95th Percentile HTTP Response Time Metrics
      description: To retrieve Droplets 95th percentile HTTP response time in seconds for a given load balancer, send a GET request to `/v2/monitoring/metrics/load_balancer/droplets_http_response_time_95p`.
      tags:
      - Monitoring
      responses:
        '200':
          $ref: '#/components/responses/metric_response'
        '401':
          $ref: '#/components/responses/unauthorized'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      parameters:
      - $ref: '#/components/parameters/parameters_load_balancer_id'
      - $ref: '#/components/parameters/metric_timestamp_start'
      - $ref: '#/components/parameters/metric_timestamp_end'
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  \"https://api.digitalocean.com/v2/monitoring/metrics/load_balancer/droplets_http_response_time_95p?lb_id=4de7ac8b-495b-4884-9a69-1050c6793cd6&start=1636051668&end=1636051668\""
      security:
      - bearer_auth:
        - monitoring:read
  /v2/monitoring/metrics/load_balancer/droplets_http_response_time_99p:
    get:
      operationId: monitoring_get_lb_droplets_http_response_time_99p
      summary: Get Load Balancer Droplets 99th Percentile HTTP Response Time Metrics
      description: To retrieve Droplets 99th percentile HTTP response time in seconds for a given load balancer, send a GET request to `/v2/monitoring/metrics/load_balancer/droplets_http_response_time_99p`.
      tags:
      - Monitoring
      responses:
        '200':
          $ref: '#/components/responses/metric_response'
        '401':
          $ref: '#/components/responses/unauthorized'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      parameters:
      - $ref: '#/components/parameters/parameters_load_balancer_id'
      - $ref: '#/components/parameters/metric_timestamp_start'
      - $ref: '#/components/parameters/metric_timestamp_end'
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  \"https://api.digitalocean.com/v2/monitoring/metrics/load_balancer/droplets_http_response_time_99p?lb_id=4de7ac8b-495b-4884-9a69-1050c6793cd6&start=1636051668&end=1636051668\""
      security:
      - bearer_auth:
        - monitoring:read
  /v2/monitoring/metrics/load_balancer/droplets_queue_size:
    get:
      operationId: monitoring_get_lb_droplets_queue_size
      summary: Get Load Balancer Droplets Queue Size Metrics
      description: To retrieve Droplets queue size for a given load balancer, send a GET request to `/v2/monitoring/metrics/load_balancer/droplets_queue_size`.
      tags:
      - Monitoring
      responses:
        '200':
          $ref: '#/components/responses/metric_response'
        '401':
          $ref: '#/components/responses/unauthorized'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      parameters:
      - $ref: '#/components/parameters/parameters_load_balancer_id'
      - $ref: '#/components/parameters/metric_timestamp_start'
      - $ref: '#/components/parameters/metric_timestamp_end'
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  \"https://api.digitalocean.com/v2/monitoring/metrics/load_balancer/droplets_queue_size?lb_id=4de7ac8b-495b-4884-9a69-1050c6793cd6&start=1636051668&end=1636051668\""
      security:
      - bearer_auth:
        - monitoring:read
  /v2/monitoring/metrics/load_balancer/droplets_http_responses:
    get:
      operationId: monitoring_get_lb_droplets_http_responses
      summary: Get Load Balancer Droplets HTTP Rate Of Response Code Metrics
      description: To retrieve Droplets HTTP rate of response code for a given load balancer, send a GET request to `/v2/monitoring/metrics/load_balancer/droplets_http_responses`.
      tags:
      - Monitoring
      responses:
        '200':
          $ref: '#/components/responses/metric_response'
        '401':
          $ref: '#/components/responses/unauthorized'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      parameters:
      - $ref: '#/components/parameters/parameters_load_balancer_id'
      - $ref: '#/components/parameters/metric_timestamp_start'
      - $ref: '#/components/parameters/metric_timestamp_end'
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  \"https://api.digitalocean.com/v2/monitoring/metrics/load_balancer/droplets_http_responses?lb_id=4de7ac8b-495b-4884-9a69-1050c6793cd6&start=1636051668&end=1636051668\""
      security:
      - bearer_auth:
        - monitoring:read
  /v2/monitoring/metrics/load_balancer/droplets_connections:
    get:
      operationId: monitoring_get_lb_droplets_connections
      summary: Get Load Balancer Droplets Active Connections Metrics
      description: To retrieve Droplets active connections for a given load balancer, send a GET request to `/v2/monitoring/metrics/load_balancer/droplets_connections`.
      tags:
      - Monitoring
      responses:
        '200':
          $ref: '#/components/responses/metric_response'
        '401':
          $ref: '#/components/responses/unauthorized'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      parameters:
      - $ref: '#/components/parameters/parameters_load_balancer_id'
      - $ref: '#/components/parameters/metric_timestamp_start'
      - $ref: '#/components/parameters/metric_timestamp_end'
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  \"https://api.digitalocean.com/v2/monitoring/metrics/load_balancer/droplets_connections?lb_id=4de7ac8b-495b-4884-9a69-1050c6793cd6&start=1636051668&end=1636051668\""
      security:
      - bearer_auth:
        - monitoring:read
  /v2/monitoring/metrics/load_balancer/droplets_health_checks:
    get:
      operationId: monitoring_get_lb_droplets_health_checks
      summary: Get Load Balancer Droplets Health Check Status Metrics
      description: To retrieve Droplets health check status for a given load balancer, send a GET request to `/v2/monitoring/metrics/load_balancer/droplets_health_checks`.
      tags:
      - Monitoring
      responses:
        '200':
          $ref: '#/components/responses/metric_response'
        '401':
          $ref: '#/components/responses/unauthorized'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      parameters:
      - $ref: '#/components/parameters/parameters_load_balancer_id'
      - $ref: '#/components/parameters/metric_timestamp_start'
      - $ref: '#/components/parameters/metric_timestamp_end'
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  \"https://api.digitalocean.com/v2/monitoring/metrics/load_balancer/droplets_health_checks?lb_id=4de7ac8b-495b-4884-9a69-1050c6793cd6&start=1636051668&end=1636051668\""
      security:
      - bearer_auth:
        - monitoring:read
  /v2/monitoring/metrics/load_balancer/droplets_downtime:
    get:
      operationId: monitoring_get_lb_droplets_downtime
      summary: Get Load Balancer Droplets Downtime Status Metrics
      description: To retrieve Droplets downtime status for a given load balancer, send a GET request to `/v2/monitoring/metrics/load_balancer/droplets_downtime`.
      tags:
      - Monitoring
      responses:
        '200':
          $ref: '#/components/responses/metric_response'
        '401':
          $ref: '#/components/responses/unauthorized'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      parameters:
      - $ref: '#/components/parameters/parameters_load_balancer_id'
      - $ref: '#/components/parameters/metric_timestamp_start'
      - $ref: '#/components/parameters/metric_timestamp_end'
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  \"https://api.digitalocean.com/v2/monitoring/metrics/load_balancer/droplets_downtime?lb_id=4de7ac8b-495b-4884-9a69-1050c6793cd6&start=1636051668&end=1636051668\""
      security:
      - bearer_auth:
        - monitoring:read
  /v2/monitoring/sinks/destinations:
    post:
      operationId: monitoring_create_destination
      summary: Create Logging Destination
      description: To create a new destination, send a POST request to `/v2/monitoring/sinks/destinations`.
      tags:
      - Monitoring
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/destination_request'
            examples:
              Managed OpenSearch Cluster:
                value:
                  name: managed_opensearch_cluster
                  type: opensearch_dbaas
                  config:
                    endpoint: db-opensearch-nyc3-123456-do-user-123456-0.g.db.ondigitalocean.com
                    cluster_uuid: 85148069-7e35-4999-80bd-6fa1637ca385
                    cluster_name: managed_dbaas_cluster
                    index_name: logs
                    retention_days: 14
              External OpenSearch Cluster:
                value:
                  name: external_opensearch
                  type: opensearch_ext
                  config:
                    endpoint: example.com
                    credentials:
                      username: username
                      password: password
                    index_name: logs
                    retention_days: 14
      responses:
        '200':
          $ref: '#/components/responses/destination'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  \"https://api.digitalocean.com/v2/monitoring/sinks/destinations\" \\\n  --data '{\"name\":\"cluster\", \"type\":\"opensearch_dbaas\", \"config\": {\"endpoint\": \"example.com\", \"credentials\": {\"username\": \"username\", \"password\": \"password\"}}}'"
      security:
      - bearer_auth:
        - monitoring:create
    get:
      operationId: monitoring_list_destinations
      summary: List Logging Destinations
      description: To list all logging destinations, send a GET request to `/v2/monitoring/sinks/destinations`.
      tags:
      - Monitoring
      responses:
        '200':
          $ref: '#/components/responses/monitoring_list_destinations'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  \"https://api.digitalocean.com/v2/monitoring/sinks/destinations\""
      security:
      - bearer_auth:
        - monitoring:read
  /v2/monitoring/sinks/destinations/{destination_uuid}:
    get:
      operationId: monitoring_get_destination
      summary: Get Logging Destination
      description: To get the details of a destination, send a GET request to `/v2/monitoring/sinks/destinations/${destination_uuid}`.
      tags:
      - Monitoring
      parameters:
      - $ref: '#/components/parameters/destination_uuid'
      responses:
        '200':
          $ref: '#/components/responses/destination'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  \"https://api.digitalocean.com/v2/monitoring/sinks/destinations/01f30bfa-319a-4769-ba95-9d43971fb514\""
      security:
      - bearer_auth:
        - monitoring:read
    post:
      operationId: monitoring_update_destination
      summary: Update Logging Destination
      description: To update the details of a destination, send a PATCH request to `/v2/monitoring/sinks/destinations/${destination_uuid}`.
      tags:
      - Monitoring
      parameters:
      - $ref: '#/components/parameters/destination_uuid'
      responses:
        '204':
          $ref: '#/components/responses/no_content'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/destination_request'
      x-codeSamples:
      - lang: cURL
        source: "curl -X PATCH \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  \"https://api.digitalocean.com/v2/monitoring/sinks/destinations/01f30bfa-319a-4769-ba95-9d43971fb514\" \\\n  --data '{\"index_name\": \"logs\", \"retention_days\": 30}'"
      security:
      - bearer_auth:
        - monitoring:update
    delete:
      operationId: monitoring_delete_destination
      summary: Delete Logging Destination
      description: To delete a destination and all associated sinks, send a DELETE request to `/v2/monitoring/sinks/destinations/${destination_uuid}`.
      tags:
      - Monitoring
      parameters:
      - $ref: '#/components/parameters/destination_uuid'
      responses:
        '204':
          $ref: '#/components/responses/no_content'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      x-codeSamples:
      - lang: cURL
        source: "curl -X DELETE \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  \"https://api.digitalocean.com/v2/monitoring/sinks/destinations/01f30bfa-319a-4769-ba95-9d43971fb514\""
      security:
      - bearer_auth:
        - monitoring:delete
  /v2/monitoring/sinks:
    post:
      operationId: monitoring_create_sink
      summary: Create Sink
      description: 'To create a new sink, send a POST request to `/v2/monitoring/sinks`. Forwards logs from the

        resources identified in `resources` to the specified pre-existing destination.'
      tags:
      - Monitoring
      responses:
        '202':
          $ref: '#/components/responses/accepted'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                destination_uuid:
                  type: string
                  example: 9df2b7e9-3fb2-4577-b60a-e9c0d53f9a99
                  description: A unique identifier for an already-existing destination.
                resources:
                  type: array
                  description: List of resources identified by their URNs.
                  items:
                    $ref: '#/components/schemas/sink_resource'
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  \"https://api.digitalocean.com/v2/monitoring/sinks\" \\\n  --data '{\"destination_uuid\": \"f2fcd5d9-f410-4f3a-8015-130ada94b1fe\",  \"resources\": [{\"name\": \"fra_kubernetes_cluster\", \"urn\":\"do:kubernetes:8463c9db-150c-4b44-830c-fca7f68d005b\"}]}'"
      security:
      - bearer_auth:
        - monitoring:create
    get:
      operationId: monitoring_list_sinks
      summary: Lists all sinks
      description: To list all sinks, send a GET request to `/v2/monitoring/sinks`.
      tags:
      - Monitoring
      parameters:
      - $ref: '#/components/parameters/resource_id'
      responses:
        '200':
          $ref: '#/components/responses/list_sinks'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  \"https://api.digitalocean.com/v2/monitoring/sinks?resource_id=do:kubernetes:f2fcd5d9-f410-4f3a-8015-130ada94b1fe\""
      security:
      - bearer_auth:
        - monitoring:read
  /v2/monitoring/sinks/{sink_uuid}:
    get:
      operationId: monitoring_get_sink
      summary: Get Sink
      description: To get the details of a sink (resources and destination), send a GET request to `/v2/monitoring/sinks/${sink_uuid}`.
      tags:
      - Monitoring
      parameters:
      - $ref: '#/components/parameters/sink_uuid'
      responses:
        '200':
          $ref: '#/components/responses/sinks'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  \"https://api.digitalocean.com/v2/monitoring/sinks/f945d774-86e8-4dc8-8f60-cfc76dd3d098\""
      security:
      - bearer_auth:
        - monitoring:read
    delete:
      operationId: monitoring_delete_sink
      summary: Delete Sink
      description: To delete a sink, send a DELETE request to `/v2/monitoring/sinks/${sink_uuid}`.
      tags:
      - Monitoring
      parameters:
      - $ref: '#/components/parameters/sink_uuid'
      responses:
        '204':
          $ref: '#/components/responses/no_content'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      x-codeSamples:
      - lang: cURL
        source: "curl -X DELETE \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  \"https://api.digitalocean.com/v2/monitoring/sinks/aef7ff4a-f1be-4d9e-b886-650fcb5bdfe3\""
      security:
      - bearer_auth:
        - monitoring:delete
components:
  schemas:
    meta_properties:
      type: object
      description: Information about the response itself.
      properties:
        total:
          description: Number of objects returned by the request.
          type: integer
          example: 1
    link_to_last_page:
      type: object
      properties:
        last:
          description: URI of the last page of the results.
          type: string
          example: https://api.digitalocean.com/v2/images?page=2
    opensearch_config:
      type: object
      required:
      - endpoint
      properties:
        id:
          type: string
          description: A unique identifier for a configuration.
          example: 41078d41-165c-4cff-9f0a-19536e3e3d49
        credentials:
          type: object
          description: Credentials for an OpenSearch cluster user. Optional if `cluster_uuid` is passed.
          properties:
            username:
              type: string
              example: username
            password:
              type: string
              example: password
        endpoint:
          type: string
          example: example.com
          description: host of the OpenSearch cluster
        cluster_uuid:
          type: string
          example: 85148069-7e35-4999-80bd-6fa1637ca385
          description: A unique identifier for a managed OpenSearch cluster.
        cluster_name:
          type: string
          example: managed_dbaas_cluster
          description: Name of a managed OpenSearch cluster.
        index_name:
          type: string
          description: OpenSearch index to send logs to.
          example: logs
        retention_days:
          type: integer
          description: 'Number of days to retain logs in OpenSearch (default: 14)'
          example: 14
    destination_request:
      type: object
      required:
      - config
      - type
      properties:
        name:
          type: string
          description: destination name
          example: managed_opensearch_cluster
        type:
          enum:
          - opensearch_dbaas
          - opensearch_ext
          description: 'The destination type. `opensearch_dbaas` for a DigitalOcean managed OpenSearch

            cluster or `opensearch_ext` for an externally managed one.

            '
        config:
          $ref: '#/components/schemas/opensearch_config_request'
    slack_details:
      type: object
      required:
      - url
      - channel
      properties:
        channel:
          type: string
          example: Production Alerts
          description: Slack channel to notify of an alert trigger.
        url:
          type: string
          description: Slack Webhook URL.
          example: https://hooks.slack.com/services/REDACTED
    sink_resource:
      type: object
      required:
      - urn
      properties:
        urn:
          type: string
          pattern: ^do:kubernetes:.*
          example: do:kubernetes:f453aa14-646e-4cf8-8c62-75a19fb24ec2
          description: The uniform resource name (URN) for the resource in the format do:resource_type:resource_id.
        name:
          type: string
          description: resource name
          example: managed_kubernetes_cluster
    error:
      type: object
      properties:
        id:
          description: A short identifier corresponding to the HTTP status code returned. For  example, the ID for a response returning a 404 status code would be "not_found."
          type: string
          example: not_found
        message:
          description: A message providing additional information about the error, including  details to help resolve it when possible.
          type: string
          example: The resource you were accessing could not be found.
        request_id:
          description: Optionally, some endpoints may include a request ID that should be  provided when reporting bugs or opening support tickets to help  identify the issue.
          type: string
          example: 4d9d8375-3c56-4925-a3e7-eb137fed17e9
      required:
      - id
      - message
    backward_links:
      allOf:
      - $ref: '#/components/schemas/link_to_first_page'
      - $ref: '#/components/schemas/link_to_prev_page'
    urn:
      type: string
      pattern: ^do:(dbaas|domain|droplet|floatingip|loadbalancer|space|volume|kubernetes|vpc):.*
      example: do:droplet:13457723
      description: The uniform resource name (URN) for the resource in the format do:resource_type:resource_id.
    sinks_response:
      type: object
      required:
      - urn
      properties:
        destination:
          $ref: '#/components/schemas/destination'
        resources:
          type: array
          description: List of resources identified by their URNs.
          items:
            $ref: '#/components/schemas/sink_resource'
    metrics:
      type: object
      required:
      - status
      - data
      properties:
        data:
          $ref: '#/components/schemas/metrics_data'
        status:
          type: string
          example: success
          enum:
          - success
          - error
    list_alert_policy:
      type: object
      required:
      - policies
      properties:
        policies:
          type: array
          items:
            $ref: '#/components/schemas/alert_policy'
    meta:
      type: object
      properties:
        meta:
          allOf:
          - $ref: '#/components/schemas/meta_properties'
          - required:
            - total
      required:
      - meta
    alert_policy_request:
      type: object
      required:
      - type
      - description
      - compare
      - value
      - window
      - entities
      - tags
      - alerts
      - enabled
      properties:
        alerts:
          $ref: '#/components/schemas/alerts'
        compare:
          type: string
          example: GreaterThan
          enum:
          - GreaterThan
          - LessThan
        description:
          type: string
          example: CPU Alert
        enabled:
          type: boolean
          example: true
        entities:
          type: array
          items:
            type: string
          example:
          - '192018292'
        tags:
          type: array
          items:
            type: string
          example:
          - droplet_tag
        type:
          type: string
          enum:
          - v1/insights/droplet/load_1
          - v1/insights/droplet/load_5
          - v1/insights/droplet/load_15
          - v1/insights/droplet/memory_utilization_percent
          - v1/insights/droplet/disk_utilization_percent
          - v1/insights/droplet/cpu
          - v1/insights/droplet/disk_read
          - v1/insights/droplet/disk_write
          - v1/insights/droplet/public_outbound_bandwidth
          - v1/insights/droplet/public_inbound_bandwidth
          - v1/insights/droplet/private_outbound_bandwidth
          - v1/insights/droplet/private_inbound_bandwidth
          - v1/insights/lbaas/avg_cpu_utilization_percent
          - v1/insights/lbaas/connection_utilization_percent
          - v1/insights/lbaas/droplet_health
          - v1/insights/lbaas/tls_connections_per_second_utilization_percent
          - v1/insights/lbaas/increase_in_http_error_rate_percentage_5xx
          - v1/insights/lbaas/increase_in_http_error_rate_percentage_4xx
          - v1/insights/lbaas/increase_in_http_error_rate_count_5xx
          - v1/insights/lbaas/increase_in_http_error_rate_count_4xx
          - v1/insights/lbaas/high_http_request_response_time
          - v1/insights/lbaas/high_http_request_response_time_50p
          - v1/insights/lbaas/high_http_request_response_time_95p
          - v1/insights/lbaas/high_http_request_response_time_99p
          - v1/dbaas/alerts/load_15_alerts
          - v1/dbaas/alerts/memory_utilization_alerts
          - v1/dbaas/alerts/disk_utilization_alerts
          - v1/dbaas/alerts/cpu_alerts
          example: v1/insights/droplet/cpu
        value:
          type: number
          format: float
          example: 80
        window:
          type: string
          example: 5m
          enum:
          - 5m
          - 10m
          - 30m
          - 1h
    link_to_next_page:
      type: object
      properties:
        next:
          description: URI of the next page of the results.
          type: string
          example: https://api.digitalocean.com/v2/images?page=2
    pagination:
      type: object
      properties:
        links:
          $ref: '#/components/schemas/page_links'
    alerts:
      type: object
      required:
      - slack
      - email
      properties:
        email:
          description: An email to notify on an alert trigger.
          example:
          - bob@exmaple.com
          type: array
          items:
            type: string
        slack:
          type: array
          description: Slack integration details.
          items:
            $ref: '#/components/schemas/slack_details'
    opensearch_config_omit_credentials:
      type: object
      description: OpenSearch destination configuration with `credentials` omitted.
      properties:
        id:
          type: string
          description: A unique identifier for a configuration.
          example: 41078d41-165c-4cff-9f0a-19536e3e3d49
        endpoint:
          type: string
          example: example.com
          description: host of the OpenSearch cluster
        cluster_uuid:
          type: string
          example: 85148069-7e35-4999-80bd-6fa1637ca385
[...]
