openapi: 3.2.0
info:
  title: DigitalOcean Droplet Actions API
  version: '2.0'
  description: '# Introduction


    The DigitalOcean API allows you to manage Droplets and resources within the

    DigitalOcean cloud in a simple, programmatic way using conventional HTTP requests.'
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  contact:
    name: DigitalOcean API Team
    email: api-engineering@digitalocean.com
  termsOfService: https://www.digitalocean.com/legal/terms-of-service-agreement/
servers:
- url: https://api.digitalocean.com
  description: production
security:
- bearer_auth: []
tags:
- name: Droplet Actions
  description: Droplet actions are tasks that can be executed on a Droplet.
paths:
  /v2/droplets/{droplet_id}/actions:
    get:
      operationId: dropletActions_list
      summary: List Actions for a Droplet
      description: 'To retrieve a list of all actions that have been executed for a Droplet, send

        a GET request to `/v2/droplets/$DROPLET_ID/actions`.


        The results will be returned as a JSON object with an `actions` key. This will

        be set to an array filled with `action` objects containing the standard

        `action` attributes.'
      tags:
      - Droplet Actions
      parameters:
      - $ref: '#/components/parameters/droplet_id'
      - $ref: '#/components/parameters/per_page'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          $ref: '#/components/responses/all_droplet_actions'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  \"https://api.digitalocean.com/v2/droplets/3164494/actions?page=1&per_page=1\""
      - lang: Go
        source: "import (\n    \"context\"\n    \"os\"\n\n    \"github.com/digitalocean/godo\"\n)\n\nfunc main() {\n    token := os.Getenv(\"DIGITALOCEAN_TOKEN\")\n\n    client := godo.NewFromToken(token)\n    ctx := context.TODO()\n\n    opt := &godo.ListOptions{\n        Page:    1,\n        PerPage: 200,\n    }\n\n    actions, _, err := client.Droplets.Actions(ctx, 3164494, opt)\n}"
      - lang: Ruby
        source: 'require ''droplet_kit''

          token = ENV[''DIGITALOCEAN_TOKEN'']

          client = DropletKit::Client.new(access_token: token)


          actions = client.droplets.actions(id: 3164494)

          actions.each'
      - lang: Python
        source: "import os\nfrom pydo import Client\n\nclient = Client(token=os.environ.get(\"DIGITALOCEAN_TOKEN\"))\n\nreq = {\n  \"name\": \"blog\",\n  \"type\": \"CNAME\"\n}\n\nresp = client.droplet_actions.list(droplet_id=3164494)"
      security:
      - bearer_auth:
        - droplet:read
    post:
      operationId: dropletActions_post
      summary: Initiate a Droplet Action
      description: 'To initiate an action on a Droplet send a POST request to

        `/v2/droplets/$DROPLET_ID/actions`. In the JSON body to the request,

        set the `type` attribute to on of the supported action types:


        | Action | Details |

        | ---------------------------------------- | ----------- |

        | `enable_backups` | Enables backups for a Droplet |

        | `disable_backups` | Disables backups for a Droplet |

        | `change_backup_policy` | Update the backup policy for a Droplet |

        | `reboot` | Reboots a Droplet. A `reboot` action is an attempt to reboot the Droplet in a graceful way, similar to using the `reboot` command from the console. |

        | `power_cycle` | Power cycles a Droplet. A `powercycle` action is similar to pushing the reset button on a physical machine, it''s similar to booting from scratch. |

        | `shutdown` | Shutsdown a Droplet. A shutdown action is an attempt to shutdown the Droplet in a graceful way, similar to using the `shutdown` command from the console. Since a `shutdown` command can fail, this action guarantees that the command is issued, not that it succeeds. The preferred way to turn off a Droplet is to attempt a shutdown, with a reasonable timeout, followed by a `power_off` action to ensure the Droplet is off. |

        | `power_off` | Powers off a Droplet. A `power_off` event is a hard shutdown and should only be used if the `shutdown` action is not successful. It is similar to cutting the power on a server and could lead to complications. |

        | `power_on` | Powers on a Droplet. |

        | `restore` | Restore a Droplet using a backup image. The image ID that is passed in must be a backup of the current Droplet instance. The operation will leave any embedded SSH keys intact. |

        | `password_reset` | Resets the root password for a Droplet. A new password will be provided via email. It must be changed after first use. |

        | `resize` | Resizes a Droplet. Set the `size` attribute to a size slug. If a permanent resize with disk changes included is desired, set the `disk` attribute to `true`. |

        | `rebuild` | Rebuilds a Droplet from a new base image. Set the `image` attribute to an image ID or slug. |

        | `rename` | Renames a Droplet. |

        | `change_kernel` | Changes a Droplet''s kernel. Only applies to Droplets with externally managed kernels. All Droplets created after March 2017 use internal kernels by default. |

        | `enable_ipv6` | Enables IPv6 for a Droplet. Once enabled for a Droplet, IPv6 can not be disabled. When enabling IPv6 on an existing Droplet, additional OS-level configuration is required. |

        | `snapshot` | Takes a snapshot of a Droplet. |'
      tags:
      - Droplet Actions
      parameters:
      - $ref: '#/components/parameters/droplet_id'
      requestBody:
        description: 'The `type` attribute set in the request body will specify the  action that

          will be taken on the Droplet. Some actions will require additional

          attributes to be set as well.

          '
        content:
          application/json:
            schema:
              anyOf:
              - $ref: '#/components/schemas/droplet_action'
              - $ref: '#/components/schemas/droplet_action_enable_backups'
              - $ref: '#/components/schemas/droplet_action_change_backup_policy'
              - $ref: '#/components/schemas/droplet_action_restore'
              - $ref: '#/components/schemas/droplet_action_resize'
              - $ref: '#/components/schemas/droplet_action_rebuild'
              - $ref: '#/components/schemas/droplet_action_rename'
              - $ref: '#/components/schemas/droplet_action_change_kernel'
              - $ref: '#/components/schemas/droplet_action_snapshot'
              discriminator:
                propertyName: type
                mapping:
                  enable_backups: '#/components/schemas/droplet_action_enable_backups'
                  disable_backups: '#/components/schemas/droplet_action'
                  change_backup_policy: '#/components/schemas/droplet_action_change_backup_policy'
                  reboot: '#/components/schemas/droplet_action'
                  power_cycle: '#/components/schemas/droplet_action'
                  shutdown: '#/components/schemas/droplet_action'
                  power_off: '#/components/schemas/droplet_action'
                  power_on: '#/components/schemas/droplet_action'
                  password_reset: '#/components/schemas/droplet_action'
                  restore: '#/components/schemas/droplet_action_restore'
                  resize: '#/components/schemas/droplet_action_resize'
                  rebuild: '#/components/schemas/droplet_action_rebuild'
                  rename: '#/components/schemas/droplet_action_rename'
                  change_kernel: '#/components/schemas/droplet_action_change_kernel'
                  enable_ipv6: '#/components/schemas/droplet_action'
                  snapshot: '#/components/schemas/droplet_action_snapshot'
      responses:
        '201':
          $ref: '#/components/responses/droplet_action'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      x-codeSamples:
      - lang: cURL
        source: "# Enable Backups\ncurl -X POST \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  -d '{\"type\":\"enable_backups\"}' \\\n  \"https://api.digitalocean.com/v2/droplets/3164450/actions\"\n\n# Disable Backups\ncurl -X POST \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  -d '{\"type\":\"disable_backups\"}' \\\n  \"https://api.digitalocean.com/v2/droplets/3164450/actions\"\n\n# Reboot a Droplet\ncurl -X POST \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  -d '{\"type\":\"reboot\"}' \\\n  \"https://api.digitalocean.com/v2/droplets/3164450/actions\"\n\n# Power cycle a Droplet\ncurl -X POST \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  -d '{\"type\":\"power_cycle\"}' \\\n  \"https://api.digitalocean.com/v2/droplets/3164450/actions\"\n\n# Shutdown and Droplet\ncurl -X POST \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  -d '{\"type\":\"shutdown\"}' \\\n  \"https://api.digitalocean.com/v2/droplets/3067649/actions\"\n\n# Power off a Droplet\ncurl -X POST \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  -d '{\"type\":\"power_off\"}' \\\n  \"https://api.digitalocean.com/v2/droplets/3164450/actions\"\n\n# Power on a Droplet\ncurl -X POST \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  -d '{\"type\":\"power_on\"}' \\\n  \"https://api.digitalocean.com/v2/droplets/3164450/actions\"\n\n# Restore a Droplet\ncurl -X POST \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  -d '{\"type\":\"restore\", \"image\": 12389723 }' \\\n  \"https://api.digitalocean.com/v2/droplets/3067649/actions\"\n\n# Password Reset a Droplet\ncurl -X POST \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  -d '{\"type\":\"password_reset\"}' \\\n  \"https://api.digitalocean.com/v2/droplets/3164450/actions\"\n\n# Resize a Droplet\ncurl -X POST \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  -d '{\"type\":\"resize\",\"size\":\"1gb\"}' \\\n  \"https://api.digitalocean.com/v2/droplets/3164450/actions\"\n\n# Rebuild a Droplet\ncurl -X POST \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  -d '{\"type\":\"rebuild\",\"image\":\"ubuntu-16-04-x64\"}' \\\n  \"https://api.digitalocean.com/v2/droplets/3164450/actions\"\n\n# Rename a Droplet\ncurl -X POST \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  -d '{\"type\":\"rename\",\"name\":\"nifty-new-name\"}' \\\n  \"https://api.digitalocean.com/v2/droplets/3164450/actions\"\n\n# Change the Kernel\ncurl -X POST \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  -d '{\"type\":\"change_kernel\",\"kernel\":991}' \\\n  \"https://api.digitalocean.com/v2/droplets/3164450/actions\"\n\n# Enable IPv6\ncurl -X POST \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  -d '{\"type\":\"enable_ipv6\"}' \\\n  \"https://api.digitalocean.com/v2/droplets/3164450/actions\"\n\n# Enable Private Networking\ncurl -X POST \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  -d '{\"type\":\"enable_private_networking\"}' \\\n  \"https://api.digitalocean.com/v2/droplets/3164450/actions\"\n\n# Snapshot a Droplet\ncurl -X POST \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  -d '{\"type\":\"snapshot\",\"name\":\"Nifty New Snapshot\"}' \\\n  \"https://api.digitalocean.com/v2/droplets/3164450/actions\"\n\n# Acting on Tagged Droplets\ncurl -X POST \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  -d '{\"type\":\"enable_backups\"}' \\\n  \"https://api.digitalocean.com/v2/droplets/actions?tag_name=awesome\"\n\n# Retrieve a Droplet Action\ncurl -X GET \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  \"https://api.digitalocean.com/v2/droplets/3164444/actions/36804807\""
      - lang: Go
        source: "import (\n    \"context\"\n    \"os\"\n\n    \"github.com/digitalocean/godo\"\n)\n\nfunc main() {\n    token := os.Getenv(\"DIGITALOCEAN_TOKEN\")\n\n    client := godo.NewFromToken(token)\n    ctx := context.TODO()\n// Enable Backups\n    action, _, err := client.DropletActions.EnableBackups(ctx, 3164450)\n\n// Disable Backups\n//  action, _, err := client.DropletActions.DisableBackups(ctx, 3164450)\n\n// Reboot a Droplet\n//  action, _, err := client.DropletActions.Reboot(ctx, 3164450)\n\n// Power Cycle a Droplet\n//  action, _, err := client.DropletActions.PowerCycle(ctx, 3164450)\n\n// Shutdown a Droplet\n//  action, _, err := client.DropletActions.Shutdown(ctx, 3067649)\n\n// Power Off a Droplet\n//  action, _, err := client.DropletActions.PowerOff(ctx, 3164450)\n\n// Power On a Droplet\n//  action, _, err := client.DropletActions.PowerOn(ctx, 3164450)\n\n// Restore a Droplet\n//  action, _, err := client.DropletActions.Restore(ctx, 3164449, 12389723)\n\n// Password Reset a Droplet\n//  action, _, err := client.DropletActions.PasswordReset(ctx, 3164450)\n\n// Resize a Droplet\n//  action, _, err := client.DropletActions.Resize(ctx, 3164450, \"1gb\", true)\n\n// Rebuild a Droplet\n//  action, _, err := client.DropletActions.RebuildByImageSlug(ctx, 3164450, \"ubuntu-16-04-x64\")\n\n// Rename a Droplet\n//  action, _, err := client.DropletActions.Rename(ctx, 3164450, \"nifty-new-name\")\n\n// Change the Kernel\n//  action, _, err := client.DropletActions.ChangeKernel(ctx, 3164450, 991)\n\n// Enable IPv6\n//  action, _, err := client.DropletActions.EnableIPv6(ctx, 3164450)\n\n// Enable Private Networking\n//  action, _, err := client.DropletActions.EnablePrivateNetworking(ctx, 3164450)\n\n// Snapshot a Droplet\n//  action, _, err := client.DropletActions.Snapshot(ctx, 3164450, \"Nifty New Snapshot\")\n\n// Retrieve a Droplet Action\n//  action, _, err := client.DropletActions.Get(ctx, 3164450, 36804807)\n\n}"
      - lang: Ruby
        source: 'require ''droplet_kit''

          token = ENV[''DIGITALOCEAN_TOKEN'']

          client = DropletKit::Client.new(access_token: token)


          # Enable Backups

          client.droplet_actions.enable_backups(droplet_id: 3164450)


          # Disable Backups

          # client.droplet_actions.disable_backups(droplet_id: 3164450)


          # Reboot a Droplet

          # client.droplet_actions.reboot(droplet_id: 3164450)


          # Power Cycle a Droplet

          # client.droplet_actions.power_cycle(droplet_id: 3164450)


          # Shutdown a Droplet

          # client.droplet_actions.shutdown(droplet_id: 3067649)


          # Power Off a Droplet

          # client.droplet_actions.power_off(droplet_id: 3164450)


          # Power On a Droplet

          # client.droplet_actions.power_on(droplet_id: 3164450)


          # Restore a Droplet

          # client.droplet_actions.restore(droplet_id: 3067649, image: 12389723)


          # Password Reset a Droplet

          # client.droplet_actions.password_reset(droplet_id: 3164450)


          # Resize a Droplet

          # client.droplet_actions.resize(droplet_id: 3164450, size: ''1gb'')


          # Rebuild a Droplet

          # client.droplet_actions.rebuild(droplet_id: 3164450, image: ''ubuntu-16-04-x64'')


          # Rename a Droplet

          # client.droplet_actions.rename(droplet_id: 3164450, name: ''nifty-new-name'')


          # Change the Kernel

          # client.droplet_actions.change_kernel(droplet_id: 3164450, kernel: 991)


          # Enable IPv6

          # client.droplet_actions.enable_ipv6(droplet_id: 3164450)


          # Enable Private Networking

          # client.droplet_actions.enable_private_networking(droplet_id: 3164450)


          # Snapshot a Droplet

          # client.droplet_actions.snapshot(droplet_id: 3164450, name: ''Nifty New Snapshot'')'
      - lang: Python
        source: "import os\nfrom pydo import Client\n\nclient = Client(token=os.environ.get(\"DIGITALOCEAN_TOKEN\"))\n\n# enable back ups example\nreq = {\n  \"type\": \"enable_backups\"\n}\n\nresp = client.droplet_actions.post(droplet_id=346652, body=req)"
      security:
      - bearer_auth:
        - droplet:update
  /v2/droplets/actions:
    post:
      operationId: dropletActions_post_byTag
      summary: Acting on Tagged Droplets
      description: 'Some actions can be performed in bulk on tagged Droplets. The actions can be

        initiated by sending a POST to `/v2/droplets/actions?tag_name=$TAG_NAME` with

        the action arguments.


        Only a sub-set of action types are supported:


        - `power_cycle`

        - `power_on`

        - `power_off`

        - `shutdown`

        - `enable_ipv6`

        - `enable_backups`

        - `disable_backups`

        - `snapshot`'
      tags:
      - Droplet Actions
      parameters:
      - $ref: '#/components/parameters/droplet_tag_name'
      requestBody:
        description: 'The `type` attribute set in the request body will specify the  action that

          will be taken on the Droplet. Some actions will require additional

          attributes to be set as well.

          '
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/droplet_action'
              - $ref: '#/components/schemas/droplet_action_snapshot'
              discriminator:
                propertyName: type
                mapping:
                  enable_backups: '#/components/schemas/droplet_action'
                  disable_backups: '#/components/schemas/droplet_action'
                  power_cycle: '#/components/schemas/droplet_action'
                  shutdown: '#/components/schemas/droplet_action'
                  power_off: '#/components/schemas/droplet_action'
                  power_on: '#/components/schemas/droplet_action'
                  enable_ipv6: '#/components/schemas/droplet_action'
                  snapshot: '#/components/schemas/droplet_action_snapshot'
      responses:
        '201':
          $ref: '#/components/responses/droplet_actions_response'
        '401':
          $ref: '#/components/responses/unauthorized'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  -d '{\"type\":\"enable_backups\"}' \\\n  \"https://api.digitalocean.com/v2/droplets/actions?tag_name=awesome\""
      - lang: Go
        source: "import (\n    \"context\"\n    \"os\"\n\n    \"github.com/digitalocean/godo\"\n)\n\nfunc main() {\n    token := os.Getenv(\"DIGITALOCEAN_TOKEN\")\n\n    client := godo.NewFromToken(token)\n    ctx := context.TODO()\n\n    action, _, err := client.DropletActions.PowerOffByTag(ctx, \"awesome\")\n}"
      - lang: Ruby
        source: 'require ''droplet_kit''

          token = ENV[''DIGITALOCEAN_TOKEN'']

          client = DropletKit::Client.new(access_token: token)


          client.droplet_actions.power_off_for_tag(tag: ''awesome'')'
      - lang: Python
        source: 'import os

          from pydo import Client


          client = Client(token=os.environ.get("DIGITALOCEAN_TOKEN"))


          req = {

          "type": "enable_backups"

          }


          resp = client.droplet_actions.post_by_tag(tag_name="production",body=req)'
      security:
      - bearer_auth:
        - droplet:update
  /v2/droplets/{droplet_id}/actions/{action_id}:
    get:
      operationId: dropletActions_get
      summary: Retrieve a Droplet Action
      description: 'To retrieve a Droplet action, send a GET request to

        `/v2/droplets/$DROPLET_ID/actions/$ACTION_ID`.


        The response will be a JSON object with a key called `action`. The value will

        be a Droplet action object.'
      tags:
      - Droplet Actions
      parameters:
      - $ref: '#/components/parameters/droplet_id'
      - $ref: '#/components/parameters/action_id'
      responses:
        '200':
          $ref: '#/components/responses/action'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  \"https://api.digitalocean.com/v2/droplets/3164444/actions/36804807\""
      - lang: Go
        source: "import (\n    \"context\"\n    \"os\"\n\n    \"github.com/digitalocean/godo\"\n)\n\nfunc main() {\n    token := os.Getenv(\"DIGITALOCEAN_TOKEN\")\n\n    client := godo.NewFromToken(token)\n    ctx := context.TODO()\n\n    action, _, err := client.DropletActions.Get(ctx, 3164450, 36804807)\n}"
      - lang: Ruby
        source: 'require ''droplet_kit''

          token = ENV[''DIGITALOCEAN_TOKEN'']

          client = DropletKit::Client.new(access_token: token)


          client.droplet_actions.find(droplet_id: 3164444, id: 36804807)'
      - lang: Python
        source: 'import os

          from pydo import Client


          client = Client(token=os.environ.get("DIGITALOCEAN_TOKEN"))


          resp = client.droplet_actions.get(droplet_id=3934132, action_id=2432342)'
      security:
      - bearer_auth:
        - droplet:read
components:
  schemas:
    meta_properties:
      type: object
      description: Information about the response itself.
      properties:
        total:
          description: Number of objects returned by the request.
          type: integer
          example: 1
    link_to_last_page:
      type: object
      properties:
        last:
          description: URI of the last page of the results.
          type: string
          example: https://api.digitalocean.com/v2/images?page=2
    region:
      type: object
      properties:
        name:
          type: string
          description: The display name of the region.  This will be a full name that is used in the control panel and other interfaces.
          example: New York 3
        slug:
          type: string
          description: A human-readable string that is used as a unique identifier for each region.
          example: nyc3
        features:
          items:
            type: string
          description: This attribute is set to an array which contains features available in this region
          example:
          - private_networking
          - backups
          - ipv6
          - metadata
          - install_agent
          - storage
          - image_transfer
        available:
          type: boolean
          description: This is a boolean value that represents whether new Droplets can be created in this region.
          example: true
        sizes:
          items:
            type: string
          description: This attribute is set to an array which contains the identifying slugs for the sizes available in this region.
          example:
          - s-1vcpu-1gb
          - s-1vcpu-2gb
          - s-1vcpu-3gb
          - s-2vcpu-2gb
          - s-3vcpu-1gb
          - s-2vcpu-4gb
          - s-4vcpu-8gb
          - s-6vcpu-16gb
          - s-8vcpu-32gb
          - s-12vcpu-48gb
          - s-16vcpu-64gb
          - s-20vcpu-96gb
          - s-24vcpu-128gb
          - s-32vcpu-192g
      required:
      - available
      - features
      - name
      - sizes
      - slug
    droplet_action_enable_backups:
      allOf:
      - $ref: '#/components/schemas/droplet_action'
      - type: object
        properties:
          backup_policy:
            allOf:
            - $ref: '#/components/schemas/droplet_backup_policy'
            - description: An object specifying the backup policy for the Droplet. If omitted, the backup plan will default to daily.
      example:
        type: enable_backups
        backup_policy:
          plan: daily
          hour: 20
    droplet_action_change_backup_policy:
      allOf:
      - $ref: '#/components/schemas/droplet_action'
      - type: object
        properties:
          backup_policy:
            allOf:
            - $ref: '#/components/schemas/droplet_backup_policy'
            - description: An object specifying the backup policy for the Droplet.
      required:
      - backup_policy
      example:
        type: enable_backups
        backup_policy:
          plan: weekly
          day: SUN
          hour: 20
    droplet_action:
      required:
      - type
      type: object
      description: Specifies the action that will be taken on the Droplet.
      properties:
        type:
          type: string
          enum:
          - enable_backups
          - disable_backups
          - reboot
          - power_cycle
          - shutdown
          - power_off
          - power_on
          - restore
          - password_reset
          - resize
          - rebuild
          - rename
          - change_kernel
          - enable_ipv6
          - snapshot
          example: reboot
          description: The type of action to initiate for the Droplet.
    error:
      type: object
      properties:
        id:
          description: A short identifier corresponding to the HTTP status code returned. For  example, the ID for a response returning a 404 status code would be "not_found."
          type: string
          example: not_found
        message:
          description: A message providing additional information about the error, including  details to help resolve it when possible.
          type: string
          example: The resource you were accessing could not be found.
        request_id:
          description: Optionally, some endpoints may include a request ID that should be  provided when reporting bugs or opening support tickets to help  identify the issue.
          type: string
          example: 4d9d8375-3c56-4925-a3e7-eb137fed17e9
      required:
      - id
      - message
    backward_links:
      allOf:
      - $ref: '#/components/schemas/link_to_first_page'
      - $ref: '#/components/schemas/link_to_prev_page'
    droplet_action_resize:
      allOf:
      - $ref: '#/components/schemas/droplet_action'
      - type: object
        properties:
          disk:
            type: boolean
            example: true
            description: When `true`, the Droplet's disk will be resized in addition to its RAM and CPU. This is a permanent change and cannot be reversed as a Droplet's disk size cannot be decreased.
          size:
            type: string
            example: s-2vcpu-2gb
            description: The slug identifier for the size to which you wish to resize the Droplet.
    droplet_action_snapshot:
      allOf:
      - $ref: '#/components/schemas/droplet_action'
      - type: object
        properties:
          name:
            type: string
            example: Nifty New Snapshot
            description: The name to give the new snapshot of the Droplet.
    meta:
      type: object
      properties:
        meta:
          allOf:
          - $ref: '#/components/schemas/meta_properties'
          - required:
            - total
      required:
      - meta
    link_to_next_page:
      type: object
      properties:
        next:
          description: URI of the next page of the results.
          type: string
          example: https://api.digitalocean.com/v2/images?page=2
    action:
      type: object
      properties:
        id:
          type: integer
          description: A unique numeric ID that can be used to identify and reference an action.
          example: 36804636
        status:
          type: string
          description: The current status of the action. This can be "in-progress", "completed", or "errored".
          enum:
          - in-progress
          - completed
          - errored
          example: completed
          default: in-progress
        type:
          type: string
          description: This is the type of action that the object represents. For example, this could be "transfer" to represent the state of an image transfer action.
          example: create
        started_at:
          type: string
          format: date-time
          description: A time value given in ISO8601 combined date and time format that represents when the action was initiated.
          example: '2020-11-14T16:29:21Z'
        completed_at:
          type:
          - string
          - 'null'
          format: date-time
          description: A time value given in ISO8601 combined date and time format that represents when the action was completed.
          example: '2020-11-14T16:30:06Z'
        resource_id:
          type:
          - integer
          - 'null'
          description: A unique identifier for the resource that the action is associated with.
          example: 3164444
        resource_type:
          type: string
          description: The type of resource that the action is associated with.
          example: droplet
        region:
          $ref: '#/components/schemas/region'
        region_slug:
          type:
          - string
          - 'null'
          description: A human-readable string that is used as a unique identifier for each region.
          example: nyc3
    pagination:
      type: object
      properties:
        links:
          $ref: '#/components/schemas/page_links'
    link_to_prev_page:
      type: object
      properties:
        prev:
          description: URI of the previous page of the results.
          type: string
          example: https://api.digitalocean.com/v2/images?page=1
    droplet_backup_policy:
      type: object
      properties:
        plan:
          type: string
          enum:
          - daily
          - weekly
          example: daily
          description: The backup plan used for the Droplet. The plan can be either `daily` or `weekly`.
        weekday:
          type: string
          enum:
          - SUN
          - MON
          - TUE
          - WED
          - THU
          - FRI
          - SAT
          example: SUN
          description: The day of the week on which the backup will occur.
        hour:
          type: integer
          enum:
          - 0
          - 4
          - 8
          - 12
          - 16
          - 20
          example: 0
          description: The hour of the day that the backup window will start.
        window_length_hours:
          type: integer
          readOnly: true
          example: 4
          description: The length of the backup window starting from `hour`.
        retention_period_days:
          type: integer
          readOnly: true
          example: 7
          description: The number of days the backup will be retained.
    link_to_first_page:
      type: object
      properties:
        first:
          description: URI of the first page of the results.
          type: string
          example: https://api.digitalocean.com/v2/images?page=1
    forward_links:
      allOf:
      - $ref: '#/components/schemas/link_to_last_page'
      - $ref: '#/components/schemas/link_to_next_page'
    droplet_action_change_kernel:
      allOf:
      - $ref: '#/components/schemas/droplet_action'
      - type: object
        properties:
          kernel:
            type: integer
            example: 12389723
            description: A unique number used to identify and reference a specific kernel.
    droplet_action_rename:
      allOf:
      - $ref: '#/components/schemas/droplet_action'
      - type: object
        properties:
          name:
            type: string
            example: nifty-new-name
            description: The new name for the Droplet.
    droplet_action_rebuild:
      allOf:
      - $ref: '#/components/schemas/droplet_action'
      - type: object
        properties:
          image:
            oneOf:
            - type: string
            - type: integer
            example: ubuntu-20-04-x64
            description: The image ID of a public or private image or the slug identifier for a public image. The Droplet will be rebuilt using this image as its base.
    droplet_action_restore:
      allOf:
      - $ref: '#/components/schemas/droplet_action'
      - type: object
        properties:
          image:
            type: integer
            example: 12389723
            description: The ID of a backup of the current Droplet instance to restore from.
    page_links:
      type: object
      properties:
        pages:
          anyOf:
          - $ref: '#/components/schemas/forward_links'
          - $ref: '#/components/schemas/backward_links'
          - {}
          example:
            pages:
              first: https://api.digitalocean.com/v2/account/keys?page=1
              prev: https://api.digitalocean.com/v2/account/keys?page=2
  responses:
    unexpected_error:
      description: Unexpected error
      headers:
        ratelimit-limit:
          $ref: '#/components/headers/ratelimit-limit'
        ratelimit-remaining:
          $ref: '#/components/headers/ratelimit-remaining'
        ratelimit-reset:
          $ref: '#/components/headers/ratelimit-reset'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
          example:
            id: example_error
            message: some error message
    all_droplet_actions:
      description: A JSON object with an `actions` key.
      headers:
        ratelimit-limit:
          $ref: '#/components/headers/ratelimit-limit'
        ratelimit-remaining:
          $ref: '#/components/headers/ratelimit-remaining'
        ratelimit-reset:
          $ref: '#/components/headers/ratelimit-reset'
      content:
        application/json:
          schema:
            allOf:
            - type: object
              properties:
                actions:
                  type: array
                  items:
                    $ref: '#/components/schemas/action'
            - $ref: '#/components/schemas/pagination'
            - $ref: '#/components/schemas/meta'
          example:
            actions:
            - id: 982864273
              status: completed
              type: create
              started_at: '2020-07-20T19:37:30Z'
              completed_at: '2020-07-20T19:37:45Z'
              resource_id: 3164444
              resource_type: droplet
              region:
                name: New York 3
                slug: nyc3
                features:
                - private_networking
                - backups
                - ipv6
                - metadata
                - install_agent
                - image_transfer
                available: true
                sizes:
                - s-1vcpu-1gb
                - s-1vcpu-2gb
                - s-3vcpu-1gb
                - s-2vcpu-2gb
                - s-1vcpu-3gb
                - s-2vcpu-4gb
                - s-4vcpu-8gb
                - m-1vcpu-8gb
                - s-6vcpu-16gb
                - s-8vcpu-32gb
                - s-12vcpu-48gb
              region_slug: nyc3
            links: {}
            meta:
              total: 1
    not_found:
      description: The resource was not found.
      headers:
        ratelimit-limit:
          $ref: '#/components/headers/ratelimit-limit'
        ratelimit-remaining:
          $ref: '#/components/headers/ratelimit-remaining'
        ratelimit-reset:
          $ref: '#/components/headers/ratelimit-reset'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
          example:
            id: not_found
            message: The resource you requested could not be found.
    droplet_action:
      description: The response will be a JSON object with a key called `action`.
      headers:
        ratelimit-limit:
          $ref: '#/components/headers/ratelimit-limit'
        ratelimit-remaining:
          $ref: '#/components/headers/ratelimit-remaining'
        ratelimit-reset:
          $ref: '#/components/headers/ratelimit-reset'
      content:
        application/json:
          schema:
            properties:
              action:
                $ref: '#/components/schemas/action'
    too_many_requests:
      description: API Rate limit exceeded
      headers:
        ratelimit-limit:
          $ref: '#/components/headers/ratelimit-limit'
        ratelimit-remaining:
          $ref: '#/components/headers/ratelimit-remaining'
        ratelimit-reset:
          $ref: '#/components/headers/ratelimit-reset'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
          example:
            id: too_many_requests
            message: API Rate limit exceeded.
    unauthorized:
      description: Unauthorized
      headers:
        ratelimit-limit:
          $ref: '#/components/headers/ratelimit-limit'
        ratelimit-remaining:
          $ref: '#/components/headers/ratelimit-remaining'
        ratelimit-reset:
          $ref: '#/components/headers/ratelimit-reset'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
          example:
            id: unauthorized
            message: Unable to authenticate you.
    droplet_actions_response:
      description: The response will be a JSON object with a key called `actions`.
      headers:
        ratelimit-limit:
          $ref: '#/components/headers/ratelimit-limit'
        ratelimit-remaining:
          $ref: '#/components/headers/ratelimit-remaining'
        ratelimit-reset:
          $ref: '#/components/headers/ratelimit-reset'
      content:
        application/json:
          schema:
            properties:
              actions:
                type: array
                items:
                  $ref: '#/components/schemas/action'
    server_error:
      description: Server error.
      headers:
        ratelimit-limit:
          $ref: '#/components/headers/ratelimit-limit'
        ratelimit-remaining:
          $ref: '#/components/headers/ratelimit-remaining'
        ratelimit-reset:
          $ref: '#/components/headers/ratelimit-reset'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
          example:
            id: server_error
            message: Unexpected server-side error
    action:
      description: The result will be a JSON object with an action key.  This will be set to an action object containing the standard action attributes.
      headers:
        ratelimit-limit:
          $ref: '#/components/headers/ratelimit-limit'
        ratelimit-remaining:
          $ref: '#/components/headers/ratelimit-remaining'
        ratelimit-reset:
          $ref: '#/components/headers/ratelimit-reset'
      content:
        application/json:
          schema:
            properties:
              action:
                $ref: '#/components/schemas/action'
  parameters:
    droplet_id:
      in: path
      name: droplet_id
      description: A unique identifier for a Droplet instance.
      required: true
      schema:
        type: integer
        minimum: 1
      example: 3164444
    per_page:
      in: query
      name: per_page
      required: false
      description: Number of items returned per page
      schema:
        type: integer
        minimum: 1
        default: 20
        maximum: 200
      example: 2
    droplet_tag_name:
      in: query
      name: tag_name
      description: Used to filter Droplets by a specific tag. Can not be combined with `name` or `type`.
      required: false
      schema:
        type: string
      example: env:prod
    action_id:
      in: path
      name: action_id
      description: A unique numeric ID that can be used to identify and reference an action.
      required: true
      schema:
        type: integer
        minimum: 1
      example: 36804636
    page:
      in: query
      name: page
      required: false
      description: Which 'page' of paginated results to return.
      schema:
        type: integer
        minimum: 1
        default: 1
      example: 1
  headers:
    ratelimit-reset:
      schema:
        type: integer
      example: 1444931833
      description: The time when the oldest request will expire. The value is given in Unix epoch time. See https://developers.digitalocean.com/documentation/v2/#rate-limit for information about how requests expire.
    ratelimit-remaining:
      schema:
        type: integer
      example: 4816
      description: The number of requests in your hourly quota that remain before you hit your request limit. See https://developers.digitalocean.com/documentation/v2/#rate-limit for information about how requests expire.
    ratelimit-limit:
      schema:
        type: integer
      example: 5000
      description: The default limit on number of requests that can be made per hour and per minute. Current rate limits are 5000 requests per hour and 250 requests per minute.
  securitySchemes:
    bearer_auth:
      type: http
      scheme: bearer
      description: '## OAuth Authentication


        In order to interact with the DigitalOcean API, you or your application must

        authenticate.


        The DigitalOcean API handles this through OAuth, an open standard for

        authorization. OAuth allows you to delegate access to your account.

        Scopes can be used to grant full access, read-only access, or access to

        a specific set of endpoints.


        You can generate an OAuth token by visiting the [Apps & API](https://cloud.digitalocean.com/account/api/tokens)

        section of the DigitalOcean control panel for your account.


        An OAuth token functions as a complete authentication request. In effect, it

        acts as a substitute for a username and password pair.


        Because of this, it is absolutely **essential** that you keep your OAuth

        tokens secure. In fact, upon generation, the web interface will only display

        each token a single time in order to prevent the token from being compromised.


        DigitalOcean access tokens begin with an identifiable prefix in order to

        distinguish them from other similar tokens.


        - `dop_v1_` for personal access tokens generated in the control panel

        - `doo_v1_` for tokens generated by applications using [the OAuth flow](https://docs.digitalocean.com/reference/api/oauth-api/)

        - `dor_v1_` for OAuth refresh tokens


        ### Scopes


        Scopes act like permissions assigned to an API token. These permissions

        determine what actions the token can perform. You can create API

        tokens that grant read-only access, full access, or limited access to

        specific endpoints by using custom scopes.


        Generally, scopes are designed to match HTTP verbs and common CRUD

        operations (Create, Read, Update, Delete).


        | HTTP Verb | CRUD Operation | Scope |

        |---|---|---|

        | GET | Read | `<resource>:read` |

        | POST | Create | `<resource>:create` |

        | PUT/PATCH | Update | `<resource>:update` |

        | DELETE | Delete | `<resource>:delete` |


        For example, creating a new Droplet by making a `POST` request to the

        `/v2/droplets` endpoint requires the `droplet:create` scope while

        listing Droplets by making a `GET` request to the `/v2/droplets`

        endpoint requires the `droplet:read` scope.


        Each endpoint below specifies which scope is required to access it when

        using custom scopes.


        ### How to Authenticate with OAuth


        In order to make an authenticated request, include a bearer-type

        `Authorization` header containing your OAuth token. All requests must be

        made over HTTPS.


        ### Authenticate with a Bearer Authorization Header


        ```

        curl -X $HTTP_METHOD -H "Authorization: Bearer $DIGITALOCEAN_TOKEN" "https://api.digitalocean.com/v2/$OBJECT"

        ```

        '
