openapi: 3.2.0
info:
  title: DigitalOcean Block Storage Actions API
  version: '2.0'
  description: '# Introduction


    The DigitalOcean API allows you to manage Droplets and resources within the

    DigitalOcean cloud in a simple, programmatic way using conventional HTTP requests.'
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  contact:
    name: DigitalOcean API Team
    email: api-engineering@digitalocean.com
  termsOfService: https://www.digitalocean.com/legal/terms-of-service-agreement/
servers:
- url: https://api.digitalocean.com
  description: production
security:
- bearer_auth: []
tags:
- name: Block Storage Actions
  description: 'Block storage actions are commands that can be given to a DigitalOcean

    Block Storage Volume. An example would be detaching or attaching a volume

    from a Droplet. These requests are made on the

    `/v2/volumes/$VOLUME_ID/actions` endpoint.


    An action object is returned. These objects hold the current status of the

    requested action.'
paths:
  /v2/volumes/actions:
    post:
      operationId: volumeActions_post
      summary: Initiate A Block Storage Action By Volume Name
      description: 'To initiate an action on a block storage volume by Name, send a POST request to

        `~/v2/volumes/actions`. The body should contain the appropriate

        attributes for the respective action.


        ## Attach a Block Storage Volume to a Droplet


        | Attribute | Details |

        | ----------- | ------------------------------------------------------------------- |

        | type | This must be `attach` |

        | volume_name | The name of the block storage volume |

        | droplet_id | Set to the Droplet''s ID |

        | region | Set to the slug representing the region where the volume is located |


        Each volume may only be attached to a single Droplet. However, up to fifteen

        volumes may be attached to a Droplet at a time. Pre-formatted volumes will be

        automatically mounted to Ubuntu, Debian, Fedora, Fedora Atomic, and CentOS

        Droplets created on or after April 26, 2018 when attached. On older Droplets,

        additional configuration

        is required.


        ## Remove a Block Storage Volume from a Droplet


        | Attribute | Details |

        | ----------- | ------------------------------------------------------------------- |

        | type | This must be `detach` |

        | volume_name | The name of the block storage volume |

        | droplet_id | Set to the Droplet''s ID |

        | region | Set to the slug representing the region where the volume is located |'
      tags:
      - Block Storage Actions
      parameters:
      - $ref: '#/components/parameters/per_page'
      - $ref: '#/components/parameters/page'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              anyOf:
              - $ref: '#/components/schemas/volume_action_post_attach'
              - $ref: '#/components/schemas/volume_action_post_detach'
              discriminator:
                propertyName: type
                mapping:
                  attach: '#/components/schemas/volume_action_post_attach'
                  detach: '#/components/schemas/volume_action_post_detach'
            examples:
              VolumeActionAttach:
                value:
                  type: attach
                  volume_name: example
                  droplet_id: 11612190
                  region: nyc1
                  tags:
                  - aninterestingtag
              VolumeActionDetach:
                value:
                  type: detach
                  volume_name: example
                  droplet_id: 11612190
                  region: nyc1
      responses:
        '202':
          $ref: '#/components/responses/volumeAction'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      x-codeSamples:
      - lang: cURL
        source: "# Attach a volume to a Droplet by name\ncurl -X POST \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  -d '{\"type\": \"attach\", \"volume_name\": \"example\", \"region\": \"nyc1\", \"droplet_id\": \"11612190\",\"tags\":[\"aninterestingtag\"] }' \\\n  \"https://api.digitalocean.com/v2/volumes/actions\"\n\n# Remove a volume from a Droplet by name\ncurl -X POST \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  -d '{\"type\": \"detach\", \"droplet_id\": \"11612190\", \"volume_name\": \"example\", \"region\": \"nyc1\"}' \\\n  \"https://api.digitalocean.com/v2/volumes/actions\""
      - lang: Python
        source: "import os\nfrom pydo import Client\n\nclient = Client(token=os.environ.get(\"DIGITALOCEAN_TOKEN\"))\n\nreq = {\n  \"type\": \"attach\",\n  \"volume_name\": \"example\",\n  \"droplet_id\": 11612190,\n  \"region\": \"nyc1\",\n  \"tags\": [\n    \"aninterestingtag\"\n  ]\n}\n\nresp = client.volume_actions.post(body=req)"
      security:
      - bearer_auth:
        - block_storage_action:create
  /v2/volumes/{volume_id}/actions:
    get:
      operationId: volumeActions_list
      summary: List All Actions for a Volume
      description: To retrieve all actions that have been executed on a volume, send a GET request to `/v2/volumes/$VOLUME_ID/actions`.
      tags:
      - Block Storage Actions
      parameters:
      - $ref: '#/components/parameters/volume_id'
      - $ref: '#/components/parameters/per_page'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          $ref: '#/components/responses/volumeActions'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  \"https://api.digitalocean.com/v2/volumes/7724db7c-e098-11e5-b522-000f53304e51/actions?page=1&per_page=1\""
      - lang: Go
        source: "import (\n    \"context\"\n    \"os\"\n\n    \"github.com/digitalocean/godo\"\n)\n\nfunc main() {\n    token := os.Getenv(\"DIGITALOCEAN_TOKEN\")\n\n    client := godo.NewFromToken(token)\n    ctx := context.TODO()\n\n    opt := &godo.ListOptions{\n        Page:    1,\n        PerPage: 200,\n    }\n\n    actions, _, err := client.StorageActions(ctx, \"7724db7c-e098-11e5-b522-000f53304e51\", opt)\n}"
      - lang: Ruby
        source: 'require ''droplet_kit''

          token = ENV[''DIGITALOCEAN_TOKEN'']

          client = DropletKit::Client.new(access_token: token)


          actions = client.volume.actions(id: ''7724db7c-e098-11e5-b522-000f53304e51'')

          actions.each'
      - lang: Python
        source: 'import os

          from pydo import Client


          client = Client(token=os.environ.get("DIGITALOCEAN_TOKEN"))


          resp = client.volume_actions.list(volume_id="7724db7c")'
      security:
      - bearer_auth:
        - block_storage_action:read
    post:
      operationId: volumeActions_post_byId
      summary: Initiate A Block Storage Action By Volume Id
      description: 'To initiate an action on a block storage volume by Id, send a POST request to

        `~/v2/volumes/$VOLUME_ID/actions`. The body should contain the appropriate

        attributes for the respective action.


        ## Attach a Block Storage Volume to a Droplet


        | Attribute | Details |

        | ---------- | ------------------------------------------------------------------- |

        | type | This must be `attach` |

        | droplet_id | Set to the Droplet''s ID |

        | region | Set to the slug representing the region where the volume is located |


        Each volume may only be attached to a single Droplet. However, up to fifteen

        volumes may be attached to a Droplet at a time. Pre-formatted volumes will be

        automatically mounted to Ubuntu, Debian, Fedora, Fedora Atomic, and CentOS

        Droplets created on or after April 26, 2018 when attached. On older Droplets,

        additional configuration

        is required.


        ## Remove a Block Storage Volume from a Droplet


        | Attribute | Details |

        | ---------- | ------------------------------------------------------------------- |

        | type | This must be `detach` |

        | droplet_id | Set to the Droplet''s ID |

        | region | Set to the slug representing the region where the volume is located |


        ## Resize a Volume


        | Attribute | Details |

        | -------------- | ------------------------------------------------------------------- |

        | type | This must be `resize` |

        | size_gigabytes | The new size of the block storage volume in GiB (1024^3) |

        | region | Set to the slug representing the region where the volume is located |


        Volumes may only be resized upwards. The maximum size for a volume is 16TiB.'
      tags:
      - Block Storage Actions
      parameters:
      - $ref: '#/components/parameters/volume_id'
      - $ref: '#/components/parameters/per_page'
      - $ref: '#/components/parameters/page'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              anyOf:
              - $ref: '#/components/schemas/volume_action_post_attach'
              - $ref: '#/components/schemas/volume_action_post_detach'
              - $ref: '#/components/schemas/volume_action_post_resize'
              discriminator:
                propertyName: type
                mapping:
                  attach: '#/components/schemas/volume_action_post_attach'
                  detach: '#/components/schemas/volume_action_post_detach'
                  resize: '#/components/schemas/volume_action_post_resize'
            examples:
              VolumeActionAttach:
                value:
                  type: attach
                  droplet_id: 11612190
                  region: nyc1
                  tags:
                  - aninterestingtag
              VolumeActionDetach:
                value:
                  type: detach
                  droplet_id: 11612190
                  region: nyc1
              VolumeActionResize:
                value:
                  type: resize
                  size_gigabytes: 100
                  region: nyc1
      responses:
        '202':
          $ref: '#/components/responses/volumeAction'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      x-codeSamples:
      - lang: cURL
        source: "# Attach a Volume to a Droplet by ID\ncurl -X POST \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  -d '{\"type\": \"attach\", \"droplet_id\": 11612190, \"region\": \"nyc1\", \"tags\":[\"aninterestingtag\"]}' \\\n  \"https://api.digitalocean.com/v2/volumes/7724db7c-e098-11e5-b522-000f53304e51/actions\"\n\n# Remove a Volume from a Droplet by ID\ncurl -X POST \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  -d '{\"type\": \"detach\", \"droplet_id\": \"11612190\", \"region\": \"nyc1\"}' \\\n  \"https://api.digitalocean.com/v2/volumes/7724db7c-e098-11e5-b522-000f53304e51/actions\"\n\n# Resize a Volume\ncurl -X POST \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  -d '{\"type\":\"resize\",\"size_gigabytes\": 100, \"region\":\"nyc1\"}' \\\n  \"https://api.digitalocean.com/v2/volumes/7724db7c-e098-11e5-b522-000f53304e51/actions\""
      - lang: Go
        source: "import (\n    \"context\"\n    \"os\"\n\n    \"github.com/digitalocean/godo\"\n)\n\nfunc main() {\n    token := os.Getenv(\"DIGITALOCEAN_TOKEN\")\n\n    client := godo.NewFromToken(token)\n    ctx := context.TODO()\n\n  // Attach a Volume to a Droplet by ID\n    action, _, err := client.StorageActions.Attach(ctx, \"7724db7c-e098-11e5-b522-000f53304e51\", 11612190)\n\n  // Remove a Volume from a Droplet by ID\n  // action, _, err := client.StorageActions.Detach(ctx, \"7724db7c-e098-11e5-b522-000f53304e51\")\n\n  // Resize a Volume\n  // action, _, err := client.StorageActions.Resize(ctx, \"7724db7c-e098-11e5-b522-000f53304e51\", 100, \"nyc1\")\n}"
      - lang: Ruby
        source: 'require ''droplet_kit''

          token = ENV[''DIGITALOCEAN_TOKEN'']

          client = DropletKit::Client.new(access_token: token)


          # Attach a Volume to a Droplet by ID

          client.volume_actions.attach(volume_id:''7724db7c-e098-11e5-b522-000f53304e51'', droplet_id: 11612190, region: ''nyc1''



          # Remove a Volume from a Droplet by ID

          # client.volume_actions.detach(volume_id:''7724db7c-e098-11e5-b522-000f53304e51'', droplet_id: 11612190, region: ''nyc1'''
      - lang: Python
        source: "import os\nfrom pydo import Client\n\nclient = Client(token=os.environ.get(\"DIGITALOCEAN_TOKEN\"))\n\nreq = {\n  \"type\": \"attach\",\n  \"droplet_id\": 11612190,\n  \"region\": \"nyc1\",\n  \"tags\": [\n    \"aninterestingtag\"\n  ]\n}\n\nresp = client.volume_actions.post_by_id(volume_id=\"7724db7c\", body=req)"
      security:
      - bearer_auth:
        - block_storage_action:create
  /v2/volumes/{volume_id}/actions/{action_id}:
    get:
      operationId: volumeActions_get
      summary: Retrieve an Existing Volume Action
      description: To retrieve the status of a volume action, send a GET request to `/v2/volumes/$VOLUME_ID/actions/$ACTION_ID`.
      tags:
      - Block Storage Actions
      parameters:
      - $ref: '#/components/parameters/volume_id'
      - $ref: '#/components/parameters/action_id'
      - $ref: '#/components/parameters/per_page'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          $ref: '#/components/responses/volumeAction'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  \"https://api.digitalocean.com/v2/volumes/7724db7c-e098-11e5-b522-000f53304e51/actions/72531856\""
      - lang: Go
        source: "import (\n    \"context\"\n    \"os\"\n\n    \"github.com/digitalocean/godo\"\n)\n\nfunc main() {\n    token := os.Getenv(\"DIGITALOCEAN_TOKEN\")\n\n    client := godo.NewFromToken(token)\n    ctx := context.TODO()\n\n    action, _, err := client.StorageActions.Get(ctx, \"7724db7c-e098-11e5-b522-000f53304e51\", 72531856)\n}"
      - lang: Ruby
        source: 'require ''droplet_kit''

          token = ENV[''DIGITALOCEAN_TOKEN'']

          client = DropletKit::Client.new(access_token: token)


          client.volume.actions.find(volume_id: ''7724db7c-e098-11e5-b522-000f53304e51'', id: 72531856)'
      - lang: Python
        source: 'import os

          from pydo import Client


          client = Client(token=os.environ.get("DIGITALOCEAN_TOKEN"))


          resp = client.volume_actions.get(volume_id="7724db7c")'
      security:
      - bearer_auth:
        - block_storage_action:read
components:
  schemas:
    meta_properties:
      type: object
      description: Information about the response itself.
      properties:
        total:
          description: Number of objects returned by the request.
          type: integer
          example: 1
    link_to_last_page:
      type: object
      properties:
        last:
          description: URI of the last page of the results.
          type: string
          example: https://api.digitalocean.com/v2/images?page=2
    region:
      type: object
      properties:
        name:
          type: string
          description: The display name of the region.  This will be a full name that is used in the control panel and other interfaces.
          example: New York 3
        slug:
          type: string
          description: A human-readable string that is used as a unique identifier for each region.
          example: nyc3
        features:
          items:
            type: string
          description: This attribute is set to an array which contains features available in this region
          example:
          - private_networking
          - backups
          - ipv6
          - metadata
          - install_agent
          - storage
          - image_transfer
        available:
          type: boolean
          description: This is a boolean value that represents whether new Droplets can be created in this region.
          example: true
        sizes:
          items:
            type: string
          description: This attribute is set to an array which contains the identifying slugs for the sizes available in this region.
          example:
          - s-1vcpu-1gb
          - s-1vcpu-2gb
          - s-1vcpu-3gb
          - s-2vcpu-2gb
          - s-3vcpu-1gb
          - s-2vcpu-4gb
          - s-4vcpu-8gb
          - s-6vcpu-16gb
          - s-8vcpu-32gb
          - s-12vcpu-48gb
          - s-16vcpu-64gb
          - s-20vcpu-96gb
          - s-24vcpu-128gb
          - s-32vcpu-192g
      required:
      - available
      - features
      - name
      - sizes
      - slug
    volume_action_droplet_id:
      type: integer
      description: The unique identifier for the Droplet the volume will be attached or detached from.
      example: 11612190
    error:
      type: object
      properties:
        id:
          description: A short identifier corresponding to the HTTP status code returned. For  example, the ID for a response returning a 404 status code would be "not_found."
          type: string
          example: not_found
        message:
          description: A message providing additional information about the error, including  details to help resolve it when possible.
          type: string
          example: The resource you were accessing could not be found.
        request_id:
          description: Optionally, some endpoints may include a request ID that should be  provided when reporting bugs or opening support tickets to help  identify the issue.
          type: string
          example: 4d9d8375-3c56-4925-a3e7-eb137fed17e9
      required:
      - id
      - message
    volumeAction:
      type: object
      allOf:
      - properties:
          type:
            type: string
            description: This is the type of action that the object represents. For example, this could be "attach_volume" to represent the state of a volume attach action.
            example: attach_volume
          resource_id:
            type:
            - integer
            - 'null'
            example: null
      - $ref: '#/components/schemas/action'
    backward_links:
      allOf:
      - $ref: '#/components/schemas/link_to_first_page'
      - $ref: '#/components/schemas/link_to_prev_page'
    volume_action_post_attach:
      type: object
      allOf:
      - $ref: '#/components/schemas/volume_action_post_base'
      - properties:
          droplet_id:
            $ref: '#/components/schemas/volume_action_droplet_id'
          tags:
            $ref: '#/components/schemas/tags_array'
        required:
        - droplet_id
    volume_action_post_resize:
      type: object
      allOf:
      - $ref: '#/components/schemas/volume_action_post_base'
      - properties:
          size_gigabytes:
            type: integer
            description: The new size of the block storage volume in GiB (1024^3).
            maximum: 16384
        required:
        - size_gigabytes
    tags_array:
      type:
      - array
      - 'null'
      items:
        type: string
      description: A flat array of tag names as strings to be applied to the resource. Tag names may be for either existing or new tags.
      example:
      - base-image
      - prod
    meta:
      type: object
      properties:
        meta:
          allOf:
          - $ref: '#/components/schemas/meta_properties'
          - required:
            - total
      required:
      - meta
    link_to_next_page:
      type: object
      properties:
        next:
          description: URI of the next page of the results.
          type: string
          example: https://api.digitalocean.com/v2/images?page=2
    action:
      type: object
      properties:
        id:
          type: integer
          description: A unique numeric ID that can be used to identify and reference an action.
          example: 36804636
        status:
          type: string
          description: The current status of the action. This can be "in-progress", "completed", or "errored".
          enum:
          - in-progress
          - completed
          - errored
          example: completed
          default: in-progress
        type:
          type: string
          description: This is the type of action that the object represents. For example, this could be "transfer" to represent the state of an image transfer action.
          example: create
        started_at:
          type: string
          format: date-time
          description: A time value given in ISO8601 combined date and time format that represents when the action was initiated.
          example: '2020-11-14T16:29:21Z'
        completed_at:
          type:
          - string
          - 'null'
          format: date-time
          description: A time value given in ISO8601 combined date and time format that represents when the action was completed.
          example: '2020-11-14T16:30:06Z'
        resource_id:
          type:
          - integer
          - 'null'
          description: A unique identifier for the resource that the action is associated with.
          example: 3164444
        resource_type:
          type: string
          description: The type of resource that the action is associated with.
          example: droplet
        region:
          $ref: '#/components/schemas/region'
        region_slug:
          type:
          - string
          - 'null'
          description: A human-readable string that is used as a unique identifier for each region.
          example: nyc3
    pagination:
      type: object
      properties:
        links:
          $ref: '#/components/schemas/page_links'
    volume_action_post_detach:
      type: object
      allOf:
      - $ref: '#/components/schemas/volume_action_post_base'
      - properties:
          droplet_id:
            $ref: '#/components/schemas/volume_action_droplet_id'
        required:
        - droplet_id
    link_to_prev_page:
      type: object
      properties:
        prev:
          description: URI of the previous page of the results.
          type: string
          example: https://api.digitalocean.com/v2/images?page=1
    region_slug:
      type: string
      description: The slug identifier for the region where the resource will initially be  available.
      enum:
      - ams1
      - ams2
      - ams3
      - blr1
      - fra1
      - lon1
      - nyc1
      - nyc2
      - nyc3
      - sfo1
      - sfo2
      - sfo3
      - sgp1
      - tor1
      - syd1
      example: nyc3
    link_to_first_page:
      type: object
      properties:
        first:
          description: URI of the first page of the results.
          type: string
          example: https://api.digitalocean.com/v2/images?page=1
    forward_links:
      allOf:
      - $ref: '#/components/schemas/link_to_last_page'
      - $ref: '#/components/schemas/link_to_next_page'
    volume_action_post_base:
      type: object
      properties:
        type:
          type: string
          description: The volume action to initiate.
          enum:
          - attach
          - detach
          - resize
          example: attach
        region:
          $ref: '#/components/schemas/region_slug'
      required:
      - type
    page_links:
      type: object
      properties:
        pages:
          anyOf:
          - $ref: '#/components/schemas/forward_links'
          - $ref: '#/components/schemas/backward_links'
          - {}
          example:
            pages:
              first: https://api.digitalocean.com/v2/account/keys?page=1
              prev: https://api.digitalocean.com/v2/account/keys?page=2
  responses:
    unexpected_error:
      description: Unexpected error
      headers:
        ratelimit-limit:
          $ref: '#/components/headers/ratelimit-limit'
        ratelimit-remaining:
          $ref: '#/components/headers/ratelimit-remaining'
        ratelimit-reset:
          $ref: '#/components/headers/ratelimit-reset'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
          example:
            id: example_error
            message: some error message
    volumeAction:
      description: The response will be an object with a key called `action`. The value of this will be an object that contains the standard volume action attributes
      headers:
        ratelimit-limit:
          $ref: '#/components/headers/ratelimit-limit'
        ratelimit-remaining:
          $ref: '#/components/headers/ratelimit-remaining'
        ratelimit-reset:
          $ref: '#/components/headers/ratelimit-reset'
      content:
        application/json:
          schema:
            properties:
              action:
                $ref: '#/components/schemas/volumeAction'
          examples:
            volume_action_attach_response:
              $ref: '#/components/examples/volume_action_attach_response'
            VolumeActionDetachResponse:
              $ref: '#/components/examples/volume_action_detach_response'
    not_found:
      description: The resource was not found.
      headers:
        ratelimit-limit:
          $ref: '#/components/headers/ratelimit-limit'
        ratelimit-remaining:
          $ref: '#/components/headers/ratelimit-remaining'
        ratelimit-reset:
          $ref: '#/components/headers/ratelimit-reset'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
          example:
            id: not_found
            message: The resource you requested could not be found.
    too_many_requests:
      description: API Rate limit exceeded
      headers:
        ratelimit-limit:
          $ref: '#/components/headers/ratelimit-limit'
        ratelimit-remaining:
          $ref: '#/components/headers/ratelimit-remaining'
        ratelimit-reset:
          $ref: '#/components/headers/ratelimit-reset'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
          example:
            id: too_many_requests
            message: API Rate limit exceeded.
    unauthorized:
      description: Unauthorized
      headers:
        ratelimit-limit:
          $ref: '#/components/headers/ratelimit-limit'
        ratelimit-remaining:
          $ref: '#/components/headers/ratelimit-remaining'
        ratelimit-reset:
          $ref: '#/components/headers/ratelimit-reset'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
          example:
            id: unauthorized
            message: Unable to authenticate you.
    volumeActions:
      description: The response will be an object with a key called `action`. The value of this will be an object that contains the standard volume action attributes.
      headers:
        ratelimit-limit:
          $ref: '#/components/headers/ratelimit-limit'
        ratelimit-remaining:
          $ref: '#/components/headers/ratelimit-remaining'
        ratelimit-reset:
          $ref: '#/components/headers/ratelimit-reset'
      content:
        application/json:
          schema:
            allOf:
            - type: object
              properties:
                actions:
                  type: array
                  items:
                    $ref: '#/components/schemas/volumeAction'
            - $ref: '#/components/schemas/pagination'
            - $ref: '#/components/schemas/meta'
            example:
              actions:
              - id: 72531856
                status: completed
                type: attach_volume
                started_at: '2020-11-21T21:51:09Z'
                completed_at: '2020-11-21T21:51:09Z'
                resource_type: volume
                region:
                  name: New York 1
                  slug: nyc1
                  sizes:
                  - s-1vcpu-1gb
                  - s-1vcpu-2gb
                  - s-1vcpu-3gb
                  - s-2vcpu-2gb
                  - s-3vcpu-1gb
                  - s-2vcpu-4gb
                  - s-4vcpu-8gb
                  - s-6vcpu-16gb
                  - s-8vcpu-32gb
                  - s-12vcpu-48gb
                  - s-16vcpu-64gb
                  - s-20vcpu-96gb
                  - s-24vcpu-128gb
                  - s-32vcpu-192gb
                  features:
                  - private_networking
                  - backups
                  - ipv6
                  - metadata
                  available: true
                region_slug: nyc1
              links: {}
              meta:
                total: 1
    server_error:
      description: Server error.
      headers:
        ratelimit-limit:
          $ref: '#/components/headers/ratelimit-limit'
        ratelimit-remaining:
          $ref: '#/components/headers/ratelimit-remaining'
        ratelimit-reset:
          $ref: '#/components/headers/ratelimit-reset'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
          example:
            id: server_error
            message: Unexpected server-side error
  parameters:
    per_page:
      in: query
      name: per_page
      required: false
      description: Number of items returned per page
      schema:
        type: integer
        minimum: 1
        default: 20
        maximum: 200
      example: 2
    volume_id:
      name: volume_id
      in: path
      required: true
      description: The ID of the block storage volume.
      schema:
        type: string
        format: uuid
      example: 7724db7c-e098-11e5-b522-000f53304e51
    action_id:
      in: path
      name: action_id
      description: A unique numeric ID that can be used to identify and reference an action.
      required: true
      schema:
        type: integer
        minimum: 1
      example: 36804636
    page:
      in: query
      name: page
      required: false
      description: Which 'page' of paginated results to return.
      schema:
        type: integer
        minimum: 1
        default: 1
      example: 1
  headers:
    ratelimit-reset:
      schema:
        type: integer
      example: 1444931833
      description: The time when the oldest request will expire. The value is given in Unix epoch time. See https://developers.digitalocean.com/documentation/v2/#rate-limit for information about how requests expire.
    ratelimit-remaining:
      schema:
        type: integer
      example: 4816
      description: The number of requests in your hourly quota that remain before you hit your request limit. See https://developers.digitalocean.com/documentation/v2/#rate-limit for information about how requests expire.
    ratelimit-limit:
      schema:
        type: integer
      example: 5000
      description: The default limit on number of requests that can be made per hour and per minute. Current rate limits are 5000 requests per hour and 250 requests per minute.
  examples:
    volume_action_attach_response:
      value:
        action:
          id: 72531856
          status: completed
          type: attach_volume
          started_at: '2020-11-12T17:51:03Z'
          completed_at: '2020-11-12T17:51:14Z'
          resource_type: volume
          region:
            name: New York 1
            slug: nyc1
            sizes:
            - s-1vcpu-1gb
            - s-1vcpu-2gb
            - s-1vcpu-3gb
            - s-2vcpu-2gb
            - s-3vcpu-1gb
            - s-2vcpu-4gb
            - s-4vcpu-8gb
            - s-6vcpu-16gb
            - s-8vcpu-32gb
            - s-12vcpu-48gb
            - s-16vcpu-64gb
            - s-20vcpu-96gb
            - s-24vcpu-128gb
            - s-32vcpu-192gb
            features:
            - private_networking
            - backups
            - ipv6
            - metadata
            available: true
          region_slug: nyc1
    volume_action_detach_response:
      value:
        action:
          id: 68212773
          status: in-progress
          type: detach_volume
          started_at: '2015-10-15T17:46:15Z'
          completed_at: null
          resource_id: null
          resource_type: backend
          region:
            name: New York 1
            slug: nyc1
            sizes:
            - s-1vcpu-1gb
            - s-1vcpu-2gb
            - s-1vcpu-3gb
            - s-2vcpu-2gb
            - s-3vcpu-1gb
            - s-2vcpu-4gb
            - s-4vcpu-8gb
            - s-6vcpu-16gb
            - s-8vcpu-32gb
            - s-12vcpu-48gb
            - s-16vcpu-64gb
            - s-20vcpu-96gb
            - s-24vcpu-128gb
            - s-32vcpu-192gb
            features:
            - private_networking
            - backups
            - ipv6
            - metadata
            available: true
          region_slug: nyc1
  securitySchemes:
    bearer_auth:
      type: http
      scheme: bearer
      description: '## OAuth Authentication


        In order to interact with the DigitalOcean API, you or your application must

        authenticate.


        The DigitalOcean API handles this through OAuth, an open standard for

        authorization. OAuth allows you to delegate access to your account.

        Scopes can be used to grant full access, read-only access, or access to

        a specific set of endpoints.


        You can generate an OAuth token by visiting the [Apps & API](https://cloud.digitalocean.com/account/api/tokens)

        section of the DigitalOcean control panel for your account.


        An OAuth token functions as a complete authentication request. In effect, it

        acts as a substitute for a username and password pair.


        Because of this, it is absolutely **essential** that you keep your OAuth

        tokens secure. In fact, upon generation, the web interface will only display

        each token a single time in order to prevent the token from being compromised.


        DigitalOcean access tokens begin with an identifiable prefix in order to

        distinguish them from other similar tokens.


        - `dop_v1_` for personal access tokens generated in the control panel

        - `doo_v1_` for tokens generated by applications using [the OAuth flow](https://docs.digitalocean.com/reference/api/oauth-api/)

        - `dor_v1_` for OAuth refresh tokens


        ### Scopes


        Scopes act like permissions assigned to an API token. These permissions

        determine what actions the token can perform. You can create API

        tokens that grant read-only access, full access, or limited access to

        specific endpoints by using custom scopes.


        Generally, scopes are designed to match HTTP verbs and common CRUD

        operations (Create, Read, Update, Delete).


        | HTTP Verb | CRUD Operation | Scope |

        |---|---|---|

        | GET | Read | `<resource>:read` |

        | POST | Create | `<resource>:create` |

        | PUT/PATCH | Update | `<resource>:update` |

        | DELETE | Delete | `<resource>:delete` |


        For example, creating a new Droplet by making a `POST` request to the

        `/v2/droplets` endpoint requires the `droplet:create` scope while

        listing Droplets by making a `GET` request to the `/v2/droplets`

        endpoint requires the `droplet:read` scope.


        Each endpoint below specifies which scope is required to access it when

        using custom scopes.


        ### How to Authenticate with OAuth


        In order to make an authenticated request, include a bearer-type

        `Authorization` header containing your OAuth token. All requests must be

        made over HTTPS.


        ### Authenticate with a Bearer Authorization Header


        ```

        curl -X $HTTP_METHOD -H "Authorization: Bearer $DIGITALOCEAN_TOKEN" "https://api.digitalocean.com/v2/$OBJECT"

        ```

        '
