openapi: 3.2.0
info:
  title: DigitalOcean Firewalls API
  version: '2.0'
  description: '# Introduction


    The DigitalOcean API allows you to manage Droplets and resources within the

    DigitalOcean cloud in a simple, programmatic way using conventional HTTP requests.'
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  contact:
    name: DigitalOcean API Team
    email: api-engineering@digitalocean.com
  termsOfService: https://www.digitalocean.com/legal/terms-of-service-agreement/
servers:
- url: https://api.digitalocean.com
  description: production
security:
- bearer_auth: []
tags:
- name: Firewalls
  description: 'DigitalOcean Cloud Firewalls

    provide the ability to restrict network access to and from a Droplet

    allowing you to define which ports will accept inbound or outbound

    connections. By sending requests to the `/v2/firewalls` endpoint, you can

    list, create, or delete firewalls as well as modify access rules.'
paths:
  /v2/firewalls:
    get:
      operationId: firewalls_list
      summary: List All Firewalls
      description: To list all of the firewalls available on your account, send a GET request to `/v2/firewalls`.
      tags:
      - Firewalls
      parameters:
      - $ref: '#/components/parameters/per_page'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          $ref: '#/components/responses/list_firewalls_response'
        '401':
          $ref: '#/components/responses/unauthorized'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  \"https://api.digitalocean.com/v2/firewalls\""
      - lang: Go
        source: "import (\n    \"context\"\n    \"os\"\n\n    \"github.com/digitalocean/godo\"\n)\n\nfunc main() {\n    token := os.Getenv(\"DIGITALOCEAN_TOKEN\")\n\n    client := godo.NewFromToken(token)\n    ctx := context.TODO()\n\n    opt := &godo.ListOptions{\n        Page:    1,\n        PerPage: 200,\n    }\n\n    firewalls, _, err := client.Firewalls.List(ctx, opt)\n}"
      - lang: Ruby
        source: 'require ''droplet_kit''

          token = ENV[''DIGITALOCEAN_TOKEN'']

          client = DropletKit::Client.new(access_token: token)


          firewalls = client.firewalls.all

          firewalls.each'
      - lang: Python
        source: 'import os

          from pydo import Client


          client = Client(token=os.environ.get("DIGITALOCEAN_TOKEN"))


          resp = client.firewalls.list()'
      security:
      - bearer_auth:
        - firewall:read
    post:
      operationId: firewalls_create
      summary: Create a New Firewall
      description: 'To create a new firewall, send a POST request to `/v2/firewalls`. The request

        must contain at least one inbound or outbound access rule.'
      tags:
      - Firewalls
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/firewall'
              - required:
                - name
              - anyOf:
                - title: Inbound Rules
                  required:
                  - inbound_rules
                - title: Outbound Rules
                  required:
                  - outbound_rules
            example:
              name: firewall
              inbound_rules:
              - protocol: tcp
                ports: '80'
                sources:
                  load_balancer_uids:
                  - 4de7ac8b-495b-4884-9a69-1050c6793cd6
              - protocol: tcp
                ports: '22'
                sources:
                  tags:
                  - gateway
                  addresses:
                  - 18.0.0.0/8
              outbound_rules:
              - protocol: tcp
                ports: '80'
                destinations:
                  addresses:
                  - 0.0.0.0/0
                  - ::/0
              droplet_ids:
              - 8043964
      responses:
        '202':
          $ref: '#/components/responses/create_firewall_response'
        '400':
          $ref: '#/components/responses/bad_request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  -d '{\"name\":\"firewall\",\"inbound_rules\":[{\"protocol\":\"tcp\",\"ports\":\"80\",\"sources\":{\"load_balancer_uids\": [\"4de7ac8b-495b-4884-9a69-1050c6793cd6\"]}},{\"protocol\": \"tcp\",\"ports\": \"22\",\"sources\":{\"tags\": [\"gateway\"],\"addresses\": [\"18.0.0.0/8\"]}}],\"outbound_rules\":[{\"protocol\":\"tcp\",\"ports\":\"80\",\"destinations\":{\"addresses\":[\"0.0.0.0/0\",\"::/0\"]}}],\"droplet_ids\":[8043964]}' \\\n  \"https://api.digitalocean.com/v2/firewalls\""
      - lang: Go
        source: "import (\n    \"context\"\n    \"os\"\n\n    \"github.com/digitalocean/godo\"\n)\n\nfunc main() {\n    token := os.Getenv(\"DIGITALOCEAN_TOKEN\")\n\n    client := godo.NewFromToken(token)\n    ctx := context.TODO()\n\n    createRequest := &godo.FirewallRequest{\n        Name: 'firewall',\n        InboundRules: []godo.InboundRule{\n            {\n                Protocol: 'tcp',\n                PortRange: '80',\n                Sources: &godo.Sources{\n                    LoadBalancerUIDs: []string{'4de7ac8b-495b-4884-9a69-1050c6793cd6'},\n                },\n            },\n            {\n                Protocol:  'tcp',\n                PortRange: '22',\n                Sources: &godo.Sources{\n                    Addresses: []string{'18.0.0.0/8'},\n                    Tags: []string{'gateway'},\n                },\n            },\n        },\n        OutboundRules: []godo.OutboundRule{\n            {\n                Protocol: 'tcp',\n                PortRange: '80',\n                Destinations: &godo.Destinations{\n                    Addresses: []string{'0.0.0.0/0', '::/0'},\n                },\n            },\n        },\n        DropletIDs: []int{8043964},\n    }\n\n    firewall, req, err := client.Firewalls.Create(ctx, createRequest)\n}"
      - lang: Ruby
        source: "require 'droplet_kit'\ntoken = ENV['DIGITALOCEAN_TOKEN']\nclient = DropletKit::Client.new(access_token: token)\n\nfirewall = DropletKit::Firewall.new(\n  name: 'firewall',\n  inbound_rules: [\n    DropletKit::FirewallInboundRule.new(\n      protocol: 'tcp',\n      ports: '80',\n      sources: {\n        load_balancer_uids: ['4de7ac8b-495b-4884-9a69-1050c6793cd6']\n      }\n    ),\n    DropletKit::FirewallInboundRule.new(\n      protocol: 'tcp',\n      ports: '22',\n      sources: {\n        tags: ['gateway'],\n        addresses: ['18.0.0.0/8']\n      }\n    )\n  ],\n  outbound_rules: [\n    DropletKit::FirewallOutboundRule.new(\n      protocol: 'tcp',\n      ports: '80',\n      destinations: {\n        addresses: ['0.0.0.0/0', '::/0'],\n      }\n    )\n  ],\n  droplet_ids: [8043964]\n)\n\nclient.firewalls.create(firewall)"
      - lang: Python
        source: "import os\nfrom pydo import Client\n\nclient = Client(token=os.environ.get(\"DIGITALOCEAN_TOKEN\"))\n\nreq = {\n  \"name\": \"firewall\",\n  \"inbound_rules\": [\n    {\n      \"protocol\": \"tcp\",\n      \"ports\": \"80\",\n      \"sources\": {\n        \"load_balancer_uids\": [\n          \"4de7ac8b-495b-4884-9a69-1050c6793cd6\"\n        ]\n      }\n    },\n    {\n      \"protocol\": \"tcp\",\n      \"ports\": \"22\",\n      \"sources\": {\n        \"tags\": [\n          \"gateway\"\n        ],\n        \"addresses\": [\n          \"18.0.0.0/8\"\n        ]\n      }\n    }\n  ],\n  \"outbound_rules\": [\n    {\n      \"protocol\": \"tcp\",\n      \"ports\": \"80\",\n      \"destinations\": {\n        \"addresses\": [\n          \"0.0.0.0/0\",\n          \"::/0\"\n        ]\n      }\n    }\n  ],\n  \"droplet_ids\": [\n    8043964\n  ]\n}\n\nresp = client.firewalls.create(body=req)"
      security:
      - bearer_auth:
        - firewall:create
  /v2/firewalls/{firewall_id}:
    get:
      operationId: firewalls_get
      summary: Retrieve an Existing Firewall
      description: To show information about an existing firewall, send a GET request to `/v2/firewalls/$FIREWALL_ID`.
      tags:
      - Firewalls
      parameters:
      - $ref: '#/components/parameters/firewall_id'
      responses:
        '200':
          $ref: '#/components/responses/get_firewall_response'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  \"https://api.digitalocean.com/v2/firewalls/bb4b2611-3d72-467b-8602-280330ecd65c\""
      - lang: Go
        source: "import (\n    \"context\"\n    \"os\"\n\n    \"github.com/digitalocean/godo\"\n)\n\nfunc main() {\n    token := os.Getenv(\"DIGITALOCEAN_TOKEN\")\n\n    client := godo.NewFromToken(token)\n    ctx := context.TODO()\n\n    firewall, _, err := client.Firewalls.Get(ctx, 'bb4b2611-3d72-467b-8602-280330ecd65c')\n}"
      - lang: Ruby
        source: 'require ''droplet_kit''

          token = ENV[''DIGITALOCEAN_TOKEN'']

          client = DropletKit::Client.new(access_token: token)


          client.firewalls.find(id: ''bb4b2611-3d72-467b-8602-280330ecd65c'')'
      - lang: Python
        source: 'import os

          from pydo import Client


          client = Client(token=os.environ.get("DIGITALOCEAN_TOKEN"))


          resp = client.firewalls.get(firewall_id= "as9di9d")'
      security:
      - bearer_auth:
        - firewall:read
    put:
      operationId: firewalls_update
      summary: Update a Firewall
      description: 'To update the configuration of an existing firewall, send a PUT request to

        `/v2/firewalls/$FIREWALL_ID`. The request should contain a full representation

        of the firewall including existing attributes. **Note that any attributes that

        are not provided will be reset to their default values.**'
      tags:
      - Firewalls
      parameters:
      - $ref: '#/components/parameters/firewall_id'
      requestBody:
        content:
          application/json:
            schema:
              required:
              - name
              allOf:
              - $ref: '#/components/schemas/firewall'
              - anyOf:
                - title: Inbound Rules
                  required:
                  - inbound_rules
                - title: Outbound Rules
                  required:
                  - outbound_rules
            example:
              name: frontend-firewall
              inbound_rules:
              - protocol: tcp
                ports: '8080'
                sources:
                  load_balancer_uids:
                  - 4de7ac8b-495b-4884-9a69-1050c6793cd6
              - protocol: tcp
                ports: '22'
                sources:
                  tags:
                  - gateway
                  addresses:
                  - 18.0.0.0/8
              outbound_rules:
              - protocol: tcp
                ports: '8080'
                destinations:
                  addresses:
                  - 0.0.0.0/0
                  - ::/0
              droplet_ids:
              - 8043964
              tags:
              - frontend
      responses:
        '200':
          $ref: '#/components/responses/put_firewall_response'
        '400':
          $ref: '#/components/responses/bad_request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      x-codeSamples:
      - lang: cURL
        source: "curl -X PUT \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  -d '{\"name\":\"firewall\",\"inbound_rules\":[{\"protocol\":\"tcp\",\"ports\":\"8080\",\"sources\":{\"load_balancer_uids\": [\"4de7ac8b-495b-4884-9a69-1050c6793cd6\"]}},{\"protocol\": \"tcp\",\"ports\": \"22\",\"sources\":{\"tags\": [\"gateway\"],\"addresses\": [\"18.0.0.0/8\"]}}],\"outbound_rules\":[{\"protocol\":\"tcp\",\"ports\":\"8080\",\"destinations\":{\"addresses\":[\"0.0.0.0/0\",\"::/0\"]}}],\"droplet_ids\":[8043964],\"tags\":[\"frontend\"]}' \\\n  \"https://api.digitalocean.com/v2/firewalls/bb4b2611-3d72-467b-8602-280330ecd65c\""
      - lang: Go
        source: "import (\n    \"context\"\n    \"os\"\n\n    \"github.com/digitalocean/godo\"\n)\n\nfunc main() {\n    token := os.Getenv(\"DIGITALOCEAN_TOKEN\")\n\n    client := godo.NewFromToken(token)\n    ctx := context.TODO()\n\n    updateRequest := &godo.FirewallRequest{\n        Name: 'firewall',\n        InboundRules: []godo.InboundRule{\n            {\n                Protocol: 'tcp',\n                PortRange: '8080',\n                Sources: &godo.Sources{\n                    LoadBalancerUIDs: []string{'4de7ac8b-495b-4884-9a69-1050c6793cd6'},\n                },\n            },\n            {\n                Protocol:  'tcp',\n                PortRange: '22',\n                Sources: &godo.Sources{\n                    Addresses: []string{'18.0.0.0/8'},\n                    Tags: []string{'gateway'},\n                },\n            },\n        },\n        OutboundRules: []godo.OutboundRule{\n            {\n                Protocol: 'tcp',\n                PortRange: '8080',\n                Destinations: &godo.Destinations{\n                    Addresses: []string{'0.0.0.0/0', '::/0'},\n                },\n            },\n        },\n        DropletIDs: []int{8043964},\n        Tags: []string{'frontend'}\n    }\n\n    firewall, req, err := client.Firewalls.Create(ctx, 'bb4b2611-3d72-467b-8602-280330ecd65c', updateRequest)\n}"
      - lang: Ruby
        source: "require 'droplet_kit'\ntoken = ENV['DIGITALOCEAN_TOKEN']\nclient = DropletKit::Client.new(access_token: token)\n\nfirewall = DropletKit::Firewall.new(\n  name: 'firewall',\n  inbound_rules: [\n    DropletKit::FirewallInboundRule.new(\n      protocol: 'tcp',\n      ports: '8080',\n      sources: {\n        load_balancer_uids: ['4de7ac8b-495b-4884-9a69-1050c6793cd6']\n      }\n    ),\n    DropletKit::FirewallInboundRule.new(\n      protocol: 'tcp',\n      ports: '22',\n      sources: {\n        tags: ['gateway'],\n        addresses: ['18.0.0.0/8']\n      }\n    )\n  ],\n  outbound_rules: [\n    DropletKit::FirewallOutboundRule.new(\n      protocol: 'tcp',\n      ports: '8080',\n      destinations: {\n        addresses: ['0.0.0.0/0', '::/0'],\n      }\n    )\n  ],\n  droplet_ids: [8043964],\n  tags: ['frontend']\n)\n\nclient.firewalls.update(firewall, id: 'bb4b2611-3d72-467b-8602-280330ecd65c')"
      - lang: Python
        source: "import os\nfrom pydo import Client\n\nclient = Client(token=os.environ.get(\"DIGITALOCEAN_TOKEN\"))\n\nreq = {\n  \"name\": \"frontend-firewall\",\n  \"inbound_rules\": [\n    {\n      \"protocol\": \"tcp\",\n      \"ports\": \"8080\",\n      \"sources\": {\n        \"load_balancer_uids\": [\n          \"4de7ac8b-495b-4884-9a69-1050c6793cd6\"\n        ]\n      }\n    },\n    {\n      \"protocol\": \"tcp\",\n      \"ports\": \"22\",\n      \"sources\": {\n        \"tags\": [\n          \"gateway\"\n        ],\n        \"addresses\": [\n          \"18.0.0.0/8\"\n        ]\n      }\n    }\n  ],\n  \"outbound_rules\": [\n    {\n      \"protocol\": \"tcp\",\n      \"ports\": \"8080\",\n      \"destinations\": {\n        \"addresses\": [\n          \"0.0.0.0/0\",\n          \"::/0\"\n        ]\n      }\n    }\n  ],\n  \"droplet_ids\": [\n    8043964\n  ],\n  \"tags\": [\n    \"frontend\"\n  ]\n}\n\nresp = client.firewalls.update(firewall_id=\"3afda9\", body=req)"
      security:
      - bearer_auth:
        - firewall:update
    delete:
      operationId: firewalls_delete
      summary: Delete a Firewall
      description: 'To delete a firewall send a DELETE request to `/v2/firewalls/$FIREWALL_ID`.


        No response body will be sent back, but the response code will indicate

        success. Specifically, the response code will be a 204, which means that the

        action was successful with no returned body data.'
      tags:
      - Firewalls
      parameters:
      - $ref: '#/components/parameters/firewall_id'
      responses:
        '204':
          $ref: '#/components/responses/no_content'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      x-codeSamples:
      - lang: cURL
        source: "curl -X DELETE \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  \"https://api.digitalocean.com/v2/firewalls/bb4b2611-3d72-467b-8602-280330ecd65c\""
      - lang: Go
        source: "import (\n    \"context\"\n    \"os\"\n\n    \"github.com/digitalocean/godo\"\n)\n\nfunc main() {\n    token := os.Getenv(\"DIGITALOCEAN_TOKEN\")\n\n    client := godo.NewFromToken(token)\n    ctx := context.TODO()\n\n    _, err := client.Firewalls.Delete(ctx, 'bb4b2611-3d72-467b-8602-280330ecd65c')\n}"
      - lang: Ruby
        source: 'require ''droplet_kit''

          token = ENV[''DIGITALOCEAN_TOKEN'']

          client = DropletKit::Client.new(access_token: token)


          client.firewalls.delete(id: ''bb4b2611-3d72-467b-8602-280330ecd65c'')'
      - lang: Python
        source: 'import os

          from pydo import Client


          client = Client(token=os.environ.get("DIGITALOCEAN_TOKEN"))


          resp = client.firewalls.delete(firewall_id= "as9di9d")'
      security:
      - bearer_auth:
        - firewall:delete
  /v2/firewalls/{firewall_id}/droplets:
    post:
      operationId: firewalls_assign_droplets
      summary: Add Droplets to a Firewall
      description: 'To assign a Droplet to a firewall, send a POST request to

        `/v2/firewalls/$FIREWALL_ID/droplets`. In the body of the request, there

        should be a `droplet_ids` attribute containing a list of Droplet IDs.


        No response body will be sent back, but the response code will indicate

        success. Specifically, the response code will be a 204, which means that the

        action was successful with no returned body data.'
      tags:
      - Firewalls
      parameters:
      - $ref: '#/components/parameters/firewall_id'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                droplet_ids:
                  type: array
                  description: An array containing the IDs of the Droplets to be assigned to the firewall.
                  items:
                    type: integer
                  example:
                  - 49696269
              required:
              - droplet_ids
            example:
              droplet_ids:
              - 49696269
      responses:
        '204':
          $ref: '#/components/responses/no_content'
        '400':
          $ref: '#/components/responses/bad_request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  -d '{\"droplet_ids\":[49696269]}' \\\n  \"https://api.digitalocean.com/v2/firewalls/bb4b2611-3d72-467b-8602-280330ecd65c/droplets\""
      - lang: Go
        source: "import (\n    \"context\"\n    \"os\"\n\n    \"github.com/digitalocean/godo\"\n)\n\nfunc main() {\n    token := os.Getenv(\"DIGITALOCEAN_TOKEN\")\n\n    client := godo.NewFromToken(token)\n    ctx := context.TODO()\n\n    _, err := client.Firewalls.AddDroplets(ctx, 'bb4b2611-3d72-467b-8602-280330ecd65c', 49696269) \n}"
      - lang: Ruby
        source: 'require ''droplet_kit''

          token = ENV[''DIGITALOCEAN_TOKEN'']

          client = DropletKit::Client.new(access_token: token)


          client.firewalls.add_droplets([49696269], id: ''bb4b2611-3d72-467b-8602-280330ecd65c'')'
      - lang: Python
        source: "import os\nfrom pydo import Client\n\nclient = Client(token=os.environ.get(\"DIGITALOCEAN_TOKEN\"))\n\nreq = {\n  \"droplet_ids\": [\n    49696269\n  ]\n}\n\nresp = client.firewalls.assign_droplets(firewall_id=\"39fa4gz\", body=req)"
      security:
      - bearer_auth:
        - firewall:update
    delete:
      operationId: firewalls_delete_droplets
      summary: Remove Droplets from a Firewall
      description: 'To remove a Droplet from a firewall, send a DELETE request to

        `/v2/firewalls/$FIREWALL_ID/droplets`. In the body of the request, there should

        be a `droplet_ids` attribute containing a list of Droplet IDs.


        No response body will be sent back, but the response code will indicate

        success. Specifically, the response code will be a 204, which means that the

        action was successful with no returned body data.'
      tags:
      - Firewalls
      parameters:
      - $ref: '#/components/parameters/firewall_id'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                droplet_ids:
                  type: array
                  description: An array containing the IDs of the Droplets to be removed from the firewall.
                  items:
                    type: integer
                  example:
                  - 49696269
              required:
              - droplet_ids
            example:
              droplet_ids:
              - 49696269
      responses:
        '204':
          $ref: '#/components/responses/no_content'
        '400':
          $ref: '#/components/responses/bad_request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      x-codeSamples:
      - lang: cURL
        source: "curl -X DELETE \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  -d '{\"droplet_ids\":[49696269]}' \\\n  \"https://api.digitalocean.com/v2/firewalls/bb4b2611-3d72-467b-8602-280330ecd65c/droplets\""
      - lang: Go
        source: "import (\n    \"context\"\n    \"os\"\n\n    \"github.com/digitalocean/godo\"\n)\n\nfunc main() {\n    token := os.Getenv(\"DIGITALOCEAN_TOKEN\")\n\n    client := godo.NewFromToken(token)\n    ctx := context.TODO()\n\n    _, err := client.Firewalls.RemoveDroplets(ctx, 'bb4b2611-3d72-467b-8602-280330ecd65c', 49696269)\n}"
      - lang: Ruby
        source: 'require ''droplet_kit''

          token = ENV[''DIGITALOCEAN_TOKEN'']

          client = DropletKit::Client.new(access_token: token)


          client.firewalls.remove_droplets([49696269], id: ''bb4b2611-3d72-467b-8602-280330ecd65c'')'
      - lang: Python
        source: "import os\nfrom pydo import Client\n\nclient = Client(token=os.environ.get(\"DIGITALOCEAN_TOKEN\"))\n\nreq = {\n  \"droplet_ids\": [\n    49696269\n  ]\n}\n\nresp = client.firewalls.delete_droplets(firewall_id=\"39fa4gz\", body=req)"
      security:
      - bearer_auth:
        - firewall:update
  /v2/firewalls/{firewall_id}/tags:
    post:
      operationId: firewalls_add_tags
      summary: Add Tags to a Firewall
      description: 'To assign a tag representing a group of Droplets to a firewall, send a POST

        request to `/v2/firewalls/$FIREWALL_ID/tags`. In the body of the request,

        there should be a `tags` attribute containing a list of tag names.


        No response body will be sent back, but the response code will indicate

        success. Specifically, the response code will be a 204, which means that the

        action was successful with no returned body data.'
      tags:
      - Firewalls
      parameters:
      - $ref: '#/components/parameters/firewall_id'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                tags:
                  allOf:
                  - $ref: '#/components/schemas/existing_tags_array'
                  - description: An array containing the names of the Tags to be assigned to the firewall.
              required:
              - tags
            example:
              tags:
              - frontend
      responses:
        '204':
          $ref: '#/components/responses/no_content'
        '400':
          $ref: '#/components/responses/bad_request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  -d '{\"tags\":[\"frontend\"]}' \\\n  \"https://api.digitalocean.com/v2/firewalls/bb4b2611-3d72-467b-8602-280330ecd65c/tags\""
      - lang: Go
        source: "import (\n    \"context\"\n    \"os\"\n\n    \"github.com/digitalocean/godo\"\n)\n\nfunc main() {\n    token := os.Getenv(\"DIGITALOCEAN_TOKEN\")\n\n    client := godo.NewFromToken(token)\n    ctx := context.TODO()\n\n    _, err := client.Firewalls.AddTags(ctx, 'bb4b2611-3d72-467b-8602-280330ecd65c', 'frontend') \n}"
      - lang: Ruby
        source: 'require ''droplet_kit''

          token = ENV[''DIGITALOCEAN_TOKEN'']

          client = DropletKit::Client.new(access_token: token)


          client.firewalls.add_tags([''frontend''], id: ''bb4b2611-3d72-467b-8602-280330ecd65c'')'
      - lang: Python
        source: "import os\nfrom pydo import Client\n\nclient = Client(token=os.environ.get(\"DIGITALOCEAN_TOKEN\"))\n\nreq = {\n  \"tags\": [\n    \"frontend\"\n  ]\n}\n\nresp = client.firewalls.add_tags(firewall_id=\"39fa4gz\", body=req)"
      security:
      - bearer_auth:
        - firewall:update
    delete:
      operationId: firewalls_delete_tags
      summary: Remove Tags from a Firewall
      description: 'To remove a tag representing a group of Droplets from a firewall, send a

        DELETE request to `/v2/firewalls/$FIREWALL_ID/tags`. In the body of the

        request, there should be a `tags` attribute containing a list of tag names.


        No response body will be sent back, but the response code will indicate

        success. Specifically, the response code will be a 204, which means that the

        action was successful with no returned body data.'
      tags:
      - Firewalls
      parameters:
      - $ref: '#/components/parameters/firewall_id'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                tags:
                  allOf:
                  - $ref: '#/components/schemas/existing_tags_array'
                  - description: An array containing the names of the Tags to be removed from the firewall.
              required:
              - tags
            example:
              tags:
              - frontend
      responses:
        '204':
          $ref: '#/components/responses/no_content'
        '400':
          $ref: '#/components/responses/bad_request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      x-codeSamples:
      - lang: cURL
        source: "curl -X DELETE \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  -d '{\"tags\":[\"frontend\"]}' \\\n  \"https://api.digitalocean.com/v2/firewalls/bb4b2611-3d72-467b-8602-280330ecd65c/tags\""
      - lang: Go
        source: "import (\n    \"context\"\n    \"os\"\n\n    \"github.com/digitalocean/godo\"\n)\n\nfunc main() {\n    token := os.Getenv(\"DIGITALOCEAN_TOKEN\")\n\n    client := godo.NewFromToken(token)\n    ctx := context.TODO()\n\n    _, err := client.Firewalls.RemoveTags(ctx, 'bb4b2611-3d72-467b-8602-280330ecd65c', 'frontend')\n}"
      - lang: Ruby
        source: 'require ''droplet_kit''

          token = ENV[''DIGITALOCEAN_TOKEN'']

          client = DropletKit::Client.new(access_token: token)


          client.firewalls.remove_tags([''frontend''], id: ''bb4b2611-3d72-467b-8602-280330ecd65c'')'
      - lang: Python
        source: "import os\nfrom pydo import Client\n\nclient = Client(token=os.environ.get(\"DIGITALOCEAN_TOKEN\"))\n\nreq = {\n  \"tags\": [\n    \"frontend\"\n  ]\n}\n\nresp = client.firewalls.delete_tags(firewall_id=\"39fa4gz\", body=req)"
      security:
      - bearer_auth:
        - firewall:update
  /v2/firewalls/{firewall_id}/rules:
    post:
      operationId: firewalls_add_rules
      summary: Add Rules to a Firewall
      description: 'To add additional access rules to a firewall, send a POST request to

        `/v2/firewalls/$FIREWALL_ID/rules`. The body of the request may include an

        inbound_rules and/or outbound_rules attribute containing an array of rules to

        be added.


        No response body will be sent back, but the response code will indicate

        success. Specifically, the response code will be a 204, which means that the

        action was successful with no returned body data.'
      tags:
      - Firewalls
      parameters:
      - $ref: '#/components/parameters/firewall_id'
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/firewall_rules'
              - anyOf:
                - title: Inbound Rules
                  required:
                  - inbound_rules
                - title: Outbound Rules
                  required:
                  - outbound_rules
            example:
              inbound_rules:
              - protocol: tcp
                ports: '3306'
                sources:
                  droplet_ids:
                  - 49696269
              outbound_rules:
              - protocol: tcp
                ports: '3306'
                destinations:
                  droplet_ids:
                  - 49696269
      responses:
        '204':
          $ref: '#/components/responses/no_content'
        '400':
          $ref: '#/components/responses/bad_request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  -d '{\"inbound_rules\":[{\"protocol\":\"tcp\",\"ports\":\"3306\",\"sources\":{\"droplet_ids\":[49696269]}}],\"outbound_rules\":[{\"protocol\":\"tcp\",\"ports\":\"3306\",\"destinations\":{\"droplet_ids\":[49696269]}}]}' \\\n  \"https://api.digitalocean.com/v2/firewalls/bb4b2611-3d72-467b-8602-280330ecd65c/rules\" "
      - lang: Go
        source: "import (\n    \"context\"\n    \"os\"\n\n    \"github.com/digitalocean/godo\"\n)\n\nfunc main() {\n    token := os.Getenv(\"DIGITALOCEAN_TOKEN\")\n\n    client := godo.NewFromToken(token)\n    ctx := context.TODO()\n\nruleRequest := &godo.FirewallRulesRequest{\n    InboundRules: []godo.InboundRule{\n        {\n            Protocol:      'tcp',\n            PortRange:     '3306',\n            Sources: &godo.Sources{\n                DropletIDs: []int{49696269},\n            },\n        },\n    },\n    OutboundRules: []godo.OutboundRule{\n        {\n            Protocol:      'tcp',\n            PortRange:     '3306',\n            Destinations: &godo.Destinations{\n                DropletIDs: []int{49696269},\n            },\n        },\n    },\n}\n\n_, err := c.Firewalls.AddRules(ctx, 'bb4b2611-3d72-467b-8602-280330ecd65c', ruleRequest)\n}"
      - lang: Ruby
        source: "require 'droplet_kit'\ntoken = ENV['DIGITALOCEAN_TOKEN']\nclient = DropletKit::Client.new(access_token: token)\n\ninbound_rule = DropletKit::FirewallInboundRule.new(\n  protocol: 'tcp',\n  ports: '3306',\n  sources: {\n    droplet_ids: [49696269]\n  }\n)\n\noutbound_rule = DropletKit::FirewallOutboundRule.new(\n  protocol: 'tcp',\n  ports: '3306',\n  destinations: {\n    droplet_ids: [49696269]\n  }\n)\n\nclient.firewalls.add_rules(inbound_rules: [inbound_rule], outbound_rules: [outbound_rule], id: 'bb4b2611-3d72-467b-8602-280330ecd65c')"
      - lang: Python
        source: "import os\nfrom pydo import Client\n\nclient = Client(token=os.environ.get(\"DIGITALOCEAN_TOKEN\"))\n\nreq = {\n  \"inbound_rules\": [\n    {\n      \"protocol\": \"tcp\",\n      \"ports\": \"3306\",\n      \"sources\": {\n        \"droplet_ids\": [\n          49696269\n        ]\n      }\n    }\n  ],\n  \"outbound_rules\": [\n    {\n      \"protocol\": \"tcp\",\n      \"ports\": \"3306\",\n      \"destinations\": {\n        \"droplet_ids\": [\n          49696269\n        ]\n      }\n    }\n  ]\n}\n\nresp = client.firewalls.add_rules(firewall_id=\"39fa4gz\", body=req)"
      security:
      - bearer_auth:
        - firewall:update
    delete:
      operationId: firewalls_delete_rules
      summary: Remove Rules from a Firewall
      description: 'To remove access rules from a firewall, send a DELETE request to

        `/v2/firewalls/$FIREWALL_ID/rules`. The body of the request may include an

        `inbound_rules` and/or `outbound_rules` attribute containing an array of rules

        to be removed.


        No response body will be sent back, but the response code will indicate

        success. Specifically, the response code will be a 204, which means that the

        action was successful with no returned body data.'
      tags:
      - Firewalls
      parameters:
      - $ref: '#/components/parameters/firewall_id'
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/firewall_rules'
              - anyOf:
                - title: Inbound Rules
                  required:
                  - inbound_rules
                - title: Outbound Rules
                  required:
                  - outbound_rules
            example:
              inbound_rules:
              - protocol: tcp
                ports: '3306'
                sources:
                  droplet_ids:
                  - 49696269
              outbound_rules:
              - protocol: tcp
                ports: '3306'
                destinations:
                  droplet_ids:
                  - 49696269
      responses:
        '204':
          $ref: '#/components/responses/no_content'
        '400':
          $ref: '#/components/responses/bad_request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      x-codeSamples:
      - lang: cURL
        source: "curl -X DELETE \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  -d '{\"inbound_rules\":[{\"protocol\":\"tcp\",\"ports\":\"3306\",\"sources\":{\"droplet_ids\":[49696269]}}],\"outbound_rules\":[{\"protocol\":\"tcp\",\"ports\":\"3306\",\"destinations\":{\"droplet_ids\":[49696269]}}]}' \\\n  \"https://api.digitalocean.com/v2/firewalls/bb4b2611-3d72-467b-8602-280330ecd65c/rules\""
      - lang: Go
        source: "import (\n    \"context\"\n    \"os\"\n\n    \"github.com/digitalocean/godo\"\n)\n\nfunc main() {\n    token := os.Getenv(\"DIGITALOCEAN_TOKEN\")\n\n    client := godo.NewFromToken(token)\n    ctx := context.TODO()\n\n    ruleRequest := &godo.FirewallRulesRequest{\n        InboundRules: []godo.InboundRule{\n            {\n                Protocol:      'tcp',\n                PortRange:     '3306',\n                Sources: &godo.Sources{\n                    DropletIDs: []int{49696269},\n                },\n            },\n        },\n        OutboundRules: []godo.OutboundRule{\n            {\n                Protocol:      'tcp',\n                PortRange:     '3306',\n                Destinations: &godo.Destinations{\n                    DropletIDs: []int{49696269},\n                },\n            },\n        },\n    }\n\n    _, err := c.Firewalls.RemoveRules(ctx, 'bb4b2611-3d72-467b-8602-280330ecd65c', ruleRequest)\n\n}"
      - lang: Ruby
        source: "require 'droplet_kit'\ntoken = ENV['DIGITALOCEAN_TOKEN']\nclient = DropletKit::Client.new(access_token: token)\n\ninbound_rule = DropletKit::FirewallInboundRule.new(\n  protocol: 'tcp',\n  ports: '3306',\n  sources: {\n    droplet_ids: [49696269]\n  }\n)\n\noutbound_rule = DropletKit::FirewallOutboundRule.new(\n  protocol: 'tcp',\n  ports: '3306',\n  destinations: {\n    droplet_ids: [49696269]\n  }\n)\n\nclient.firewalls.remove_rules(inbound_rules: [inbound_rule], outbound_rules: [outbound_rule], id: 'bb4b2611-3d72-467b-8602-280330ecd65c')"
      - lang: Python
        source: "import os\nfrom pydo import Client\n\nclient = Client(token=os.environ.get(\"DIGITALOCEAN_TOKEN\"))\n\nreq = {\n  \"inbound_rules\": [\n    {\n      \"protocol\": \"tcp\",\n      \"ports\": \"3306\",\n      \"sources\": {\n        \"droplet_ids\": [\n          49696269\n        ]\n      }\n    }\n  ],\n  \"outbound_rules\": [\n    {\n      \"protocol\": \"tcp\",\n      \"ports\": \"3306\",\n      \"destinations\": {\n        \"droplet_ids\": [\n          49696269\n        ]\n      }\n    }\n  ]\n}\n\nresp = client.firewalls.delete_rules(firewall_id=\"39fa4gz\", body=req)"
      security:
      - bearer_auth:
        - firewall:update
components:
  schemas:
    meta_properties:
      type: object
      description: Information about the response itself.
      properties:
        total:
          description: Number of objects returned by the request.
          type: integer
          example: 1
    link_to_last_page:
      type: object
      properties:
        last:
          description: URI of the last page of the results.
          type: string
          example: https://api.digitalocean.com/v2/images?page=2
    error:
      type: object
      properties:
        id:
          description: A short identifier corresponding to the HTTP status code returned. For  example, the ID for a response returning a 404 status code would be "not_found."
          type: string
          example: not_found
        message:
          description: A message providing additional information about the error, including  details to help resolve it when possible.
          type: string
          example: The resource you were accessing could not be found.
        request_id:
          description: Optionally, some endpoints may include a request ID that should be  provided when reporting bugs or opening support tickets to help  identify the issue.
          type: string
          example: 4d9d8375-3c56-4925-a3e7-eb137fed17e9
      required:
      - id
      - message
    firewall:
      type: object
      allOf:
      - properties:
          id:
            type: string
            description: A unique ID that can be used to identify and reference a firewall.
            readOnly: true
            example: bb4b2611-3d72-467b-8602-280330ecd65c
          status:
            type: string
            description: A status string indicating the current state of the firewall. This can be "waiting", "succeeded", or "failed".
            enum:
            - waiting
            - succeeded
            - failed
            readOnly: true
            example: waiting
          created_at:
            type: string
            format: date-time
            description: A time value given in ISO8601 combined date and time format that represents when the firewall was created.
            readOnly: true
            example: '2020-05-23T21:24:00Z'
          pending_changes:
            type: array
            description: An array of objects each containing the fields "droplet_id", "removing", and "status". It is provided to detail exactly which Droplets are having their security policies updated. When empty, all changes have been successfully applied.
            items:
              type: object
              properties:
                droplet_id:
                  type: integer
                  example: 8043964
                removing:
                  type: boolean
                  example: false
                status:
                  type: string
                  example: waiting
            readOnly: true
            example:
            - droplet_id: 8043964
              removing: false
              status: waiting
          name:
            type: string
            description: A human-readable name for a firewall. The name must begin with an alphanumeric character. Subsequent characters must either be alphanumeric characters, a period (.), or a dash (-).
            pattern: ^[a-zA-Z0-9][a-zA-Z0-9\.-]+$
            example: firewall
          droplet_ids:
            type:
            - array
            - 'null'
            description: An array containing the IDs of the Droplets assigned to the firewall.
            items:
              type: integer
            example:
            - 8043964
          tags:
            allOf:
            - $ref: '#/components/schemas/existing_tags_array'
            - description: An array containing the names of the Tags assigned to the firewall.
              example: gateway
      - $ref: '#/components/schemas/firewall_rules'
    backward_links:
      allOf:
      - $ref: '#/components/schemas/link_to_first_page'
      - $ref: '#/components/schemas/link_to_prev_page'
    meta:
      type: object
      properties:
        meta:
          allOf:
          - $ref: '#/components/schemas/meta_properties'
          - required:
            - total
      required:
      - meta
    firewall_rule_target:
      type: object
      properties:
        addresses:
          type: array
          items:
            type: string
          description: An array of strings containing the IPv4 addresses, IPv6 addresses, IPv4 CIDRs, and/or IPv6 CIDRs to which the firewall will allow traffic.
          example:
          - 1.2.3.4
          - 18.0.0.0/8
        droplet_ids:
          type: array
          items:
            type: integer
          description: An array containing the IDs of the Droplets to which the firewall will allow traffic.
          example:
          - 8043964
        load_balancer_uids:
          type: array
          items:
            type: string
          description: An array containing the IDs of the load balancers to which the firewall will allow traffic.
          example:
          - 4de7ac8b-495b-4884-9a69-1050c6793cd6
        kubernetes_ids:
          type: array
          items:
            type: string
          description: An array containing the IDs of the Kubernetes clusters to which the firewall will allow traffic.
          example:
          - 41b74c5d-9bd0-5555-5555-a57c495b81a3
        tags:
          allOf:
          - $ref: '#/components/schemas/existing_tags_array'
          - description: An array containing the names of Tags corresponding to groups of Droplets to which the firewall will allow traffic.
            example:
            - frontend
    link_to_next_page:
      type: object
      properties:
        next:
          description: URI of the next page of the results.
          type: string
          example: https://api.digitalocean.com/v2/images?page=2
    firewall_rules:
      type: object
      properties:
        inbound_rules:
          type:
          - array
          - 'null'
          items:
            allOf:
            - $ref: '#/components/schemas/firewall_rule_base'
            - properties:
                sources:
                  allOf:
                  - $ref: '#/components/schemas/firewall_rule_target'
                  - description: An object specifying locations from which inbound traffic will be accepted.
              required:
              - sources
        outbound_rules:
          type:
          - array
          - 'null'
          items:
            allOf:
            - $ref: '#/components/schemas/firewall_rule_base'
            - properties:
                destinations:
                  allOf:
                  - $ref: '#/components/schemas/firewall_rule_target'
                  - description: An object specifying locations to which outbound traffic that will be allowed.
              required:
              - destinations
    pagination:
      type: object
      properties:
        links:
          $ref: '#/components/schemas/page_links'
    link_to_prev_page:
      type: object
      properties:
        prev:
          description: URI of the previous page of the results.
          type: string
          example: https://api.digitalocean.com/v2/images?page=1
    link_to_first_page:
      type: object
      properties:
        first:
          description: URI of the first page of the results.
          type: string
          example: https://api.digitalocean.com/v2/images?page=1
    forward_links:
      allOf:
      - $ref: '#/components/schemas/link_to_last_page'
      - $ref: '#/components/schemas/link_to_next_page'
    firewall_rule_base:
      type: object
      properties:
        protocol:
          type: string
          enum:
          - tcp
          - udp
          - icmp
          description: The type of traffic to be allowed. This may be one of `tcp`, `udp`, or `icmp`.
          example: tcp
        ports:
          type: string
          description: The ports on which traffic will be allowed specified as a string containing a single port, a range (e.g. "8000-9000"), or "0" when all ports are open for a protocol. For ICMP rules this parameter will always return "0".
          example: '8000'
      required:
      - protocol
      - ports
    existing_tags_array:
      type:
      - array
      - 'null'
      items:
        type: string
      description: A flat array of tag names as strings to be applied to the resource. Tag names must exist in order to be referenced in a request.
      example:
      - base-image
      - prod
    page_links:
      type: object
      properties:
        pages:
          anyOf:
          - $ref: '#/components/schemas/forward_links'
          - $ref: '#/components/schemas/backward_links'
          - {}
          example:
            pages:
              first: https://api.digitalocean.com/v2/account/keys?page=1
              prev: https://api.digitalocean.com/v2/account/keys?page=2
  responses:
    bad_request:
      description: Bad Request
      headers:
        ratelimit-limit:
          $ref: '#/components/headers/ratelimit-limit'
        ratelimit-remaining:
          $ref: '#/components/headers/ratelimit-remaining'
        ratelimit-reset:
          $ref: '#/components/headers/ratelimit-reset'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
          example:
            id: bad_request
            message: error parsing request body
            request_id: 4851a473-1621-42ea-b2f9-5071c0ea8414
    unexpected_error:
      description: Unexpected error
      headers:
        ratelimit-limit:
          $ref: '#/components/headers/ratelimit-limit'
        ratelimit-remaining:
          $ref: '#/components/headers/ratelimit-remaining'
        ratelimit-reset:
          $ref: '#/components/headers/ratelimit-reset'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
          example:
            id: example_error
            message: some error message
    no_content:
      description: The action was successful and the response body is empty.
      headers:
        ratelimit-limit:
          $ref: '#/components/headers/ratelimit-limit'
        ratelimit-remaining:
          $ref: '#/components/headers/ratelimit-remaining'
        ratelimit-reset:
          $ref: '#/components/headers/ratelimit-reset'
    get_firewall_response:
      description: The response will be a JSON object with a firewall key. This will be set to an object containing the standard firewall attributes.
      headers:
        ratelimit-limit:
          $ref: '#/components/headers/ratelimit-limit'
        ratelimit-remaining:
          $ref: '#/components/headers/ratelimit-remaining'
        ratelimit-reset:
          $ref: '#/components/headers/ratelimit-reset'
      content:
        application/json:
          schema:
            properties:
              firewall:
                $ref: '#/components/schemas/firewall'
          example:
            firewall:
              id: bb4b2611-3d72-467b-8602-280330ecd65c
              name: firewall
              status: succeeded
              inbound_rules:
              - protocol: tcp
                ports: '80'
                sources:
                  load_balancer_uids:
                  - 4de7ac8b-495b-4884-9a69-1050c6793cd6
              - protocol: tcp
                ports: '22'
                sources:
                  tags:
                  - gateway
                  addresses:
                  - 18.0.0.0/8
              outbound_rules:
              - protocol: tcp
                ports: '80'
                destinations:
                  addresses:
                  - 0.0.0.0/0
                  - ::/0
              created_at: '2017-05-23T21:24:00Z'
              droplet_ids:
              - 8043964
              tags: []
              pending_changes: []
    put_firewall_response:
      description: The response will be a JSON object with a `firewall` key. This will be set to an object containing the standard firewall attributes.
      headers:
        ratelimit-limit:
          $ref: '#/components/headers/ratelimit-limit'
        ratelimit-remaining:
          $ref: '#/components/headers/ratelimit-remaining'
        ratelimit-reset:
          $ref: '#/components/headers/ratelimit-reset'
      content:
        application/json:
          schema:
            properties:
              firewall:
                $ref: '#/components/schemas/firewall'
          example:
            firewall:
              id: bb4b2611-3d72-467b-8602-280330ecd65c
              name: frontend-firewall
              inbound_rules:
              - protocol: tcp
                ports: '80'
                sources:
                  load_balancer_uids:
                  - 4de7ac8b-495b-4884-9a69-1050c6793cd6
              - protocol: tcp
                ports: '22'
                sources:
                  tags:
                  - gateway
                  addresses:
                  - 18.0.0.0/8
              outbound_rules:
              - protocol: tcp
                ports: '80'
                destinations:
                  addresses:
                  - 0.0.0.0/0
                  - ::/0
              created_at: '2020-05-23T21:24:00Z'
              droplet_ids:
              - 8043964
              tags:
              - frontend
              status: waiting
              pending_changes:
              - droplet_id: 8043964
                removing: false
                status: waiting
    not_found:
      description: The resource was not found.
      headers:
        ratelimit-limit:
          $ref: '#/components/headers/ratelimit-limit'
        ratelimit-remaining:
          $ref: '#/components/headers/ratelimit-remaining'
        ratelimit-reset:
          $ref: '#/components/headers/ratelimit-reset'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
          example:
            id: not_found
            message: The resource you requested could not be found.
    too_many_requests:
      description: API Rate limit exceeded
      headers:
        ratelimit-limit:
          $ref: '#/components/headers/ratelimit-limit'
        ratelimit-remaining:
          $ref: '#/components/headers/ratelimit-remaining'
        ratelimit-reset:
          $ref: '#/components/headers/ratelimit-reset'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
          example:
            id: too_many_requests
            message: API Rate limit exceeded.
    list_firewalls_response:
      description: To list all of the firewalls available on your account, send a GET request to `/v2/firewalls`.
      headers:
        ratelimit-limit:
          $ref: '#/components/headers/ratelimit-limit'
        ratelimit-remaining:
          $ref: '#/components/headers/ratelimit-remaining'
        ratelimit-reset:
          $ref: '#/components/headers/ratelimit-reset'
      content:
        application/json:
          schema:
            allOf:
            - type: object
              properties:
                firewalls:
                  type: array
                  items:
                    $ref: '#/components/schemas/firewall'
            - $ref: '#/components/schemas/pagination'
            - $ref: '#/components/schemas/meta'
          example:
            firewalls:
            - id: fb6045f1-cf1d-4ca3-bfac-18832663025b
              name: firewall
              status: succeeded
              inbound_rules:
              - protocol: tcp
                ports: '80'
                sources:
                  load_balancer_uids:
                  - 4de7ac8b-495b-4884-9a69-1050c6793cd6
              - protocol: tcp
                ports: '22'
                sources:
                  tags:
                  - gateway
                  addresses:
                  - 18.0.0.0/8
              outbound_rules:
              - protocol: tcp
                ports: '80'
                destinations:
                  addresses:
                  - 0.0.0.0/0
                  - ::/0
              created_at: '2017-05-23T21:23:59Z'
              droplet_ids:
              - 8043964
              tags: []
              pending_changes: []
            links: {}
            meta:
              total: 1
    create_firewall_response:
      description: The response will be a JSON object with a firewall key. This will be set to an object containing the standard firewall attributes
      headers:
        ratelimit-limit:
          $ref: '#/components/headers/ratelimit-limit'
        ratelimit-remaining:
          $ref: '#/components/headers/ratelimit-remaining'
        ratelimit-reset:
          $ref: '#/components/headers/ratelimit-reset'
      content:
        application/json:
          schema:
            properties:
              firewall:
                $ref: '#/components/schemas/firewall'
          example:
            firewall:
              id: bb4b2611-3d72-467b-8602-280330ecd65c
              name: firewall
              status: waiting
              inbound_rules:
              - protocol: tcp
                ports: '80'
                sources:
                  load_balancer_uids:
                  - 4de7ac8b-495b-4884-9a69-1050c6793cd6
              - protocol: tcp
                ports: '22'
                sources:
                  tags:
                  - gateway
                  addresses:
                  - 18.0.0.0/8
              outbound_rules:
              - protocol: tcp
                ports: '80'
                destinations:
                  addresses:
                  - 0.0.0.0/0
                  - ::/0
              created_at: '2017-05-23T21:24:00Z'
              droplet_ids:
              - 8043964
              tags: []
              pending_changes:
              - droplet_id: 8043964
                removing: false
                status: waiting
    unauthorized:
      description: Unauthorized
      headers:
        ratelimit-limit:
          $ref: '#/components/headers/ratelimit-limit'
        ratelimit-remaining:
          $ref: '#/components/headers/ratelimit-remaining'
        ratelimit-reset:
          $ref: '#/components/headers/ratelimit-reset'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
          example:
            id: unauthorized
            message: Unable to authenticate you.
    server_error:
      description: Server error.
      headers:
        ratelimit-limit:
          $ref: '#/components/headers/ratelimit-limit'
        ratelimit-remaining:
          $ref: '#/components/headers/ratelimit-remaining'
        ratelimit-reset:
          $ref: '#/components/headers/ratelimit-reset'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
          example:
            id: server_error
            message: Unexpected server-side error
  parameters:
    per_page:
      in: query
      name: per_page
      required: false
      description: Number of items returned per page
      schema:
        type: integer
        minimum: 1
        default: 20
        maximum: 200
      example: 2
    firewall_id:
      name: firewall_id
      description: A unique ID that can be used to identify and reference a firewall.
      in: path
      schema:
        type: string
        format: uuid
      example: bb4b2611-3d72-467b-8602-280330ecd65c
      required: true
    page:
      in: query
      name: page
      required: false
      description: Which 'page' of paginated results to return.
      schema:
        type: integer
        minimum: 1
        default: 1
      example: 1
  headers:
    ratelimit-reset:
      schema:
        type: integer
      example: 1444931833
      description: The time when the oldest request will expire. The value is given in Unix epoch time. See https://developers.digitalocean.com/documentation/v2/#rate-limit for information about how requests expire.
    ratelimit-remaining:
      schema:
        type: integer
      example: 4816
      description: The number of requests in your hourly quota that remain before you hit your request limit. See https://developers.digitalocean.com/documentation/v2/#rate-limit for information about how requests expire.
    ratelimit-limit:
      schema:
        type: integer
      example: 5000
      description: The default limit on number of requests that can be made per hour and per minute. Current rate limits are 5000 requests per hour and 250 requests per minute.
  securitySchemes:
    bearer_auth:
      type: http
      scheme: bearer
      description: '## OAuth Authentication


        In order to interact with the DigitalOcean API, you or your application must

        authenticate.


        The DigitalOcean API handles this through OAuth, an open standard for

        authorization. OAuth allows you to delegate access to your account.

        Scopes can be used to grant full access, read-only access, or access to

        a specific set of endpoints.


        You can generate an OAuth token by visiting the [Apps & API](https://cloud.digitalocean.com/account/api/tokens)

        section of the DigitalOcean control panel for your account.


        An OAuth token functions as a complete authentication request. In effect, it

        acts as a substitute for a username and password pair.


        Because of this, it is absolutely **essential** that you keep your OAuth

        tokens secure. In fact, upon generation, the web interface will only display

        each token a single time in order to prevent the token from being compromised.


        DigitalOcean access tokens begin with an identifiable prefix in order to

        distinguish them from other similar tokens.


        - `dop_v1_` for personal access tokens generated in the control panel

        - `doo_v1_` for tokens generated by applications using [the OAuth flow](https://docs.digitalocean.com/reference/api/oauth-api/)

        - `dor_v1_` for OAuth refresh tokens


        ### Scopes


        Scopes act like permissions assigned to an API token. These permissions

        determine what actions the token can perform. You can create API

        tokens that grant read-only access, full access, or limited access to

        specific endpoints by using custom scopes.


        Generally, scopes are designed to match HTTP verbs and common CRUD

        operations (Create, Read, Update, Delete).


        | HTTP Verb | CRUD Operation | Scope |

        |---|---|---|

        | GET | Read | `<resource>:read` |

        | POST | Create | `<resource>:create` |

        | PUT/PATCH | Update | `<resource>:update` |

        | DELETE | Delete | `<resource>:delete` |


        For example, creating a new Droplet by making a `POST` request to the

        `/v2/droplets` endpoint requires the `droplet:create` scope while

        listing Droplets by making a `GET` request to the `/v2/droplets`

        endpoint requires the `droplet:read` scope.


        Each endpoint below specifies which scope is required to access it when

        using custom scopes.


        ### How to Authenticate with OAuth


        In order to make an authenticated request, include a bearer-type

        `Authorization` header containing your OAuth token. All requests must be

        made over HTTPS.


        ### Authenticate with a Bearer Authorization Header


        ```

        curl -X $HTTP_METHOD -H "Authorization: Bearer $DIGITALOCEAN_TOKEN" "https://api.digitalocean.com/v2/$OBJECT"

        ```

        '
