openapi: 3.2.0
info:
  title: DigitalOcean Domain Records API
  version: '2.0'
  description: '# Introduction


    The DigitalOcean API allows you to manage Droplets and resources within the

    DigitalOcean cloud in a simple, programmatic way using conventional HTTP requests.'
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  contact:
    name: DigitalOcean API Team
    email: api-engineering@digitalocean.com
  termsOfService: https://www.digitalocean.com/legal/terms-of-service-agreement/
servers:
- url: https://api.digitalocean.com
  description: production
security:
- bearer_auth: []
tags:
- name: Domain Records
  description: 'Domain record resources are used to set or retrieve information about the

    individual DNS records configured for a domain.'
paths:
  /v2/domains/{domain_name}/records:
    get:
      operationId: domains_list_records
      summary: List All Domain Records
      description: 'To get a listing of all records configured for a domain, send a GET request to `/v2/domains/$DOMAIN_NAME/records`.

        The list of records returned can be filtered by using the `name` and `type` query parameters. For example, to only include A records for a domain, send a GET request to `/v2/domains/$DOMAIN_NAME/records?type=A`. `name` must be a fully qualified record name. For example, to only include records matching `sub.example.com`, send a GET request to `/v2/domains/$DOMAIN_NAME/records?name=sub.example.com`. Both name and type may be used together.'
      tags:
      - Domain Records
      parameters:
      - $ref: '#/components/parameters/domain_name'
      - $ref: '#/components/parameters/domain_name_query'
      - $ref: '#/components/parameters/domain_type_query'
      - $ref: '#/components/parameters/per_page'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          $ref: '#/components/responses/all_domain_records_response'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  \"https://api.digitalocean.com/v2/domains/example.com/records\""
      - lang: Go
        source: "import (\n    \"context\"\n    \"os\"\n\n    \"github.com/digitalocean/godo\"\n)\n\nfunc main() {\n    token := os.Getenv(\"DIGITALOCEAN_TOKEN\")\n\n    client := godo.NewFromToken(token)\n    ctx := context.TODO()\n\n    opt := &godo.ListOptions{\n      Page:    1,\n      PerPage: 200,\n    }\n\ndomains, _, err := client.Domains.List(ctx, opt)\n}"
      - lang: Ruby
        source: 'require ''droplet_kit''

          token = ENV[''DIGITALOCEAN_TOKEN'']

          client = DropletKit::Client.new(access_token: token)


          records = client.domain_records.all(for_domain: ''example.com'')

          records.each'
      - lang: Python
        source: 'import os

          from pydo import Client


          client = Client(token=os.environ.get("DIGITALOCEAN_TOKEN"))


          resp = client.domains.list_records(domain_name="example.com")'
      security:
      - bearer_auth:
        - domain:read
    post:
      operationId: domains_create_record
      summary: Create a New Domain Record
      description: 'To create a new record to a domain, send a POST request to

        `/v2/domains/$DOMAIN_NAME/records`.


        The request must include all of the required fields for the domain record type

        being added.


        See the attribute table for details regarding record

        types and their respective required attributes.'
      tags:
      - Domain Records
      parameters:
      - $ref: '#/components/parameters/domain_name'
      requestBody:
        content:
          application/json:
            schema:
              anyOf:
              - $ref: '#/components/schemas/domain_record_a'
              - $ref: '#/components/schemas/domain_record_aaaa'
              - $ref: '#/components/schemas/domain_record_caa'
              - $ref: '#/components/schemas/domain_record_cname'
              - $ref: '#/components/schemas/domain_record_mx'
              - $ref: '#/components/schemas/domain_record_ns'
              - $ref: '#/components/schemas/domain_record_soa'
              - $ref: '#/components/schemas/domain_record_srv'
              - $ref: '#/components/schemas/domain_record_txt'
              discriminator:
                propertyName: type
                mapping:
                  A: '#/components/schemas/domain_record_a'
                  AAAA: '#/components/schemas/domain_record_aaaa'
                  CAA: '#/components/schemas/domain_record_caa'
                  CNAME: '#/components/schemas/domain_record_cname'
                  MX: '#/components/schemas/domain_record_mx'
                  NS: '#/components/schemas/domain_record_ns'
                  SOA: '#/components/schemas/domain_record_soa'
                  SRV: '#/components/schemas/domain_record_srv'
                  TXT: '#/components/schemas/domain_record_txt'
            example:
              type: A
              name: www
              data: 162.10.66.0
              priority: null
              port: null
              ttl: 1800
              weight: null
              flags: null
              tag: null
      responses:
        '201':
          $ref: '#/components/responses/created_domain_record'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      x-codeSamples:
      - lang: cURL
        source: "curl -X POST \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  -d '{\"type\":\"A\",\"name\":\"www\",\"data\":\"162.10.66.0\",\"priority\":null,\"port\":null,\"ttl\":1800,\"weight\":null,\"flags\":null,\"tag\":null}' \\\n  \"https://api.digitalocean.com/v2/domains/example.com/records\""
      - lang: Go
        source: "import (\n    \"context\"\n    \"os\"\n\n    \"github.com/digitalocean/godo\"\n)\n\nfunc main() {\n    token := os.Getenv(\"DIGITALOCEAN_TOKEN\")\n\n    client := godo.NewFromToken(token)\n    ctx := context.TODO()\n\n    createRequest := &godo.DomainRecordEditRequest{\n      Type: \"A\",\n      Name: \"www\",\n      Data: \"1.2.3.4\",\n    }\n\n    domainRecord, _, err := client.Domains.CreateRecord(ctx, \"example.com\", createRequest)\n}"
      - lang: Ruby
        source: "require 'droplet_kit'\ntoken = ENV['DIGITALOCEAN_TOKEN']\nclient = DropletKit::Client.new(access_token: token)\n\nrecord = DropletKit::DomainRecord.new(\n  type: 'A',\n  name: 'www',\n  data: '162.10.66.0'\n)\nclient.domain_records.create(record, for_domain: 'example.com')"
      - lang: Python
        source: "import os\nfrom pydo import Client\n\nclient = Client(token=os.environ.get(\"DIGITALOCEAN_TOKEN\"))\n\nreq = {\n  \"type\": \"A\",\n  \"name\": \"www\",\n  \"data\": \"162.10.66.0\",\n  \"priority\": None,\n  \"port\": None,\n  \"ttl\": 1800,\n  \"weight\": None,\n  \"flags\": None,\n  \"tag\": None\n}\n\nresp = client.domains.create_record(domain_name=\"example.com\", body=req)"
      security:
      - bearer_auth:
        - domain:create
  /v2/domains/{domain_name}/records/{domain_record_id}:
    get:
      operationId: domains_get_record
      summary: Retrieve an Existing Domain Record
      description: To retrieve a specific domain record, send a GET request to `/v2/domains/$DOMAIN_NAME/records/$RECORD_ID`.
      tags:
      - Domain Records
      parameters:
      - $ref: '#/components/parameters/domain_name'
      - $ref: '#/components/parameters/domain_record_id'
      responses:
        '200':
          $ref: '#/components/responses/domain_record'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      x-codeSamples:
      - lang: cURL
        source: "curl -X GET \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  \"https://api.digitalocean.com/v2/domains/example.com/records/3352896\""
      - lang: Go
        source: "import (\n    \"context\"\n    \"os\"\n\n    \"github.com/digitalocean/godo\"\n)\n\nfunc main() {\n    token := os.Getenv(\"DIGITALOCEAN_TOKEN\")\n\n    client := godo.NewFromToken(token)\n    ctx := context.TODO()\n\n    record, _, err := client.Domains.Record(ctx, \"example.com\", 3352896)\n}"
      - lang: Ruby
        source: 'require ''droplet_kit''

          token = ENV[''DIGITALOCEAN_TOKEN'']

          client = DropletKit::Client.new(access_token: token)


          client.domain_records.find(for_domain: ''example.com'', id: 3352896)'
      - lang: Python
        source: 'import os

          from pydo import Client


          client = Client(token=os.environ.get("DIGITALOCEAN_TOKEN"))


          get_resp = client.domains.get_record(domain_name="example.com", domain_record_id=3352896)'
      security:
      - bearer_auth:
        - domain:read
    patch:
      operationId: domains_patch_record
      summary: Update a Domain Record
      description: 'To update an existing record, send a PATCH request to

        `/v2/domains/$DOMAIN_NAME/records/$DOMAIN_RECORD_ID`. Any attribute valid for

        the record type can be set to a new value for the record.


        See the attribute table for details regarding record

        types and their respective attributes.'
      tags:
      - Domain Records
      parameters:
      - $ref: '#/components/parameters/domain_name'
      - $ref: '#/components/parameters/domain_record_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/domain_record'
            example:
              name: blog
              type: A
      responses:
        '200':
          $ref: '#/components/responses/domain_record'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      x-codeSamples:
      - lang: cURL
        source: "curl -X PATCH \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  -d '{\"name\":\"blog\",\"type\":\"A\"}' \\\n  \"https://api.digitalocean.com/v2/domains/example.com/records/3352896\""
      - lang: Python
        source: "import os\nfrom pydo import Client\n\nclient = Client(token=os.environ.get(\"DIGITALOCEAN_TOKEN\"))\n\nreq = {\n  \"name\": \"blog\",\n  \"type\": \"A\"\n}\n\nresp = client.domains.patch_record(domain_name=\"example.com\", domain_record_id=2432342, body=req)"
      security:
      - bearer_auth:
        - domain:update
    put:
      operationId: domains_update_record
      summary: Update a Domain Record
      description: 'To update an existing record, send a PUT request to

        `/v2/domains/$DOMAIN_NAME/records/$DOMAIN_RECORD_ID`. Any attribute valid for

        the record type can be set to a new value for the record.


        See the attribute table for details regarding record

        types and their respective attributes.'
      tags:
      - Domain Records
      parameters:
      - $ref: '#/components/parameters/domain_name'
      - $ref: '#/components/parameters/domain_record_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/domain_record'
            example:
              name: blog
              type: CNAME
      responses:
        '200':
          $ref: '#/components/responses/domain_record'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      x-codeSamples:
      - lang: cURL
        source: "curl -X PUT \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  -d '{\"name\":\"blog\"}' \\\n  \"https://api.digitalocean.com/v2/domains/example.com/records/3352896\""
      - lang: Go
        source: "import (\n    \"context\"\n    \"os\"\n\n    \"github.com/digitalocean/godo\"\n)\n\nfunc main() {\n    token := os.Getenv(\"DIGITALOCEAN_TOKEN\")\n\n    client := godo.NewFromToken(token)\n    ctx := context.TODO()\n\n    editRequest := &godo.DomainRecordEditRequest{\n      Type: \"A\",\n      Name: \"blog\",\n    }\n\n    domainRecord, _, err := client.Domains.EditRecord(ctx, \"example.com\", 3352896, editRequest)\n}"
      - lang: Ruby
        source: 'require ''droplet_kit''

          token = ENV[''DIGITALOCEAN_TOKEN'']

          client = DropletKit::Client.new(access_token: token)


          record = DropletKit::DomainRecord.new(name: ''blog'')

          client.domain_records.update(record, for_domain: ''example.com'', id: 3352896)'
      - lang: Python
        source: "import os\nfrom pydo import Client\n\nclient = Client(token=os.environ.get(\"DIGITALOCEAN_TOKEN\"))\n\nreq = {\n  \"name\": \"blog\",\n  \"type\": \"CNAME\"\n}\n\nresp = client.domains.update_record(domain_name=\"example.com\", domain_record_id=2432342, body=req)"
      security:
      - bearer_auth:
        - domain:update
    delete:
      operationId: domains_delete_record
      summary: Delete a Domain Record
      description: 'To delete a record for a domain, send a DELETE request to

        `/v2/domains/$DOMAIN_NAME/records/$DOMAIN_RECORD_ID`.


        The record will be deleted and the response status will be a 204. This

        indicates a successful request with no body returned.'
      tags:
      - Domain Records
      parameters:
      - $ref: '#/components/parameters/domain_name'
      - $ref: '#/components/parameters/domain_record_id'
      responses:
        '204':
          $ref: '#/components/responses/no_content'
        '401':
          $ref: '#/components/responses/unauthorized'
        '404':
          $ref: '#/components/responses/not_found'
        '429':
          $ref: '#/components/responses/too_many_requests'
        '500':
          $ref: '#/components/responses/server_error'
        default:
          $ref: '#/components/responses/unexpected_error'
      x-codeSamples:
      - lang: cURL
        source: "curl -X DELETE \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n  \"https://api.digitalocean.com/v2/domains/example.com/records/3352896\""
      - lang: Go
        source: "import (\n    \"context\"\n    \"os\"\n\n    \"github.com/digitalocean/godo\"\n)\n\nfunc main() {\n    token := os.Getenv(\"DIGITALOCEAN_TOKEN\")\n\n    client := godo.NewFromToken(token)\n    ctx := context.TODO()\n\n    _, err := client.Domains.DeleteRecord(ctx, \"example.com\", 3352896)\n}"
      - lang: Ruby
        source: 'require ''droplet_kit''

          token = ENV[''DIGITALOCEAN_TOKEN'']

          client = DropletKit::Client.new(access_token: token)


          client.domain_records.delete(for_domain: ''example.com'', id: 3352896)'
      - lang: Python
        source: "import os\nfrom pydo import Client\n\nclient = Client(token=os.environ.get(\"DIGITALOCEAN_TOKEN\"))\n\nreq = {\n  \"name\": \"example.com\"\n}\n\nresp = client.domains.delete_record(domain_name=\"example.com\", domain_record_id=3352896)"
      security:
      - bearer_auth:
        - domain:delete
components:
  schemas:
    meta_properties:
      type: object
      description: Information about the response itself.
      properties:
        total:
          description: Number of objects returned by the request.
          type: integer
          example: 1
    link_to_last_page:
      type: object
      properties:
        last:
          description: URI of the last page of the results.
          type: string
          example: https://api.digitalocean.com/v2/images?page=2
    domain_record_txt:
      allOf:
      - $ref: '#/components/schemas/domain_record'
      - required:
        - type
        - name
        - data
        - flags
        - tag
    domain_record_srv:
      allOf:
      - $ref: '#/components/schemas/domain_record'
      - required:
        - type
        - name
        - data
        - priority
        - port
        - flags
        - tag
    error:
      type: object
      properties:
        id:
          description: A short identifier corresponding to the HTTP status code returned. For  example, the ID for a response returning a 404 status code would be "not_found."
          type: string
          example: not_found
        message:
          description: A message providing additional information about the error, including  details to help resolve it when possible.
          type: string
          example: The resource you were accessing could not be found.
        request_id:
          description: Optionally, some endpoints may include a request ID that should be  provided when reporting bugs or opening support tickets to help  identify the issue.
          type: string
          example: 4d9d8375-3c56-4925-a3e7-eb137fed17e9
      required:
      - id
      - message
    backward_links:
      allOf:
      - $ref: '#/components/schemas/link_to_first_page'
      - $ref: '#/components/schemas/link_to_prev_page'
    domain_record_soa:
      allOf:
      - $ref: '#/components/schemas/domain_record'
      - required:
        - type
        - ttl
    domain_record_aaaa:
      allOf:
      - $ref: '#/components/schemas/domain_record'
      - required:
        - type
        - name
        - data
    domain_record:
      type: object
      required:
      - type
      properties:
        id:
          type: integer
          description: A unique identifier for each domain record.
          example: 28448429
          readOnly: true
        type:
          type: string
          description: 'The type of the DNS record. For example: A, CNAME, TXT, ...'
          example: NS
        name:
          type: string
          description: The host name, alias, or service being defined by the record.
          example: '@'
        data:
          type: string
          description: Variable data depending on record type. For example, the "data" value for an A record would be the IPv4 address to which the domain will be mapped. For a CAA record, it would contain the domain name of the CA being granted permission to issue certificates.
          example: ns1.digitalocean.com
        priority:
          type:
          - integer
          - 'null'
          description: The priority for SRV and MX records.
          example: null
        port:
          type:
          - integer
          - 'null'
          description: The port for SRV records.
          example: null
        ttl:
          type: integer
          description: This value is the time to live for the record, in seconds. This defines the time frame that clients can cache queried information before a refresh should be requested.
          example: 1800
        weight:
          type:
          - integer
          - 'null'
          description: The weight for SRV records.
          example: null
        flags:
          type:
          - integer
          - 'null'
          description: An unsigned integer between 0-255 used for CAA records.
          example: null
        tag:
          type:
          - string
          - 'null'
          description: The parameter tag for CAA records. Valid values are "issue", "issuewild", or "iodef"
          example: null
    meta:
      type: object
      properties:
        meta:
          allOf:
          - $ref: '#/components/schemas/meta_properties'
          - required:
            - total
      required:
      - meta
    link_to_next_page:
      type: object
      properties:
        next:
          description: URI of the next page of the results.
          type: string
          example: https://api.digitalocean.com/v2/images?page=2
    domain_record_caa:
      allOf:
      - $ref: '#/components/schemas/domain_record'
      - required:
        - type
        - name
        - data
        - flags
        - tag
    pagination:
      type: object
      properties:
        links:
          $ref: '#/components/schemas/page_links'
    domain_record_cname:
      allOf:
      - $ref: '#/components/schemas/domain_record'
      - required:
        - type
        - name
        - data
    link_to_prev_page:
      type: object
      properties:
        prev:
          description: URI of the previous page of the results.
          type: string
          example: https://api.digitalocean.com/v2/images?page=1
    domain_record_a:
      allOf:
      - $ref: '#/components/schemas/domain_record'
      - required:
        - type
        - name
        - data
    forward_links:
      allOf:
      - $ref: '#/components/schemas/link_to_last_page'
      - $ref: '#/components/schemas/link_to_next_page'
    link_to_first_page:
      type: object
      properties:
        first:
          description: URI of the first page of the results.
          type: string
          example: https://api.digitalocean.com/v2/images?page=1
    domain_record_mx:
      allOf:
      - $ref: '#/components/schemas/domain_record'
      - required:
        - type
        - data
        - priority
    domain_record_ns:
      allOf:
      - $ref: '#/components/schemas/domain_record'
      - required:
        - type
        - name
        - data
        - flags
        - tag
    page_links:
      type: object
      properties:
        pages:
          anyOf:
          - $ref: '#/components/schemas/forward_links'
          - $ref: '#/components/schemas/backward_links'
          - {}
          example:
            pages:
              first: https://api.digitalocean.com/v2/account/keys?page=1
              prev: https://api.digitalocean.com/v2/account/keys?page=2
  responses:
    created_domain_record:
      description: The response body will be a JSON object with a key called `domain_record`. The value of this will be an object representing the new record. Attributes that are not applicable for the record type will be set to `null`. An `id` attribute is generated for each record as part of the object.
      headers:
        ratelimit-limit:
          $ref: '#/components/headers/ratelimit-limit'
        ratelimit-remaining:
          $ref: '#/components/headers/ratelimit-remaining'
        ratelimit-reset:
          $ref: '#/components/headers/ratelimit-reset'
      content:
        application/json:
          schema:
            properties:
              domain_record:
                $ref: '#/components/schemas/domain_record'
            example:
              domain_record:
                id: 28448433
                type: A
                name: www
                data: 162.10.66.0
                priority: null
                port: null
                ttl: 1800
                weight: null
                flags: null
                tag: null
    unexpected_error:
      description: Unexpected error
      headers:
        ratelimit-limit:
          $ref: '#/components/headers/ratelimit-limit'
        ratelimit-remaining:
          $ref: '#/components/headers/ratelimit-remaining'
        ratelimit-reset:
          $ref: '#/components/headers/ratelimit-reset'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
          example:
            id: example_error
            message: some error message
    no_content:
      description: The action was successful and the response body is empty.
      headers:
        ratelimit-limit:
          $ref: '#/components/headers/ratelimit-limit'
        ratelimit-remaining:
          $ref: '#/components/headers/ratelimit-remaining'
        ratelimit-reset:
          $ref: '#/components/headers/ratelimit-reset'
    domain_record:
      description: The response will be a JSON object with a key called `domain_record`. The value of this will be a domain record object which contains the standard domain record attributes.
      headers:
        ratelimit-limit:
          $ref: '#/components/headers/ratelimit-limit'
        ratelimit-remaining:
          $ref: '#/components/headers/ratelimit-remaining'
        ratelimit-reset:
          $ref: '#/components/headers/ratelimit-reset'
      content:
        application/json:
          schema:
            properties:
              domain_record:
                $ref: '#/components/schemas/domain_record'
            example:
              domain_record:
                id: 3352896
                type: A
                name: blog
                data: 162.10.66.0
                priority: null
                port: null
                ttl: 1800
                weight: null
                flags: null
                tag: null
    all_domain_records_response:
      description: The response will be a JSON object with a key called `domain_records`. The value of this will be an array of domain record objects, each of which contains the standard domain record attributes. For attributes that are not used by a specific record type, a value of `null` will be returned. For instance, all records other than SRV will have `null` for the `weight` and `port` attributes.
      headers:
        ratelimit-limit:
          $ref: '#/components/headers/ratelimit-limit'
        ratelimit-remaining:
          $ref: '#/components/headers/ratelimit-remaining'
        ratelimit-reset:
          $ref: '#/components/headers/ratelimit-reset'
      content:
        application/json:
          schema:
            allOf:
            - type: object
              properties:
                domain_records:
                  type: array
                  items:
                    $ref: '#/components/schemas/domain_record'
            - $ref: '#/components/schemas/pagination'
            - $ref: '#/components/schemas/meta'
          examples:
            All Domain Records:
              $ref: '#/components/examples/domain_records_all'
    not_found:
      description: The resource was not found.
      headers:
        ratelimit-limit:
          $ref: '#/components/headers/ratelimit-limit'
        ratelimit-remaining:
          $ref: '#/components/headers/ratelimit-remaining'
        ratelimit-reset:
          $ref: '#/components/headers/ratelimit-reset'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
          example:
            id: not_found
            message: The resource you requested could not be found.
    too_many_requests:
      description: API Rate limit exceeded
      headers:
        ratelimit-limit:
          $ref: '#/components/headers/ratelimit-limit'
        ratelimit-remaining:
          $ref: '#/components/headers/ratelimit-remaining'
        ratelimit-reset:
          $ref: '#/components/headers/ratelimit-reset'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
          example:
            id: too_many_requests
            message: API Rate limit exceeded.
    unauthorized:
      description: Unauthorized
      headers:
        ratelimit-limit:
          $ref: '#/components/headers/ratelimit-limit'
        ratelimit-remaining:
          $ref: '#/components/headers/ratelimit-remaining'
        ratelimit-reset:
          $ref: '#/components/headers/ratelimit-reset'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
          example:
            id: unauthorized
            message: Unable to authenticate you.
    server_error:
      description: Server error.
      headers:
        ratelimit-limit:
          $ref: '#/components/headers/ratelimit-limit'
        ratelimit-remaining:
          $ref: '#/components/headers/ratelimit-remaining'
        ratelimit-reset:
          $ref: '#/components/headers/ratelimit-reset'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error'
          example:
            id: server_error
            message: Unexpected server-side error
  parameters:
    domain_type_query:
      name: type
      description: 'The type of the DNS record. For example: A, CNAME, TXT, ...'
      in: query
      schema:
        type: string
        enum:
        - A
        - AAAA
        - CAA
        - CNAME
        - MX
        - NS
        - SOA
        - SRV
        - TXT
      example: A
    domain_name:
      name: domain_name
      description: The name of the domain itself.
      in: path
      schema:
        type: string
      example: example.com
      required: true
    per_page:
      in: query
      name: per_page
      required: false
      description: Number of items returned per page
      schema:
        type: integer
        minimum: 1
        default: 20
        maximum: 200
      example: 2
    domain_record_id:
      name: domain_record_id
      description: The unique identifier of the domain record.
      in: path
      schema:
        type: integer
      example: 3352896
      required: true
    domain_name_query:
      name: name
      description: A fully qualified record name. For example, to only include records matching sub.example.com, send a GET request to `/v2/domains/$DOMAIN_NAME/records?name=sub.example.com`.
      in: query
      schema:
        type: string
      example: sub.example.com
    page:
      in: query
      name: page
      required: false
      description: Which 'page' of paginated results to return.
      schema:
        type: integer
        minimum: 1
        default: 1
      example: 1
  headers:
    ratelimit-reset:
      schema:
        type: integer
      example: 1444931833
      description: The time when the oldest request will expire. The value is given in Unix epoch time. See https://developers.digitalocean.com/documentation/v2/#rate-limit for information about how requests expire.
    ratelimit-remaining:
      schema:
        type: integer
      example: 4816
      description: The number of requests in your hourly quota that remain before you hit your request limit. See https://developers.digitalocean.com/documentation/v2/#rate-limit for information about how requests expire.
    ratelimit-limit:
      schema:
        type: integer
      example: 5000
      description: The default limit on number of requests that can be made per hour and per minute. Current rate limits are 5000 requests per hour and 250 requests per minute.
  examples:
    domain_records_all:
      value:
        domain_records:
        - id: 28448429
          type: NS
          name: '@'
          data: ns1.digitalocean.com
          priority: null
          port: null
          ttl: 1800
          weight: null
          flags: null
          tag: null
        - id: 28448430
          type: NS
          name: '@'
          data: ns2.digitalocean.com
          priority: null
          port: null
          ttl: 1800
          weight: null
          flags: null
          tag: null
        - id: 28448431
          type: NS
          name: '@'
          data: ns3.digitalocean.com
          priority: null
          port: null
          ttl: 1800
          weight: null
          flags: null
          tag: null
        - id: 28448432
          type: A
          name: '@'
          data: 1.2.3.4
          priority: null
          port: null
          ttl: 1800
          weight: null
          flags: null
          tag: null
        links: {}
        meta:
          total: 4
  securitySchemes:
    bearer_auth:
      type: http
      scheme: bearer
      description: '## OAuth Authentication


        In order to interact with the DigitalOcean API, you or your application must

        authenticate.


        The DigitalOcean API handles this through OAuth, an open standard for

        authorization. OAuth allows you to delegate access to your account.

        Scopes can be used to grant full access, read-only access, or access to

        a specific set of endpoints.


        You can generate an OAuth token by visiting the [Apps & API](https://cloud.digitalocean.com/account/api/tokens)

        section of the DigitalOcean control panel for your account.


        An OAuth token functions as a complete authentication request. In effect, it

        acts as a substitute for a username and password pair.


        Because of this, it is absolutely **essential** that you keep your OAuth

        tokens secure. In fact, upon generation, the web interface will only display

        each token a single time in order to prevent the token from being compromised.


        DigitalOcean access tokens begin with an identifiable prefix in order to

        distinguish them from other similar tokens.


        - `dop_v1_` for personal access tokens generated in the control panel

        - `doo_v1_` for tokens generated by applications using [the OAuth flow](https://docs.digitalocean.com/reference/api/oauth-api/)

        - `dor_v1_` for OAuth refresh tokens


        ### Scopes


        Scopes act like permissions assigned to an API token. These permissions

        determine what actions the token can perform. You can create API

        tokens that grant read-only access, full access, or limited access to

        specific endpoints by using custom scopes.


        Generally, scopes are designed to match HTTP verbs and common CRUD

        operations (Create, Read, Update, Delete).


        | HTTP Verb | CRUD Operation | Scope |

        |---|---|---|

        | GET | Read | `<resource>:read` |

        | POST | Create | `<resource>:create` |

        | PUT/PATCH | Update | `<resource>:update` |

        | DELETE | Delete | `<resource>:delete` |


        For example, creating a new Droplet by making a `POST` request to the

        `/v2/droplets` endpoint requires the `droplet:create` scope while

        listing Droplets by making a `GET` request to the `/v2/droplets`

        endpoint requires the `droplet:read` scope.


        Each endpoint below specifies which scope is required to access it when

        using custom scopes.


        ### How to Authenticate with OAuth


        In order to make an authenticated request, include a bearer-type

        `Authorization` header containing your OAuth token. All requests must be

        made over HTTPS.


        ### Authenticate with a Bearer Authorization Header


        ```

        curl -X $HTTP_METHOD -H "Authorization: Bearer $DIGITALOCEAN_TOKEN" "https://api.digitalocean.com/v2/$OBJECT"

        ```

        '
